<template>
    <div class="filter-term d-flex">
        <b-select
            v-model="value.field"
            :options="filteredFields"
            class="mr-2"
            size="sm"
            @change="changeField"
        />
        <b-select
            v-if="value.operator !== 'has'"
            v-model="value.operator"
            :options="filteredOperators"
            class="mr-2"
            size="sm"
            @change="changeOperator"
        />
        <b-select
            v-if="value.operator === 'has'"
            v-model="value.value"
            :options="fieldOperators.has"
            size="sm"
            @change="change"
        />
        <b-form-input
            v-else
            v-model="value.value"
            size="sm"
            :placeholder="$t('app.main.enter_value')"
            @change.native="changeValue"
        />
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: Object,
            required: true,
        },
        entityType: {
            type: String,
            default: null,
        },
    },
    data() {
        return {
            emptyTerm: {
                field: null,
                operator: null,
                value: null,
            },
            fields: [
                { value: null, text: this.$t('app.main.select_field') },
                { value: 'price', text: this.$t('app.art.columns.start_price') },
                { value: 'price_per_fight', text: this.$t('app.art.columns.price_per_fight') },
                { value: 'base_strength', text: this.$t('app.art.columns.base_strength') },
                { value: 'current_strength', text: this.$t('app.art.columns.current_strength') },
                {
                    value: 'craft',
                    text: this.$t('app.art.columns.craft'),
                },
                { value: 'quantity', text: this.$t('app.art.columns.quantity') },
                { value: 'seller_id', text: this.$t('app.art.columns.seller_id') },
            ],
            fieldOperators: {
                default: [{ value: null, text: this.$t('app.main.select_operator') }, '>', '>=', '<', '<=', {
                    value: '==',
                    text: '=',
                }],
                has: [{ value: 1, text: this.$t('app.main.yes') }, { value: 0, text: this.$t('app.main.no') }],
                seller_id: [
                    { value: null, text: this.$t('app.main.select_operator') },
                    {
                        value: '==',
                        text: '=',
                    },
                ],
            },
            fieldsForEntity: {
                art: ['price', 'price_per_fight', 'base_strength', 'current_strength', 'craft', 'seller_id'],
                element: ['price', 'quantity', 'seller_id'],
                resource: ['price', 'quantity', 'seller_id'],
                art_part: ['price', 'seller_id'],
                certificate: ['price', 'seller_id'],
                house: ['price', 'seller_id'],
                object_share: ['price', 'seller_id'],
            },
        };
    },
    computed: {
        filteredFields() {
            if (this.entityType && this.fieldsForEntity[this.entityType]) {
                return this.fields.filter((field) => field.value === null || this.fieldsForEntity[this.entityType].includes(field.value));
            }

            return this.fields;
        },
        filteredOperators() {
            return this.fieldOperators[this.value.field] || this.fieldOperators.default;
        },
    },
    created() {
        if (!this.term) {
            this.term = {};
        }

        if (this.term.field === undefined) {
            this.term.field = null;
        }
        if (this.term.operator === undefined) {
            this.term.operator = null;
        }
        if (this.term.value === undefined) {
            this.term.value = null;
        }
    },
    methods: {
        changeValue(event) {
            this.value.value = event.target.value;
            this.change();
        },
        changeField(value) {
            const hasFields = ['craft'];

            if (hasFields.includes(value) && this.value.operator !== 'has') {
                this.value.operator = 'has';
                this.value.value = 1;
            }

            if (!hasFields.includes(value) && this.value.operator === 'has') {
                this.value.operator = null;
                this.value.value = null;
            }

            this.change();
        },
        changeOperator() {
            this.change();
        },
        change() {
            this.$emit('change');
        },
    },
};
</script>

<style scoped>

</style>
