<template>
    <div
        v-if="innerFilter"
        @click="onClickCard"
    >
        <loading
            :show="isLoading"
            type="block"
        />
        <div class="d-flex justify-content-between align-items-start">
            <div class="d-flex mb-4 flex-column select-label">
                <div
                    v-if="!allowOnlyArt"
                    class="mb-2"
                >
                    <label>{{ $t('app.lots.filters.lot_type') }}:</label>
                    <b-select
                        v-if="isNewFilter"
                        v-model="innerFilter.lotType"
                        class="d-inline-block w-auto"
                        :options="lotTypes"
                        size="sm"
                        @change="onChangeLotType"
                    />
                    <strong v-else>{{ $t(`app.lots.lot_types.${innerFilter.lotType}`) }}</strong>
                </div>
                <div
                    v-if="!allowOnlyArt"
                    class="mb-2"
                >
                    <label>{{ $t('app.lots.filters.entity_type') }}:</label>
                    <b-select
                        v-if="isNewFilter"
                        v-model="innerFilter.entityType"
                        class="d-inline-block w-auto"
                        :options="filteredEntityTypes"
                        size="sm"
                        @change="onChangeEntityType"
                    />
                    <strong v-else>{{ $t(`app.lots.entity_types.${innerFilter.entityType}`) }}</strong>
                </div>
                <div>
                    <label>{{ $t(`app.lots.entity_types.${innerFilter.entityType}`) }}: </label>
                    <div
                        v-if="isNewFilter && ['art', 'art_part', 'element', 'resource', 'certificate'].includes(innerFilter.entityType)"
                        class="d-inline-block"
                    >
                        <select-art
                            v-if="['art', 'art_part'].includes(innerFilter.entityType)"
                            category-type="market"
                            :art-hwm-id="innerFilter.entityId"
                            :market-category-id="innerFilter.entityType === 'art_part' ? 'part' : null"
                            skip-empty-category
                            @select-art="onSelectEntity"
                        />
                        <select-element
                            v-if="innerFilter.entityType === 'element'"
                            :hwm-id="innerFilter.entityId"
                            @select="onSelectEntity"
                        />
                        <select-resource
                            v-if="innerFilter.entityType === 'resource'"
                            :hwm-id="innerFilter.entityId"
                            only-market
                            @select="onSelectEntity"
                        />
                        <select-certificate
                            v-if="innerFilter.entityType === 'certificate'"
                            :hwm-id="innerFilter.entityId"
                            class="w-auto"
                            @select="(area) => onSelectEntity(area ? {hwmId: area} : null)"
                        />
                    </div>
                    <strong v-else>{{ innerFilter.entity ? innerFilter.entity.title : $t('app.main.all') }}</strong>
                </div>
            </div>
            <!-- Checkbox for active state -->
            <b-form-checkbox
                v-if="!isNewFilter"
                v-model="innerFilter.isActive"
                v-tooltip="(innerFilter.isActive ? $t('app.main.disable') : $t('app.main.enable')) + ' ' + $t('app.main.filter')"
                name="check-button"
                switch
                class="ml-2"
                @change="onClickChangeActivity"
            >
                {{ $t('app.main.activity') }}
            </b-form-checkbox>
        </div>
        <div class="d-flex justify-content-between">
            <p>{{ $t('app.main.terms_filter') }} ({{ innerFilter.terms.length }}):</p>
        </div>
        <!-- START term card -->
        <ul class="list-group">
            <li
                v-for="(term, termIndex) in innerFilter.terms"
                :key="termIndex"
                class="list-group-item d-flex justify-content-between align-items-center"
                style="height: 48px"
                @click="onCLickTermForm"
            >
                <!-- Inputs -->
                <div class="d-flex align-items-center mr-4 flex-grow-1">
                    <span
                        class="mr-2"
                        style="width: 33px"
                    >#{{ termIndex + 1 }}</span>
                    <filter-term-form
                        v-if="termIndex === activeEditingTerm"
                        :value="term"
                        :entity-type="innerFilter.entityType"
                    />
                    <span
                        v-else
                        class="flex-grow-1 curp"
                        @click="onClickEditTerm(termIndex)"
                    >{{ filterTermAsString(term, innerFilter.sellers) }}</span>
                </div>
                <!-- Buttons -->
                <div>
                    <c-button
                        size="sm"
                        icon="close"
                        type="link"
                        :tooltip="$t('app.monitoring.delete_term_from_filter', { term: termIndex + 1, filter: innerFilter.id })"
                        @click="onClickDeleteTerm(termIndex)"
                    />
                </div>
            </li>
            <!-- Term (new) card -->
            <li
                v-if="newTerm && filter.terms.length < maxTermsInFilter"
                class="list-group-item d-flex justify-content-between"
            >
                <!-- Inputs -->
                <div class="d-flex align-items-center mr-4">
                    <span
                        class="mr-2"
                        style="width: 33px"
                    >New</span>
                    <filter-term-form
                        :value="newTerm"
                        :entity-type="innerFilter.entityType"
                    />
                </div>
                <!-- Buttons -->
                <div>
                    <c-button
                        icon="plus"
                        size="sm"
                        type="primary"
                        :tooltip="$t('app.monitoring.add_term_to_filter', { filter: innerFilter.id })"
                        :disabled="!hwm.termIsValid(newTerm)"
                        @click="onClickAddNewTerm"
                    />
                </div>
            </li>
        </ul>
        <div
            v-if="innerFilter.notifications && !isNewFilter"
            class="mt-4"
        >
            <icon
                name="info"
                :tooltip="$t('app.monitoring.notifications_info_text')"
            />
            {{ $t('app.main.notifications') }}:
            <b-form-checkbox
                v-for="channel in notificationChannels"
                :key="channel"
                v-model="innerFilter.notifications[channel]"
                v-tooltip="(innerFilter.notifications[channel] ? $t('app.main.disable') : $t('app.main.enable'))"
                :disabled="innerFilter.notifications[channel] === undefined"
                name="check-button"
                switch
                class="ml-2 mr-2"
                @change="onClickNotifyChannel(channel)"
            >
                {{ $t('app.main.' + channel) }}
            </b-form-checkbox>
        </div>

        <hr>
        <!-- Filter buttons (save, delete) -->
        <div class="d-flex justify-content-between">
            <c-button
                size="sm"
                :text="isNewFilter ? $t('app.main.add') : $t('app.main.save')"
                :icon="isNewFilter ? 'plus' : 'save'"
                :type="filterIsChanged() ? 'default' : 'primary'"
                :disabled="filterIsChanged()"
                @click="onClickSaveFilter"
            />
            <c-button
                v-if="!isNewFilter"
                size="sm"
                :text="$t('app.main.delete')"
                type="error"
                icon="delete"
                @click="onClickDeleteFilter"
            />
        </div>
    </div>
</template>

<script>
import cloneDeep from 'lodash/cloneDeep';

import FilterTermForm from 'JS/app/components/pages/lotFilters/FilterTermForm';
import notify from 'JS/app/utils/notify';
import SelectArt from '../../global/SelectArt';
import SelectElement from '../../global/SelectElement';
import SelectResource from '../../global/SelectResource';
import SelectCertificate from '../../global/SelectCertificate';

const idNewFilter = 'new';

export default {
    components: {
        SelectArt,
        SelectElement,
        SelectResource,
        SelectCertificate,
        FilterTermForm,
    },
    props: {
        filter: {
            type: Object,
            required: true,
        },
        loading: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            innerFilter: null,
            newTerm: null,
            activeEditingTerm: -1,
            maxTermsInFilter: 5,
            lotTypes: [{ value: 'sale' }, { value: 'auction' }, { value: 'blitz' }],
            entityTypes: [
                { value: 'art' },
                { value: 'element' },
                { value: 'resource' },
                { value: 'art_part' },
                { value: 'certificate' },
                { value: 'house' },
                { value: 'object_share' },
            ],
            selectedArt: null,
            allowOnlyArt: false,
        };
    },
    computed: {
        isLoading() {
            return this.loading;
        },
        isNewFilter() {
            return idNewFilter === this.innerFilter.id;
        },
        notificationChannels() {
            return this.$config.app.notificationChannels;
        },
        filteredEntityTypes() {
            if (this.innerFilter.lotType === 'sale') {
                return this.entityTypes.filter((entity) => !['object_share'].includes(entity.value));
            }

            return this.entityTypes;
        },
    },
    created() {
        this.initTransLabels();

        this.innerFilter = cloneDeep(this.filter);
        this.onChangeEntityType();

        this.resetNewTerm();
    },
    methods: {
        onClickChangeActivity() {
            this.$emit('changeActivity', this.innerFilter.isActive);
        },
        onClickNotifyChannel(channel) {
            this.$emit('changeNotifyAvailability', { channel, isAvailable: this.innerFilter.notifications[channel] });
        },
        onClickAddNewTerm() {
            if (!this.hwm.termIsValid(this.newTerm)) {
                notify.error(this.$t('app.monitoring.new_term_is_not_valid'));
                return;
            }

            if (this.innerFilter.terms.length >= this.maxTermsInFilter) {
                notify.error(this.$t('validation.max_terms_in_filter', { max: this.maxTermsInFilter }));
                return;
            }

            this.innerFilter.terms.push(this.newTerm);

            this.resetNewTerm();
        },
        onClickEditTerm(termIndex) {
            this.activeEditingTerm = termIndex;
        },
        onClickDeleteTerm(termIndex) {
            if (window.confirm(this.$t('app.pages.lot_filters.do_you_want_delete_term'))) {
                this.innerFilter.terms.splice(termIndex, 1);
            }
        },
        onClickSaveFilter() {
            if (this.isNewFilter) {
                this.$emit('clickCreate', this.innerFilter);
            } else {
                this.$emit('clickUpdate', { terms: this.innerFilter.terms });
            }

            this.resetTermsState();
        },
        onClickDeleteFilter() {
            this.$emit('onDelete');
        },
        onChangeLotType() {
            //
        },
        onChangeEntityType() {
            this.innerFilter.entityId = null;
        },
        onSelectEntity(entity) {
            this.innerFilter.entityId = entity.hwmId;
        },
        filterIsChanged() {
            return this.hwm.termsToValue(this.innerFilter.terms, false) === this.hwm.termsToValue(this.filter.terms, false);
        },

        initTransLabels() {
            this.lotTypes.map((type) => {
                type.text = this.$t(`app.lots.lot_types.${type.value}`);
                return type;
            });
            this.entityTypes.map((type) => {
                type.text = this.$t(`app.lots.entity_types.${type.value}`);
                return type;
            });
        },
        resetNewTerm() {
            this.newTerm = {
                field: null,
                operator: null,
                value: null,
            };
        },
        resetTermsState() {
            this.activeEditingTerm = -1;
        },
        onClickCard() {
            this.resetTermsState();
        },
        onCLickTermForm(event) {
            event.stopPropagation();
        },
    },
};
</script>

<style scoped>
.w-auto {
    width: auto !important;
}

.select-label label {
    width: 120px;
}

.select-art {
    min-width: 300px;
}

@media (max-width: 500px) {
    .select-art {
        min-width: 0;
        width: 280px;
        max-width: 100%;
    }
}
</style>
