<template>
    <div
        v-if="filter"
        class="LotFilterCard"
    >
        <div
            class="card art-card posr"
            :class="{'bg-secondary': !filter.isActive}"
        >
            <div class="card-header d-flex flex-row justify-content-between text-center ">
                <div class="d-flex justify-content-start align-items-center overflow-hidden">
                    <lot-preview-link :lot-entity="filterEntity" />
                    <span
                        v-tooltip="$t(`app.lots.lot_types.${filter.lotType}`)"
                        class="circle ml-1 mr-1"
                        :class="filter.lotType"
                    />
                </div>
                <b-button-group>
                    <c-button
                        icon="conf"
                        :tooltip="$t('app.main.settings')"
                        @click="onClickEditFilter"
                    />
                    <c-button
                        class="text-danger"
                        icon="delete"
                        :tooltip="$t('app.main.delete')"
                        @click="onClickDeleteFilter"
                    />
                </b-button-group>
            </div>
            <div class="card-body">
                <div
                    v-tooltip="filterTermsToString(filter.terms)"
                    class="text-truncate"
                    :class="{'text-muted': !filter.isActive}"
                >
                    {{ filterTermsToString(filter.terms) }}
                </div>
            </div>
            <div
                v-if="false"
                class="card-footer"
            >
                Нотфікації
            </div>
        </div>

        <b-modal
            :id="editFilterModalId"
            size="lg"
            hide-footer
        >
            <template v-slot:modal-title>
                {{ $t('app.pages.lot_filters.edit_filter', { id: filter.id }) }}
            </template>
            <lot-filter-settings
                :filter="filter"
                :loading="isLoading"
                @onDelete="onClickDeleteFilter"
                @clickUpdate="onUpdateFilter"
                @changeActivity="onChangeActivityFilter"
                @changeNotifyAvailability="onChangeNotifyAvailability"
            />
        </b-modal>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import notify from 'JS/app/utils/notify';
import LotPreviewLink from './LotPreviewLink';
import LotFilterSettings from './LotFilterSettings';

export default {
    components: { LotFilterSettings, LotPreviewLink },
    props: {
        filter: {
            required: true,
            type: Object,
        },
    },
    data() {
        return {
            filterEntity: {
                title: 'undefined',
                image: '/images/undefined.png',
            },
        };
    },
    methods: {
        ...mapActions('LotFilters', [
            'updateFilter',
            'deleteFilter',
            'updateNotifyChannel',
        ]),
        onClickEditFilter() {
            this.openModal(this.editFilterModalId);
        },
        async onUpdateFilter(data) {
            const isUpdated = await this.updateFilter({ filterId: this.filter.id, data });

            if (isUpdated) {
                notify.success(this.$t('app.pages.lot_filters.filter_was_updated'));
            } else {
                notify.error(this.$t('errors.something_went_wrong'));
            }
        },
        async onChangeActivityFilter(state) {
            await this.onUpdateFilter({ isActive: state });
        },
        async onChangeNotifyAvailability({ channel, isAvailable }) {
            await this.updateNotifyChannel({ filterId: this.filter.id, channel, isAvailable });
        },
        async onClickDeleteFilter() {
            if (window.confirm(this.$t('app.pages.lot_filters.do_you_want_to_delete_filter', { filterId: this.filter.id }))) {
                const isDeleted = await this.deleteFilter({ filterId: this.filter.id });
                if (isDeleted) {
                    this.hideModal(this.editFilterModalId);
                    notify.success(this.$t('app.pages.lot_filters.filter_was_deleted'));
                } else {
                    notify.error(this.$t('errors.something_went_wrong'));
                }
            }
        },
        prepareLotEntityToPreview(lotEntity) {
            if (!lotEntity) {
                lotEntity = {
                    image: this.getFilterEntityImage(this.filter),
                };
            }

            return lotEntity;
        },
        filterTermsToString(terms) {
            const stringTerms = terms.map((term) => this.filterTermAsString(term, this.filter.sellers));

            return stringTerms.join(' & ');
        },
    },
    computed: {
        ...mapGetters('LotFilters', {
            isLoading: 'getLoading',
        }),
        editFilterModalId() {
            return `lot_filter_settings_${this.filter.id}`;
        },
    },
    created() {
        this.filterEntity = { ...this.filter.entity };
    },
};
</script>

<style scoped>
.circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.circle.sale {
    background-color: #3498DB;
}

.circle.auction {
    background-color: #F39C12;
}

.circle.blitz {
    background-color: #e74c3c;
}
</style>
