<template>
    <div class="d-flex align-items-center">
        <a v-if="lotEntity.hwmLink" :href="lotEntity.hwmLink" target="_blank"
           v-tooltip="$t('app.art.open_art_in_hwm')">
            <img :src="lotEntity.image" class="mr-1 art-img">
        </a>
        <span v-else>
            <img :src="lotEntity.image" class="mr-1 art-img">
        </span>
        <a
            v-if="lotEntity.hwmMarketLink"
            :href="lotEntity.hwmMarketLink"
            target="_blank"
            v-tooltip="$t('app.art.open_market_in_hwm')"
            class="text-truncate"
        >
            {{ lotEntity.title }}
        </a>
        <span v-else class="text-truncate">{{ lotEntity.title }}</span>
    </div>
</template>

<script>
export default {
    props: {
        lotEntity: {
            required: true,
            type: Object,
        },
    },
};
</script>

<style scoped>

</style>
