.btn.disabled, fieldset:disabled .btn:disabled {
    cursor: not-allowed;
}

.btn-sm  {
    font-size: .8203125rem;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-group-sm > .btn, .btn-sm, .btn-xs {
    //padding: .375rem .5rem;
}

.btn-xs {
	@extend .btn-sm;
	padding: 0.25rem 0.25rem;
	line-height: 1;
}

.btn:focus, .btn.focus, input:focus, select:focus {
	box-shadow: none !important;
	outline: none !important;
}

.btn-group .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.text-left {
    justify-content: left;
}
.btn.text-right {
    justify-content: right;
}

.btn-group .btn:not(:first-child) {
    border-left-color: darken($secondary, 10%);
}
