label {
	margin-bottom: 0;
}

.custom-control-input:focus ~ .custom-control-label::before {
	box-shadow: none;
}

input:disabled, select:disabled, textarea:disabled {
	@extend .bg-muted;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
	border-color: transparent;
}

.custom-control-input:checked ~ .custom-control-label::before {
	border-color: $primary;
    background-color: $primary;
}

.custom-switch {
	display: inline-block;
}

.custom-switch label {
	cursor: pointer;
}

label.required:after {
	content: '*';
	color: $danger;
}