@import '../../list_hwm_icons';

@mixin icon-hwm() {
	display: inline-block;
    background-size: cover;
	vertical-align: middle;
	width: 24px;
    height: 24px;
}
@mixin icon-hwm-sm(){
	width: 15px;
	height: 15px;
}
@mixin icon-hwm-xs(){
	width: 10px;
	height: 10px;
}
@mixin icon-hwm-lg(){
	width: 30px;
	height: 30px;	
}

@each $icon, $image in $list_hwm_icons {
    .icon-hwm-#{$icon} {
    	@include icon-hwm();
		background-image: url('#{$image}');
		@if (str-index($image, 'crafts')) {
			@include icon-hwm-xs();
		}
		@if (str-index($image, 'fractions') or str-index($image, 'star')) {
			@include icon-hwm-sm();
		}
		@if (str-index($image, 'elements')) {
			@include icon-hwm-lg();
		}
    }
}