.navbar-nav .nav-link {
	display: inline-block;
	padding: 0.75rem 2rem;
}
.navbar-brand img {
	width: 26px;
}
.navbar {
	background: $light;
	padding: 0.5rem;
    padding-right: 0 !important;
    height: $navbar-height;
}

.navbar-dark .navbar-toggler {
	border: none;
}

.navbar-dark .navbar-brand {
	color: inherit;
}

.navbar-dark .navbar-nav .router-link-active {
    color: $green;
}

@include media-breakpoint-down(md) {
	.navbar .navbar-collapse {
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		z-index: 1;
		background: $gray-700;
		padding-top: 1rem;
		text-align: center;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
		border-bottom: 1px solid $dark;
	}
}
