.noty_theme__darkly.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: $alert-border-radius;
  color: $white;

  .noty_body {
	padding: .75rem 1.25rem;

    ul {
        padding-left: 20px;
    }
  }

  .noty_buttons {
	padding: 10px;
  }

  .noty_close_button {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: inherit;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .5;
	background: transparent;
  }

  .noty_close_button:hover {
	background: transparent;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: .75;
  }
}

.noty_theme__darkly.noty_type__alert,
.noty_theme__darkly.noty_type__notification {
  @extend .bg-secondary;
  color: inherit;
  border-top: 2px solid $gray-600;
}

.noty_theme__darkly.noty_type__warning {
  @extend .bg-warning;
  color: inherit;
}

.noty_theme__darkly.noty_type__error {
  @extend .bg-danger;
  color: inherit;
}

.noty_theme__darkly.noty_type__info,
.noty_theme__darkly.noty_type__information {
  @extend .bg-info;
  color: inherit;
}

.noty_theme__darkly.noty_type__success {
  @extend .bg-success;
  color: inherit;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
    opacity: 0.3;
    background-color: $dark;
}

.noty_layout > .noty_bar:not(:last-child) {
    margin-bottom: 1rem;
}
.noty_has_timeout.noty_has_progressbar.noty_type__alert .noty_progressbar {
    background-color: $gray-600;
}
