.table {
	background-color: $table-bg !important;
	//color: $table-dark-color !important;
	//border-color: $table-dark-border-color !important;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: $secondary;
}
.table td, .table th {
    padding: .5rem .75rem;
}
