<template>
    <lots-table
        :data="data"
        :columns="columns"
        :options="mergedOptions"
        :full-table="true"
        ref="lotsTable"
    />
</template>

<script>
import LotsTable from 'JS/app/components/lots/LotsTable';
import merge from 'lodash/merge';

export default {
    components: {
        LotsTable,
    },
    props: {
        data: {
            type: Array,
        },
        options: {
            type: Object,
            default: () => {},
        },
    },
    data() {
        return {
            columns: [
                'lot',
                'status',
                'price',
                'pricePerFight',
                'sellerName',
                'startedAt',
                // 'endedAt',
                'updatedAt',
            ],
            defaultOptions: {
                sortable: ['price', 'pricePerFight', 'startedAt'],
                showChildRowToggler: true,
            },
        };
    },
    computed: {
        mergedOptions() {
            return merge(this.defaultOptions, this.options);
        },
        table() {
            return this.$refs.lotsTable;
        },
    },
};
</script>
