<template>
    <v-client-table
        ref="clientTable"
        class="lots-table"
        :data="data"
        :columns="columns"
        :options="mergedOptions"
    >
        <div
            slot="lot"
            slot-scope="props"
        >
            <div
                v-if="fullTable"
                class="d-flex align-items-center"
            >
                <a
                    v-if="props.row.entity.hwmLink"
                    v-tooltip="$t('app.art.open_art_in_hwm')"
                    :href="props.row.entity.hwmLink"
                    target="_blank"
                >
                    <img
                        :src="props.row.entity.image"
                        class="mr-1 art-img"
                        @error="errorLoadArtImg"
                    >
                </a>
                <span v-else>
                    <img
                        :src="props.row.entity.image"
                        class="mr-1 art-img"
                    >
                </span>
                <a
                    v-tooltip="$t('app.art.open_market_in_hwm')"
                    :href="props.row.entity.hwmMarketLink"
                    target="_blank"
                >
                    {{ props.row.entity.title }}
                </a>
                <a
                    v-if="!props.row.currentStrength && !props.row.baseStrength"
                    v-tooltip="$t('app.art.open_lot_protocol')"
                    :href="hwm.link.lot(props.row.lotId, props.row.crc)"
                    target="_blank"
                    class="ml-2"
                >
                    <icon name="link" />
                </a>
            </div>
            <div class="text-nowrap">
                <icon
                    v-if="hwm.lotHasAccordedFilters(props.row)"
                    name="filters"
                    class="text-primary"
                    :tooltip="$t('app.monitoring.accorded_filters') + ':<br> #' + getFiltersIdsFromLot(props.row).join(', #')"
                />
                <span v-if="props.row.currentStrength || props.row.baseStrength">
                    <span>
                        {{ $t('app.art.strength') }}: <span class="font-weight-bold">{{ props.row.currentStrength }}/{{ props.row.baseStrength }}</span>
                    </span>
                    <a
                        v-tooltip="$t('app.art.open_lot_protocol')"
                        :href="hwm.link.lot(props.row.lotId, props.row.crc)"
                        target="_blank"
                        class="ml-2"
                    >
                        <icon name="link" />
                    </a>
                </span>
                <div>
                    <craft-string
                        v-if="props.row.craft"
                        class="craft-string"
                        :craft="props.row.craft"
                    />
                    <span v-if="props.row.quantity > 1">{{ props.row.quantity }} {{ $t('app.main.pc') }}.</span>
                </div>
            </div>
        </div>
        <div
            slot="status"
            slot-scope="{ row }"
            class="text-center"
        >
            <div
                v-if="row.isActive"
                class="text-warning text-nowrap"
            >
                {{ $t('app.lots.status.on_market') }}
            </div>
            <div
                v-if="!row.isActive && row.isBuyed"
                class="text-info text-nowrap"
            >
                {{ $t('app.lots.status.buyed') }}
            </div>
            <div
                v-if="!row.isActive && !row.isBuyed"
                class="text-muted text-nowrap"
            >
                {{ $t('app.lots.status.not_buyed') }}
            </div>
        </div>
        <div
            slot="price"
            slot-scope="{ row }"
            class="text-nowrap"
        >
            <span v-if="row.price">
                <icon name="gold" /> {{ row.price | hwmNumber }} <span v-if="row.lotType == 'auction' || row.lotType == 'blitz'">({{ $t('app.lots.lot_types.auction') }})</span>
            </span>
            <div v-if="row.blitzPrice">
                <icon name="gold" /> {{ row.blitzPrice | hwmNumber }} <span>({{ $t('app.lots.columns.blitz_price') }})</span>
            </div>
        </div>
        <div
            slot="pricePerFight"
            slot-scope="props"
            class="text-nowrap"
        >
            <span v-if="props.row.pricePerFight">
                <icon name="gold" />
                <a
                    v-tooltip="$t('app.art.open_in_calculator')"
                    :href="hwm.link.calculator(lotForCalculator(props.row))"
                    target="_blank"
                >
                    {{ props.row.pricePerFight | hwmPPF }}
                </a>
            </span>
        </div>
        <div
            slot="sellerName"
            slot-scope="props"
        >
            <a
                v-tooltip="$t('app.art.open_character_in_hwm', { character: props.row.sellerName })"
                :href="hwm.link.character(props.row.sellerId)"
                class="text-truncate"
                style="max-width: 120px;"
                target="_blank"
            >
                {{ props.row.sellerName }}
            </a>
        </div>
        <div
            slot="startedAt"
            slot-scope="{ row }"
            class="text-nowrap"
        >
            <span>{{ $options.filters.utcToCurrentTz(row.startedAt) }}</span>
        </div>
        <div
            slot="endedAt"
            slot-scope="{ row }"
            class="text-nowrap"
        >
            <span v-if="row.startedAt">{{ $options.filters.utcToCurrentTz(row.endedAt) }}</span>
            <span
                v-else
                v-tooltip="$options.filters.utcToCurrentTz(row.endedAt)"
            >{{ row.endedAtHuman }}</span>
        </div>
        <div
            slot="updatedAt"
            slot-scope="{ row }"
            class="text-nowrap text-center"
        >
            <icon
                v-if="loadingUpdateLotStatus[row.lotId]"
                name="loading"
            />
            <span
                v-else-if="!row.isBuyed && !row.isParsed"
                v-tooltip="$t('app.lots.press_to_update_lot')"
                class="font-weight-bold curp"
                @click.prevent="updateRow(row.lotId)"
            >
                {{ $options.filters.utcToCurrentTz(row.updatedAt) }}
            </span>
            <span v-else>{{ $options.filters.utcToCurrentTz(row.updatedAt) }}</span>
        </div>
    </v-client-table>
</template>

<script>
import Vue from 'vue';
import { mapActions } from 'vuex';
import { ClientTable } from 'vue-tables-2';
import MySortControl from 'JS/app/components/global/MySortControl';
import CraftString from 'JS/app/components/global/CraftString';

import merge from 'lodash/merge';
import notify from 'JS/app/utils/notify';
import { errorLoadArtImg } from 'JS/app/utils/helpers';

Vue.use(ClientTable, {}, false, 'bootstrap4', {
    sortControl: MySortControl,
});

export default {
    components: {
        CraftString,
    },
    props: {
        data: {
            type: Array,
        },
        columns: {
            type: Array,
        },
        options: {
            type: Object,
            default: () => {},
        },
        art: {
            type: Object,
            required: false,
        },
        fullTable: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            defaultOptions: {
                headings: {},
                filterable: false,
                skin: 'table table-striped table-bordered',
                perPage: 1000,
                texts: {
                    count: '',
                },
                uniqueKey: 'lotId',
                updateRowCallback: null,
                pagination: {
                    show: false,
                },
            },
            loadingUpdateLotStatus: {},
        };
    },
    methods: {
        ...mapActions('Market', [
            'updateLot',
        ]),
        ...mapActions('Arts', [
            'findArtByHwmId',
        ]),
        getFiltersIdsFromLot(lot) {
            return lot.accorded_filters.data.map((filter) => filter.id);
        },
        lotForCalculator(lot) {
            const art = lot.entity.type === 'art' ? this.findArtByHwmId(lot.entity.hwmId) : null;
            if (!art) {
                return {};
            }

            const params = {
                art: lot.entity.hwmId,
                price: lot.price,
                current_strength: lot.currentStrength,
                base_strength: lot.baseStrength,
                repair: art.repair,
                masters: '90/100',
            };

            if (lot.craft) {
                params.craft = lot.craft;
            }

            return params;
        },
        updateColumnHeadings() {
            this.columns.forEach((column) => {
                this.defaultOptions.headings[column] = this.$t(`app.lots.columns.${column}`);
            });
            this.defaultOptions.texts.noResults = this.$t('app.art.not_found_lots');
        },
        updateRow(lotId) {
            if (this.loadingUpdateLotStatus[lotId]) {
                return;
            }
            this.$set(this.loadingUpdateLotStatus, lotId, true);
            this.updateLot(lotId).then((newLot) => {
                if (!newLot || !newLot.lotId) {
                    this.$set(this.loadingUpdateLotStatus, lotId, false);
                    notify.error(this.$t('app.lots.lot_not_updated', { lot: lotId }));
                    return;
                }
                this.data.forEach((item, index) => {
                    if (item.lotId === lotId) {
                        this.$set(this.data, index, newLot);
                    }
                });
                notify.success(this.$t('app.lots.lot_updated', { lot: lotId }));
                this.$set(this.loadingUpdateLotStatus, lotId, false);
            }).catch(() => {
                notify.error(this.$t('app.lots.lot_not_updated', { lot: lotId }));
                this.$set(this.loadingUpdateLotStatus, lotId, false);
            });
        },
        errorLoadArtImg(event) {
            errorLoadArtImg(event);
        },
    },
    computed: {
        mergedOptions() {
            return merge(this.defaultOptions, this.options);
        },
    },
    created() {
        this.updateColumnHeadings();
    },
};
</script>

<style>
.VueTables__child-row-toggler {
    font-weight: bold;
    display: block;
    margin: auto;
    text-align: center;
}
.VueTables__child-row-toggler:hover {
    cursor: pointer;
}
.VueTables__child-row-toggler--closed::before {
    content: "+";
}

.VueTables__child-row-toggler--open::before {
    content: "-";
}
.VueTables__limit {
    display: none;
}
</style>
