<template>
    <div class="lot-operation">
        {{ operation.time | utcToCurrentTz}}&nbsp;
        <span v-if="operation.type === 'create'">
            {{ $t('app.lots.operations.create') }}: {{ $t('app.main.price')}} <icon name="gold" /> {{ operation.current_price | hwmNumber }} {{ operation.current_quantity }}{{ $t('app.main.pc')}}
        </span>
        <span v-if="operation.type === 'sale'">
            {{ $t('app.lots.operations.sale') }}:&nbsp;
            <a
                v-tooltip="$t('app.art.open_character_in_hwm', { character: operation.buyer_name })"
                :href="hwm.link.character(operation.buyer_id)"
                class="text-truncate"
                style="max-width: 120px;"
                target="_blank"
            >
                {{ operation.buyer_name }}
            </a>&nbsp;
            {{ operation.buyed_quantity }}{{ $t('app.main.pc')}}
        </span>
        <span v-if="operation.type === 'rate'">
            {{ $t('app.lots.operations.rate') }}:&nbsp;
            <a
                v-tooltip="$t('app.art.open_character_in_hwm', { character: operation.buyer_name })"
                :href="hwm.link.character(operation.buyer_id)"
                class="text-truncate"
                style="max-width: 120px;"
                target="_blank"
            >
                {{ operation.buyer_name }}
            </a>&nbsp;
            <icon name="gold" /> {{ operation.current_price | hwmNumber }}
        </span>
        <span v-if="operation.type === 'end'">
            {{ $t('app.lots.operations.end') }}: {{ !operation.current_quantity ? $t('app.lots.product_is_sold') : `${$t('app.lots.returned')} ${operation.current_quantity}${$t('app.main.pc')}`}}
        </span>
    </div>
</template>
<script>
export default {
    props: {
        operation: {
            type: Object,
        },
    },
};
</script>
