<template>
    <lots-table
        :data="data"
        :columns="columns"
        :options="mergedOptions"
        :art="art"
        ref="lotsTable"
    />
</template>

<script>
import LotsTable from 'JS/app/components/lots/LotsTable';
import merge from 'lodash/merge';

export default {
    components: {
        LotsTable,
    },
    props: {
        data: {
            type: Array,
        },
        options: {
            type: Object,
            default: () => {},
        },
        art: {
            type: Object,
            required: false,
        },
    },
    data() {
        return {
            columns: ['lot', 'price', 'pricePerFight', 'sellerName', 'endedAt'],
            defaultOptions: {
                orderBy: {
                    column: 'pricePerFight',
                },
                sortable: ['price', 'pricePerFight', 'sellerName', 'endedAt'],
            },
        };
    },
    computed: {
        mergedOptions() {
            return merge(this.defaultOptions, this.options);
        },
        table() {
            return this.$refs.lotsTable;
        },
    },
};
</script>
