<template>
    <div class="market">
        <div class="container">
            <loading
                :show="loading"
                :fixed="true"
                type="block"
            />

            <div class="mb-4 d-flex justify-content-between flex-sm-row flex-column align-items-center">
                <div class="align-middle">
                    <h1 class="d-inline-block">
                        Аналітика
                    </h1>
                </div>

                <div
                    v-if="!loading"
                    class="actions d-flex flex-nowrap align-items-center"
                >
                    <c-button
                        :tooltip="$t('app.main.refresh')"
                        icon="refresh"
                        :disabled="loading"
                        @click="refreshData"
                    />
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <select-art
                        class="w-100"
                        style="max-width: 300px;"
                        :art="selectedArt"
                        :skip-empty-category="true"
                        category-type="market"
                        @select-art="onSelectArt"
                    />
                    <div class="d-flex">
                        <b-select
                            v-model="interval"
                            class="w-auto"
                            :options="intervalValues.map(value => {return {value, text: $t('app.analytics.intervals.' + value)}})"
                            size="sm"
                            @change="refreshData"
                        />
                        <datepicker
                            v-model="dateRange"
                            class="ml-4"
                        />
                    </div>
                </div>
                <div class="card-body">
                    <LineChart
                        v-if="chartData.datasets.length"
                        :options="chartOptions"
                        :data="chartData"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import request from 'JS/app/utils/request';
import { mapActions } from 'vuex';
import SelectArt from 'JS/app/components/global/SelectArt';
import Datepicker from 'JS/app/components/lots/filters/Datepicker';
import forEach from 'lodash/forEach';
import LineChart from '../components/charts/LineChart';

export default {
    components: {
        SelectArt,
        Datepicker,
        LineChart,
    },
    data() {
        return {
            loading: false,
            dateRange: ['2008-01-01', '2008-03-01'],
            selectedArt: null,
            interval: '1d',
            intervalValues: ['1d', '1w', '1M', '1y'],
            datasets: [],
        };
    },
    computed: {
        chartOptions() {
            return {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false, // отключает легенду, бесполезную когда на графике одна линия
                },
                parsing: {
                    xAxisKey: 'date',
                    yAxisKey: 'price_avg',
                },
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            precision: 2, // точность округления значений по оси y
                            maxTicksLimit: 4, // максимальное количество значений (и рёбер сетки) по оси y
                        },
                    }],
                    xAxes: [{
                        display: true,
                        ticks: {
                            maxTicksLimit: 5, // максимальное количество значений (и рёбер сетки) по оси x
                        },
                    }],
                },
            };
        },
        chartData() {
            return {
                datasets: this.datasets,
            };
        },
    },
    async created() {
        this.setDatasetsFromResponse(await this.requestAnalyticsLots({
            entity_type: 'art',
            entity_id: 'power_sword',
            interval: '1d',
            from: '2008-01-01',
            to: '2009-01-01',
            metrics: 'price:avg;price:min;price:max',
        }));
    },
    methods: {
        ...mapActions('Arts', [
            'findArtByHwmId',
        ]),
        onSelectArt(art) {
            this.selectedArt = art;
        },
        onChangeDateRange(dateRange) {
            this.dateRange = dateRange;
        },
        async requestAnalyticsLots(params) {
            const response = await request.get('/api/v1/analytics/lots', { params });

            return response.data.data;
        },
        async updateDatasets() {
            try {
                this.loading = true;

                const response = await this.requestAnalyticsLots({
                    entity_type: 'art',
                    entity_id: this.selectedArt.hwmId,
                    from: this.dateRange[0],
                    to: this.dateRange[1],
                    interval: this.interval,
                    metrics: 'price:avg;price:min;price:max',
                });

                this.setDatasetsFromResponse(response);

                this.loading = false;
            } catch (e) {
                this.loading = false;
                console.error(e);
            }
        },
        setDatasetsFromResponse(data) {
            const result = [];

            forEach(data, (item, entityHwmId) => {
                this.findArtByHwmId(entityHwmId).then((art) => {
                    result.push({
                        label: art ? art.title : entityHwmId,
                        data: item,
                        borderColor: '#3498db',
                        backgroundColor: '#3498db',
                        pointRadius: 0,
                        borderWidth: 1,
                    });
                });
            });

            this.datasets = result;
        },
        async refreshData() {
            await this.updateDatasets();
        },
    },
};
</script>
