<template>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xl-8 col-lg-10 col-12 calculator">
                <b-card class="posr">
                    <div
                        slot="header"
                        class="flex-justify-content flex-wrap"
                    >
                        <div class="posr d-flex align-items-center">
                            <icon
                                v-if="reverseMode"
                                v-tooltip="$t('app.calculator.info_about_test_mode')"
                                class="small info posal text-warning"
                                name="info"
                            />
                            <h5
                                ref="calculatorTitle"
                                class="card-title d-inline-block"
                            >
                                {{ $t('app.main.calculator') }}
                            </h5>
                            <c-button
                                type="link"
                                :tooltip="$t('app.calculator.enable_mode') + ': ' + modesNames[currentMode * -1]"
                                icon="change"
                                class="ml-2"
                                :class="{'text-primary': reverseMode}"
                                @click.native="toggleMode"
                            />
                        </div>
                        <div>
                            <b-button-group>
                                <c-button
                                    :tooltip="$t('app.calculator.copy_link_on_data')"
                                    @click="copyLinkToClipboard(false)"
                                >
                                    <icon name="clipboard" />
                                </c-button>
                                <c-button
                                    :tooltip="$t('app.calculator.copy_link_on_data_with_masters')"
                                    @click="copyLinkToClipboard(true)"
                                >
                                    <icon name="clipboard" />
                                    <small>&nbsp;+&nbsp;</small>
                                    <icon name="repair" />
                                </c-button>
                                <c-button
                                    icon="art"
                                    :tooltip="$t('app.art.select_art')"
                                    :loading="loadingArts"
                                    @click="loadSelectArt"
                                />
                                <c-button
                                    :tooltip="$t('app.main.reset_all_parameters')"
                                    icon="refresh"
                                    class="text-danger"
                                    @click="refreshAllData"
                                />
                            </b-button-group>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-6 col-md-7 col-12">
                            <div
                                v-if="defaultMode"
                                class="row form-group align-items-center"
                            >
                                <label class="col-sm-6">
                                    {{ $t('app.art.base_price') }}:
                                </label>
                                <div class="col-sm-6">
                                    <number-input
                                        ref="price"
                                        v-model="art.price"
                                        classes="form-control form-control-sm"
                                        :min="0"
                                        :max="9999999"
                                        @blur="calculate"
                                    />
                                </div>
                            </div>
                            <div
                                v-if="reverseMode"
                                class="row form-group align-items-center"
                            >
                                <label class="col-sm-6">
                                    <span class="posr">
                                        <icon
                                            class="small text-muted info posal"
                                            name="info"
                                            :tooltip="$t('app.calculator.info_to_price_per_fight_mode_0')"
                                        />
                                    </span>
                                    <span>{{ $t('app.art.columns.price_per_fight') }}:</span>
                                </label>
                                <div class="col-sm-6">
                                    <number-input
                                        ref="pricePerFight"
                                        v-model="art.pricePerFight"
                                        classes="form-control form-control-sm"
                                        :min="0"
                                        :max="9999999"
                                        @blur="calculate"
                                    />
                                </div>
                            </div>
                            <div class="row form-group align-items-center">
                                <label class="col-sm-6">{{ $t('app.art.current_strength') }}: </label>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col">
                                            <number-input
                                                ref="currentStrength"
                                                v-model="art.currentStrength"
                                                classes="form-control form-control-sm"
                                                :min="0"
                                                :max="9999999"
                                                @blur="checkCurrentStrength(); calculate();"
                                            />
                                        </div>
                                        <div class="col align-self-center flex-grow-0 p-0 m-0">
                                            <span class="">/</span>
                                        </div>
                                        <div class="col">
                                            <number-input
                                                ref="baseStrength"
                                                v-model="art.baseStrength"
                                                classes="form-control form-control-sm"
                                                :min="0"
                                                :max="9999999"
                                                @blur="checkBaseStrength(); calculate();"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group align-items-center">
                                <label class="col-sm-6">{{ $t('app.art.repair_cost') }}: </label>
                                <div class="col-sm-6">
                                    <number-input
                                        ref="repair"
                                        v-model="art.repair"
                                        classes="form-control form-control-sm"
                                        :min="0"
                                        :max="9999999"
                                        @blur="calculate"
                                    />
                                </div>
                            </div>
                            <div
                                v-if="defaultMode"
                                class="row form-group align-items-center"
                            >
                                <label class="col-sm-6">
                                    <span class="posr">
                                        <icon
                                            class="text-muted info"
                                            size="sm"
                                            name="info"
                                            :tooltip="$t('app.calculator.info_to_price_per_fight_mode_1')"
                                        />
                                        <span :class="{'text-muted': !art.resonablePricePerFight}">
                                            {{ $t('app.art.columns.price_per_fight') }}:
                                        </span>
                                    </span>
                                </label>
                                <div class="col-sm-6">
                                    <number-input
                                        ref="resonablePricePerFight"
                                        v-model="art.resonablePricePerFight"
                                        :classes="'form-control form-control-sm' + (!art.resonablePricePerFight ? ' bg-muted' : '')"
                                        :min="0"
                                        :max="9999999"
                                        :step="0.01"
                                        @blur="calculate"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 col-12 masters mt-md-0 mt-4">
                            <transition-group
                                name="el-fade-in"
                                appear
                                tag="div"
                            >
                                <div
                                    v-for="(master, index) in masters"
                                    :key="'master-' + index"
                                    class="row form-group master"
                                >
                                    <div class="col-5 col-sm-6 col-md-5">
                                        <span v-if="index === 0 && mastersSource === 'url'">
                                            <icon
                                                v-tooltip="$t('app.calculator.delete_parametr_for_show_your_masters')"
                                                name="info"
                                                class="mr-2"
                                            />
                                        </span>
                                        <span v-else-if="index === 0 && mastersSource === 'user'">
                                            <icon
                                                v-tooltip="$t('app.calculator.setup_masters_in_account_settings')"
                                                name="info"
                                                class="mr-2"
                                            />
                                        </span>
                                        <a
                                            v-else-if="canDeleteThisMater(index)"
                                            href="#"
                                            class="text-danger mr-2"
                                            @click.prevent="deleteMaster(index)"
                                        >
                                            <icon name="minus" />
                                        </a>
                                        <span
                                            v-else
                                            class="text-danger mr-4"
                                        />
                                        {{ $t('app.art.master') }} {{ index + 1 }}:
                                    </div>
                                    <div class="col-7 col-sm-6 col-md-7">
                                        <div class="row">
                                            <div class="col">
                                                <b-form-select
                                                    v-model="master.pRepair"
                                                    size="sm"
                                                    @change="changeMasters()"
                                                >
                                                    <b-form-select-option
                                                        v-for="repairValue in hwm.master.baseRepairs"
                                                        :key="index + 'master-repair-' + repairValue"
                                                        :value="repairValue"
                                                    >
                                                        {{ repairValue }}%
                                                    </b-form-select-option>
                                                </b-form-select>
                                            </div>
                                            <div class="col align-self-center flex-grow-0 p-0 m-0">
                                                <span class="">{{ $t('app.calculator.for') }}</span>
                                            </div>
                                            <div class="col">
                                                <input
                                                    v-model="master.pRate"
                                                    type="text"
                                                    class="form-control form-control-sm master-repair"
                                                    @blur="changeMasters()"
                                                >
                                                <div class="input-group-append">
                                                    %
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </transition-group>
                            <div class="d-flex form-group">
                                <span class="mr-4" />
                                <b-form-checkbox
                                    v-if="mastersSource === 'custom'"
                                    v-model="checkSaveMastersToStorage"
                                    v-tooltip="(checkSaveMastersToStorage ? $t('app.main.disable') : $t('app.main.enable')) + ' ' + $t('app.main.autosave')"
                                    name="check-button"
                                    switch
                                    class="mt-1 mr-4"
                                />
                                <div
                                    v-if="canAddNewMaster"
                                    class="flex-fill"
                                >
                                    <c-button
                                        icon="plus"
                                        :tooltip="$t('app.calculator.add_master')"
                                        :block="true"
                                        @click="addNewMaster"
                                    />
                                </div>
                                <b-form-checkbox
                                    v-model="includeMasterCommission"
                                    v-tooltip="(includeMasterCommission ? $t('app.main.disable') : $t('app.main.enable')) + ' ' + $t('app.calculator.commission_repair', {percents: this.masterCommission})"
                                    name="check-button"
                                    switch
                                    class="mt-1 ml-4"
                                />
                            </div>

                            <div class="d-flex">
                                <span class="mr-4" />

                                <b-form-checkbox
                                    v-model="checkAutoCalculate"
                                    v-tooltip="(checkAutoCalculate ? $t('app.main.disable') : $t('app.main.enable')) + ' ' + $t('app.calculator.auto_calculate')"
                                    name="check-button"
                                    switch
                                    class="mt-1 mr-4"
                                />

                                <div class="flex-fill">
                                    <c-button
                                        type="primary"
                                        :tooltip="$t('app.calculator.calculate')"
                                        icon="repair"
                                        class="btn-block"
                                        @click="calculate(true)"
                                    />
                                </div>
                            </div>

                            <transition
                                name="el-zoom-in-top"
                                appear
                            >
                                <art-block
                                    v-if="selectedArt"
                                    class="mt-4"
                                    :art="selectedArt"
                                    @close="selectedArt = null"
                                />
                            </transition>
                            <div class="text-center">
                                <loading
                                    :show="loadingArts"
                                    class="mt-4"
                                />
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-7 col-12 mt-4 mt-md-0">
                            <div class="row form-group mb-0">
                                <label class="col-sm-6">
                                    {{ $t('app.art.craft') }}
                                </label>
                                <div class="col-sm-6">
                                    <b-form-checkbox
                                        v-model="showCraftBlock"
                                        v-tooltip="(showCraftBlock ? $t('app.main.disable') : $t('app.main.enable')) + ' ' + $t('app.art.craft')"
                                        name="check-button"
                                        switch
                                        class="mr-4"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <transition
                                name="el-fade-in"
                                appear
                            >
                                <keep-alive>
                                    <craft-block
                                        v-if="showCraftBlock"
                                        ref="craft"
                                        class="mt-3"
                                        :craft-string="craftString"
                                        :craft-price="craftPrice"
                                        :art-type="selectedArt ? selectedArt.categoryId : null"
                                    />
                                </keep-alive>
                            </transition>
                        </div>
                    </div>

                    <transition
                        name="el-fade-in"
                        appear
                    >
                        <div v-if="results.length">
                            <hr>
                            <result-block :results="results" />
                        </div>
                    </transition>

                    <b-modal
                        :id="selectArtModalId"
                        :title="$t('app.art.choose_an_art')"
                        hide-footer
                    >
                        <keep-alive>
                            <component
                                :is="SelectArtComponent"
                                :art="selectedArt"
                                :skip-empty-category="true"
                                @select-art="changeSelectedArt"
                            />
                        </keep-alive>
                    </b-modal>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
import isEqual from 'lodash/isEqual';
import cloneDeep from 'lodash/cloneDeep';
import { mapActions, mapGetters } from 'vuex';

import ResultBlock from 'JS/app/components/pages/calculator/Result';
import ArtBlock from 'JS/app/components/global/ArtBlock';
import SelectArt from 'JS/app/components/global/SelectArt';

import cache from 'JS/app/utils/cache';
import clipboard from 'JS/app/utils/clipboard';
import { sanitazeInt, sanitazeFloat, objectToQueryString } from 'JS/app/utils/helpers';
import notify from 'JS/app/utils/notify';

const initData = () => ({
    loadingCalculator: false,
    SelectArtComponent: null,
    currentMode: 1,
    modesNames: {
        1: 'optimal_scrapping',
        '-1': 'optimal_price',
    },
    art: {
        price: 0,
        currentStrength: 0,
        baseStrength: 0,
        repair: 0,
        resonablePricePerFight: 0,
        pricePerFight: 0,
    },
    selectedArt: null,
    selectArtModalId: 'select_art_calculator',

    masters: [],
    mastersUrl: [],
    maxMasters: 10,
    mastersSource: 'custom',
    includeMasterCommission: false,
    masterCommission: 1,
    checkSaveMastersToStorage: true,
    checkAutoCalculate: true,

    showCraftBlock: false,
    craftPrice: 0,
    craftString: '',
    userMasters: [],

    results: [],
});

export default {
    components: {
        ArtBlock,
        CraftBlock: () => import('JS/app/components/pages/calculator/Craft'),
        ResultBlock,
    },
    metaInfo() {
        return {
            title: this.$t('seo.calculator.title'),
            meta: [
                { vmid: 'description', name: 'description', content: this.$t('seo.calculator.desc') },
            ],
        };
    },
    data() {
        return initData();
    },
    methods: {
        async init() {
            this.loadingCalculator = true;
            try {
                if (cache.has(this.$config.cache.keys.calculator_save_data_status)) {
                    this.checkSaveMastersToStorage = cache.get(this.$config.cache.keys.calculator_save_data_status);
                }

                if (cache.has(this.$config.cache.keys.calculator_auto_calculate)) {
                    this.checkAutoCalculate = cache.get(this.$config.cache.keys.calculator_auto_calculate);
                }

                if (cache.has(this.$config.cache.keys.calculator_master_commission)) {
                    this.includeMasterCommission = cache.get(this.$config.cache.keys.calculator_master_commission);
                }

                if (this.checkSaveMastersToStorage && cache.has(this.$config.cache.keys.masters)) {
                    this.masters = cache.get(this.$config.cache.keys.masters);
                }

                if (this.userMasters.length && this.hwm.master.checkMaster(this.userMasters)) {
                    this.masters = [...this.userMasters];
                    this.mastersSource = 'user';
                }

                await this.parseUrl();

                if (!this.masters.length) {
                    this.addNewMaster();
                }

                this.calculate();
            } catch (e) {
                this.loadingCalculator = false;
                throw e;
            }
            this.loadingCalculator = false;
        },
        toggleMode() {
            this.currentMode *= -1;
            this.rotateTitle();
        },
        loadSelectArt() {
            if (!this.SelectArtComponent) {
                this.SelectArtComponent = SelectArt;
            }
            this.openModal(this.selectArtModalId);
        },
        calculate(withErrors = null) {
            if (withErrors !== true && !this.checkAutoCalculate) {
                return;
            }

            this.loadingCalculator = true;
            this.results = [];

            const errors = this.checkFields();
            if (errors.length) {
                this.loadingCalculator = false;
                if (withErrors === true) {
                    let message = '';
                    errors.forEach((error) => {
                        message += `<p>${error}</p>`;
                    });
                    notify.warning(message, this.$t('app.calculator.calcualtion_error'));
                }
                return;
            }

            const art = { ...this.art };

            art.price += this.currentCraftPrice;

            const masters = cloneDeep(this.masters);

            if (this.includeMasterCommission) {
                masters.map((master) => {
                    const m = master;
                    m.pRate += this.masterCommission;
                    return m;
                });
            }

            if (this.defaultMode) {
                this.results = this.hwm.calculator(art, masters);
            } else if (this.reverseMode) {
                this.results = this.hwm.calculatorReverse(art, masters);
            }

            this.loadingCalculator = false;
        },
        addNewMaster() {
            if (this.masters.length >= this.maxMasters) {
                notify.warning(this.$t('app.calculator.max_masters', { max: this.maxMasters }));
                return false;
            }

            this.masters.push(this.hwm.master.createNew());

            this.changeMasters();

            return true;
        },
        deleteMaster(index) {
            if (index <= 0) {
                notify.warning(this.$t('app.calculator.need_one_more_master'));
                return false;
            }

            this.masters.splice(index, 1);
            this.changeMasters();

            return true;
        },
        changeMasters() {
            this.masters.map((master) => {
                const m = master;
                m.pRate = sanitazeInt(master.pRate);
                m.pRepair = sanitazeInt(master.pRepair);

                return m;
            });

            if (this.checkSaveMastersToStorage && this.mastersSource === 'custom') {
                cache.set(this.$config.cache.keys.masters, this.uniqueMasters);
            }

            this.calculate();
        },
        canDeleteThisMater(index) {
            if (index === 0) return false;

            if (this.mastersSource === 'custom') {
                return true;
            }

            if (index >= this.userMasters.length && (this.mastersSource === 'user' || this.mastersSource === 'url')) {
                return true;
            }

            return false;
        },
        checkFields() {
            this.art.baseStrength = sanitazeInt(this.art.baseStrength);
            this.art.currentStrength = sanitazeInt(this.art.currentStrength);
            this.art.repair = sanitazeInt(this.art.repair);
            this.art.resonablePricePerFight = sanitazeFloat(this.art.resonablePricePerFight);
            this.art.pricePerFight = sanitazeFloat(this.art.pricePerFight);

            const errors = [];
            if (this.defaultMode) {
                if (this.art.baseStrength <= 0) {
                    errors.push(this.$t('app.calculator.attribute_must_be_more_then_zero', { attribute: this.$t('app.art.columns.base_strength'), value: this.art.baseStrength }));
                }
                if (this.art.repair <= 0) {
                    errors.push(this.$t('app.calculator.attribute_must_be_more_then_zero', { attribute: this.$t('app.art.repair_cost'), value: this.art.repair }));
                }
                if (!this.art.resonablePricePerFight && this.art.price <= 0) {
                    errors.push(this.$t('app.calculator.attribute_must_be_more_then_zero', { attribute: this.$t('app.art.base_price'), value: this.art.price }));
                }
            }
            if (this.reverseMode) {
                if (this.art.pricePerFight <= 0) {
                    errors.push(this.$t('app.calculator.attribute_must_be_more_then_zero', { attribute: this.$t('app.art.columns.price_per_fight'), value: this.art.pricePerFight }));
                }
                if (this.art.baseStrength <= 0) {
                    errors.push(this.$t('app.calculator.attribute_must_be_more_then_zero', { attribute: this.$t('app.art.columns.base_strength'), value: this.art.baseStrength }));
                }
                if (this.art.repair <= 0) {
                    errors.push(this.$t('app.calculator.attribute_must_be_more_then_zero', { attribute: this.$t('app.art.repair_cost'), value: this.art.repair }));
                }
            }

            return errors;
        },
        checkCurrentStrength() {
            if (this.art.currentStrength > this.art.baseStrength) {
                this.art.baseStrength = this.art.currentStrength;
            }
        },
        checkBaseStrength() {
            if (this.art.baseStrength < this.art.currentStrength) {
                this.art.currentStrength = this.art.baseStrength;
            } else if (this.art.currentStrength === 0 && this.art.baseStrength > 0) {
                this.art.currentStrength = this.art.baseStrength;
            }
        },
        refreshAllData() {
            const answer = window.confirm(this.$t('app.main.you_sure_to_clear_all'));
            if (!answer) {
                return;
            }
            this.data = initData();
            this.init();
        },
        changeSelectedArt(art) {
            this.hideModal(this.selectArtModalId);
            this.loadArt(art, true);
        },
        loadArt(art, rewriteData = true) {
            if (art && art.hwmId) {
                if (!this.art.currentStrength || rewriteData) {
                    this.art.currentStrength = art.strength;
                }
                if (!this.art.baseStrength || rewriteData) {
                    this.art.baseStrength = art.strength;
                }
                if (!this.art.repair || rewriteData) {
                    this.art.repair = art.repair;
                }
                if (art.shopPrice && (!this.art.price || rewriteData)) {
                    this.art.price = art.shopPrice;
                }
                if (!this.art.price) {
                    if (!this.reverseMode) {
                        this.$refs.price.$refs.input.focus();
                    } else {
                        this.$refs.pricePerFight.$refs.input.focus();
                    }
                }

                this.selectedArt = art;
            }

            this.calculate();
        },
        async loadArtById(hwmId) {
            const art = await this.findArtByHwmId(hwmId);
            if (art) {
                this.loadArt(art, false);
            }
        },
        copyLinkToClipboard(withMasters = false) {
            clipboard(this.getDataAsUrlString(withMasters));
        },
        getDataAsUrlString(withMasters = false) {
            let { search } = window.location;
            const params = {
                price: this.art.price,
                current_strength: this.art.currentStrength,
                base_strength: this.art.baseStrength,
                repair: this.art.repair,
                price_per_fight: this.defaultMode ? this.art.resonablePricePerFight : 0,
                mode: this.currentMode,
            };
            if (this.reverseMode) {
                params.price_per_fight = this.art.pricePerFight;
            }
            if (withMasters) {
                params.masters = this.mastersAsUrlString;
            }
            if (this.selectedArt) {
                params.art = this.selectedArt.hwmId;
            }
            if (this.includeMasterCommission) {
                params.commission = 1;
            }

            if (this.currentCraftString()) {
                params.craft = this.currentCraftString();
            }

            search = objectToQueryString(params);

            return window.location.origin + window.location.pathname + search;
        },
        async parseUrl() {
            const searchString = window.location.search;
            if (!searchString) {
                return;
            }

            const paramsString = decodeURIComponent(searchString.substr(1));
            const params = new URLSearchParams(paramsString);

            if (params.get('mode')) {
                const mode = Number.parseInt(params.get('mode'), 10);
                if (mode === 1 || mode === -1) {
                    this.currentMode = mode;
                }
            }

            if (params.get('art')) {
                if (!this.selectedArt) {
                    await this.loadArtById(params.get('art'));
                }

                if (this.selectedArt) {
                    if (params.get('art_uid')) {
                        this.selectedArt.art_uid = params.get('art_uid');
                    }
                    if (params.get('art_crc')) {
                        this.selectedArt.art_crc = params.get('art_crc');
                    }
                }
            }

            if (params.get('price')) this.art.price = sanitazeInt(params.get('price'));
            if (params.get('current_strength')) this.art.currentStrength = sanitazeInt(params.get('current_strength'));
            if (params.get('base_strength')) this.art.baseStrength = sanitazeInt(params.get('base_strength'));
            if (params.get('repair')) this.art.repair = sanitazeInt(params.get('repair'));
            if (params.get('commission')) this.includeMasterCommission = true;

            if (params.get('price_per_fight')) {
                if (this.defaultMode) {
                    this.art.resonablePricePerFight = sanitazeFloat(params.get('price_per_fight'));
                }
                if (this.reverseMode) {
                    this.art.pricePerFight = sanitazeFloat(params.get('price_per_fight'));
                }
            }

            if (params.get('craft')) {
                this.showCraftBlock = true;
                this.craftString = params.get('craft');
            }

            if (params.get('masters')) {
                const vm = this;
                const items = params.get('masters').split(';');
                items.forEach((item) => {
                    const arr = item.split('/');
                    if (arr.length === 2) {
                        const master = vm.hwm.master.createNew();
                        master.pRepair = sanitazeInt(arr[0]);
                        master.pRate = sanitazeInt(arr[1]);
                        vm.mastersUrl.push(master);
                    }
                });
                if (this.mastersUrl.length) {
                    this.masters = [...this.mastersUrl];
                    this.mastersSource = 'url';
                }
            }
        },
        rotateTitle() {
            if (this.defaultMode) {
                this.$refs.calculatorTitle.classList.remove('rotate-reverse-once');
                this.$refs.calculatorTitle.classList.add('rotate-once');
            } else if (this.reverseMode) {
                this.$refs.calculatorTitle.classList.remove('rotate-once');
                this.$refs.calculatorTitle.classList.add('rotate-reverse-once');
            }
        },
        currentCraftString() {
            return this.$refs.craft ? this.$refs.craft.craftObject.asString() : '';
        },
        ...mapActions('Arts', [
            'findArtByHwmId',
        ]),
        setOgTags() {
            if (this.selectedArt) {
                this.metaSetTitle(this.selectedArt.title);
            } else {
                this.metaSetTitle();
            }
        },
    },
    watch: {
        checkSaveMastersToStorage() {
            cache.set(this.$config.cache.keys.calculator_save_data_status, this.checkSaveMastersToStorage);
        },
        checkAutoCalculate() {
            cache.set(this.$config.cache.keys.calculator_auto_calculate, this.checkAutoCalculate);
        },
        showCraftBlock() {
            this.calculate();
        },
        currentMode() {
            this.calculate();
        },
        selectedArt() {
            this.setOgTags();
        },
        includeMasterCommission() {
            if (!this.loadingCalculator) {
                cache.set(this.$config.cache.keys.calculator_master_commission, this.includeMasterCommission);
            }

            this.calculate();
        },
    },
    computed: {
        currentCraftPrice() {
            return this.showCraftBlock ? sanitazeInt(this.craftPrice) : 0;
        },
        uniqueMasters() {
            const uniqueMasters = [];

            this.masters.forEach((master, index) => {
                if (index === 0) {
                    uniqueMasters.push(master);
                } else {
                    const status = uniqueMasters.find((item) => isEqual(item, master));
                    if (!status) {
                        uniqueMasters.push(master);
                    }
                }
            });

            return uniqueMasters;
        },
        mastersAsUrlString() {
            let mastersString = '';
            this.masters.forEach((master) => {
                if (!mastersString) {
                    mastersString += `${master.pRepair}/${master.pRate};`;
                } else {
                    mastersString += `${master.pRepair}/${master.pRate}`;
                }
            });
            return mastersString;
        },
        canAddNewMaster() {
            return this.masters.length <= 9;
        },
        defaultMode() {
            return this.currentMode === 1;
        },
        reverseMode() {
            return this.currentMode === -1;
        },
        ...mapGetters('Arts', {
            arts: 'getArts',
            loadingArts: 'getLoadingArts',
        }),
    },
    mounted() {
        this.init();
    },
    created() {
        this.modesNames['1'] = this.$t('app.calculator.optimal_scrapping');
        this.modesNames['-1'] = this.$t('app.calculator.optimal_price');
    },
};
</script>
