<template>
    <div class="container">
        <h1 class="mb-5">
            {{ $t('app.main.contacts') }}
        </h1>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item ">
                        {{ $t('validation.attributes.email') }}: <a :href="'mailto:' + $config.app.owner.email">{{ $config.app.owner.email }}</a>
                    </li>
                    <li class="list-group-item ">
                        {{ $t('app.main.telegram') }}: <a :href="'tg://resolve?domain=' + $config.app.owner.telegram">{{ $config.app.owner.telegram }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 d-flex align-items-center mt-md-0 mt-4">
                <c-button
                    type="primary"
                    :text="$t('app.feedback.write_to_admin')"
                    icon="feedback"
                    block
                    size="lg"
                    @click.native="$parent.openFeedbackModal"
                />
            </div>
        </div>
    </div>
</template>

<script>

export default {
    metaInfo() {
        return {
            title: this.$t('app.main.contacts'),
            meta: [
                { vmid: 'description', name: 'description', content: this.$t('seo.contacts.desc') },
            ],
        };
    },
};
</script>

<style scoped>

</style>
