<template>
    <div class="container-fluid">
        <div class="filters">
            <loading
                :show="isLoading"
                :fixed="true"
                type="block"
            />

            <div
                v-if="false"
                class="container"
            >
                <LotsProblemNotify />
            </div>
            <div class="container mb-4 d-flex justify-content-between flex-sm-row flex-column align-items-center">
                <div class="align-middle">
                    <h1 class="d-inline-block">
                        {{ $t('app.user.features.max_monitored_filters') }}
                    </h1>
                </div>

                <div
                    v-if="!isLoading"
                    class="actions d-flex flex-nowrap align-items-center"
                >
                    <div class="btn-wrap">
                        <c-button class="mr-2">
                            <span
                                v-tooltip="$t('app.pages.lot_filters.count_filter_current_max')"
                                :class="{'text-warning': !canAddMoreFilters}"
                            >
                                {{ lotFilters.length }} / {{ maxMonitoredFilters }}
                            </span>
                        </c-button>
                    </div>
                    <div class="btn-wrap">
                        <c-button class="mr-2">
                            <span
                                v-tooltip="$t('app.user.features.lot_filters_notify_delay')"
                                :class="{'text-warning': notifyDelay > 0, 'text-success': !notifyDelay}"
                            >
                                {{ notifyDelay }}
                            </span>
                        </c-button>
                    </div>
                    <c-button
                        :tooltip="$t('app.main.refresh')"
                        icon="refresh"
                        @click="refreshFilters"
                    />
                    <c-button
                        icon="plus"
                        :tooltip="$t('app.pages.lot_filters.add_filter')"
                        :disabled="!canAddMoreFilters"
                        @click="onClickAddFilter"
                    />
                </div>
            </div>
            <transition-group
                name="el-fade"
                appear
                tag="div"
                class="row"
            >
                <div
                    v-for="filter in lotFilters"
                    :key="filter.id"
                    class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-4"
                >
                    <lot-filter-card :filter="filter" />
                </div>
            </transition-group>
        </div>
        <b-modal
            :id="newFilterModalId"
            :title="$t('app.pages.lot_filters.create_filter_for_lot')"
            size="lg"
            hide-footer
        >
            <lot-filter-settings
                :filter="emptyFilter"
                :loading="isLoading"
                @clickCreate="onCreateFilter"
            />
        </b-modal>
    </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex';
import notify from 'JS/app/utils/notify';
import LotFilterCard from 'JS/app/components/pages/lotFilters/LotFilterCard';
import LotFilterSettings from 'JS/app/components/pages/lotFilters/LotFilterSettings';
import LotsProblemNotify from '../components/global/LotsProblemNotify.vue';

export default {
    components: {
        LotsProblemNotify,
        LotFilterSettings,
        LotFilterCard,
    },
    metaInfo() {
        return {
            title: this.$t('app.pages.lot_filters.filters_for_lot'),
        };
    },
    data() {
        return {
            emptyFilter: {
                id: 'new',
                lotType: 'sale',
                entityType: 'art',
                entityId: null,
                terms: [],
            },
        };
    },
    methods: {
        ...mapActions('LotFilters', [
            'createFilter',
            'loadFilters',
        ]),
        onClickAddFilter() {
            this.openModal(this.newFilterModalId);
        },
        async onCreateFilter(filter) {
            const isCreated = await this.createFilter({ filter });

            if (isCreated === true) {
                this.hideModal(this.newFilterModalId);
                notify.success(this.$t('app.pages.lot_filters.created_new_filter'));
            } else {
                notify.error(this.$t('errors.something_went_wrong'));
            }
        },
        refreshFilters() {
            this.loadFilters();
        },
    },
    computed: {
        ...mapGetters('LotFilters', {
            lotFilters: 'getFilters',
            isLoading: 'getLoading',
        }),
        ...mapGetters('User', {
            user: 'getUser',
        }),
        newFilterModalId: () => 'lot_filter_new',
        maxMonitoredFilters() {
            return this.user.features.max_monitored_filters;
        },
        notifyDelay() {
            return this.user.features.lot_filters_notify_delay;
        },
        canAddMoreFilters() {
            return this.lotFilters.length < this.maxMonitoredFilters;
        },
    },
    created() {
        this.loadFilters();
    },
};
</script>
