<template>
    <div class="page-index">
        <div class="index-top min-height-100vh">
            <div class="container d-flex flex-column justify-content-between align-items-center h-100">
                <img
                    src="/images/logo/logo.svg"
                    alt="logo"
                    class="posri"
                    width="300"
                    height="300"
                >
                <h1 class="posri">
                    <span class="logo-link">HeroesWM</span><br>
                    <span class="logo-link">Helper</span>
                </h1>
                <p
                    class="mb-0 mt-4 posri"
                    v-html="$t('app.index.top_desc')"
                />
            </div>
            <bg-stars />
        </div>
        <index-section
            v-for="(section, index) in sections"
            :key="'section_' + index"
            :title="section.title"
            :desc="section.desc"
            :link="section.link"
            :direction="section.direction"
            :gradient="section.gradient"
            :right-size="section.rightSize"
        >
            <div
                slot="text"
                v-html="section.text"
            />
            <div slot="images">
                <img
                    v-for="(src, index) in section.images"
                    :key="src"
                    :src="src"
                    :class="index"
                    loading="lazy"
                >
            </div>
        </index-section>
    </div>
</template>

<script>
import BgStars from 'JS/app/components/global/BgStars';

export default {
    components: {
        BgStars,
        'index-section': () => import('JS/app/components/pages/index/Section'),
    },
    metaInfo() {
        return {
            title: this.$t('seo.index.title'),
            meta: [
                { vmid: 'description', name: 'description', content: this.$t('seo.default.desc') },
            ],
        };
    },
    data() {
        return {
            sections: [],
            initSections: [
                {
                    title: this.$t('app.main.calculator'),
                    desc: this.$t('app.index.calculator_desc'),
                    link: '/calculator',
                    direction: 'left',
                    gradient: 'gradient-1',
                    rightSize: 5,
                    text: this.$t('app.index.calculator_text'),
                    images: {
                        'img-1': '/images/screens/calculator.png',
                    },
                },
                {
                    title: this.$t('app.main.market_of_arts'),
                    desc: this.$t('app.index.market_desc'),
                    link: '/market',
                    direction: 'right',
                    gradient: 'gradient-2',
                    rightSize: 7,
                    text: this.$t('app.index.market_text'),
                    images: {
                        'img-2': '/images/screens/market.png',
                    },
                },
                {
                    title: this.$t('app.main.monitoring_of_arts'),
                    desc: this.$t('app.index.monitoring_desc'),
                    link: '/monitoring',
                    direction: 'left',
                    gradient: 'gradient-3',
                    rightSize: 6,
                    text: this.$t('app.index.monitoring_text'),
                    images: {
                        'img-3': '/images/screens/monitoring1.png',
                    },
                },
                {
                    title: this.$t('app.main.notifications'),
                    desc: this.$t('app.index.notify_desc'),
                    link: '/profile/settings#notifications',
                    direction: 'right',
                    gradient: 'gradient-4',
                    rightSize: 6,
                    text: this.$t('app.index.notify_text'),
                    images: {
                        'img-4': '/images/screens/notify.png',
                    },
                },
                {
                    title: this.$t('app.main.archive_of_lots'),
                    desc: this.$t('app.index.stat_desc'),
                    link: '/stat',
                    direction: 'left',
                    gradient: 'gradient-5',
                    rightSize: 6,
                    text: this.$t('app.index.stat_text'),
                    images: {
                        'img-5': '/images/screens/stat.png',
                    },
                },
            ],
        };
    },
    created() {
        window.addEventListener('scroll', () => {
            if (!this.sections.length) {
                this.sections = this.initSections;
            }
        });
    },
};
</script>
