<template>
    <div class="container">
        <div class="market">
            <loading
                :show="loading"
                :fixed="true"
                type="block"
            />

            <div class="mb-4 d-flex justify-content-between flex-sm-row flex-column align-items-center">
                <div class="align-middle">
                    <h1 class="d-inline-block">
                        {{ $t('app.main.market') }}
                    </h1>
                </div>

                <div
                    v-if="artId && !loading"
                    class="actions d-flex flex-nowrap align-items-center"
                >
                    <span
                        v-if="meta.lastUpdatedAt"
                        v-tooltip="$t('app.main.last_update') + ':<br>' + meta.lastUpdatedAt.format('YYYY-MM-DD HH:mm:ss')"
                        class="mr-2 text-muted"
                    >
                        <icon
                            name="time"
                            size="sm"
                        /> {{ meta.lastUpdatedAt.format('HH:mm:ss') }}
                    </span>

                    <c-button
                        class="mr-2"
                        :text="meta.total"
                        :tooltip="$t('app.main.count_lots', { count: meta.total })"
                    />

                    <c-button
                        :tooltip="$t('app.main.refresh')"
                        icon="refresh"
                        :disabled="loading"
                        @click="refreshLots"
                    />
                    <c-button
                        v-if="meta.marketLink && !loading"
                        type="primary"
                        :tooltip="$t('app.art.open_market_in_hwm')"
                        icon="link"
                        blank
                        :href="meta.marketLink"
                        class="ml-2"
                    />
                </div>
            </div>
            <div class="d-flex flex-lg-row flex-column">
                <div class="sidebar mr-0 mr-md-4 mb-4 mb-lg-0">
                    <select-art
                        :art="selectedArt"
                        :skip-empty-category="true"
                        category-type="market"
                        @select-art="onSelectArt"
                    />
                    <art-block
                        v-if="artId"
                        :art="selectedArt"
                    />

                    <select-art
                        v-if="showSelectArtList"
                        class="mt-4"
                        :art="selectedArt"
                        :skip-empty-category="true"
                        category-type="market"
                        type="list"
                        @select-art="onSelectArt"
                    />
                </div>

                <div class="flex-fill table-responsive">
                    <transition
                        name="el-fade-in"
                        appear
                    >
                        <short-lots-table
                            v-if="selectedArt && artLots.length"
                            :data="artLots"
                            :art="selectedArt"
                        />
                    </transition>
                    <transition
                        name="el-fade-in"
                        appear
                    >
                        <div
                            v-if="artId && !loading && !artLots.length"
                            class="text-center mt-5"
                        >
                            <p class="text-warning">
                                {{ $t('app.main.list_of_lots_is_empty') }}
                            </p>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ShortLotsTable from 'JS/app/components/lots/ShortLotsTable';
import SelectArt from 'JS/app/components/global/SelectArt';
import ArtBlock from 'JS/app/components/global/ArtBlock';
//
import { mapActions, mapGetters } from 'vuex';

import { addParamsToQuery } from 'JS/app/utils/helpers';

export default {
    components: {
        SelectArt,
        ShortLotsTable,
        ArtBlock,
    },
    metaInfo() {
        return {
            title: this.$t('seo.market.title'),
            meta: [
                { vmid: 'description', name: 'description', content: this.$t('seo.market.desc') },
            ],
        };
    },
    data() {
        return {
            selectedArt: null,
            showSelectArtList: true,
        };
    },
    methods: {
        onSelectArt(art) {
            this.selectedArt = art;

            this.refreshLots();

            this.updateUrlQuery();
        },
        refreshLots() {
            if (this.artId) {
                this.disableCache();
                this.loadLotsByArt({ artId: this.artId });
            }
        },
        updateUrlQuery() {
            if (this.artId) {
                addParamsToQuery('art', this.artId);
            }
            this.setOgTags();
        },
        async parseUrl() {
            const paramsString = decodeURIComponent(window.location.search.substr(1));
            const params = new URLSearchParams(paramsString);

            if (!params.get('art')) {
                return;
            }

            await this.loadArtById(params.get('art'));

            this.refreshLots();

            this.setOgTags();
        },
        async loadArtById(hwmId) {
            const art = await this.findArtByHwmId(hwmId);
            if (art) {
                this.selectedArt = art;
            }
        },
        checkVisibleToggleIcon() {
            this.showSelectArtList = window.innerWidth >= 992;
        },
        setOgTags() {
            if (this.selectedArt) {
                this.metaSetTitle(this.selectedArt.title);
            } else {
                this.metaSetTitle();
            }
        },
        ...mapActions('Market', [
            'loadLotsByArt',
            'disableCache',
        ]),
        ...mapActions('Arts', [
            'findArtByHwmId',
        ]),
    },
    computed: {
        artId() {
            return this.selectedArt ? this.selectedArt.hwmId : null;
        },
        loading() {
            return this.$store.getters['Market/getLoadingLotsByArt'](this.artId) === true;
        },
        artLots() {
            return this.artId ? this.$store.getters['Market/getLotsByArt'](this.artId) : [];
        },
        meta() {
            return this.artId ? this.$store.getters['Market/getMetaByArt'](this.artId) : {};
        },
        ...mapGetters('Arts', {
            loadingArts: 'getLoadingArts',
        }),
    },
    created() {
        this.checkVisibleToggleIcon();
        this.parseUrl();
    },
    beforeRouteEnter(to, from, next) {
        next((vm) => {
            vm.updateUrlQuery();
        });
    },
};
</script>
