<template>
    <div class="container-fluid">
        <div class="monitoring">
            <div class="head d-flex flex-column flex-sm-row justify-content-between align-items-center mb-4 posr container">
                <loading
                    type="block"
                    :show="loading"
                />

                <h1>{{ $t('app.main.monitoring') }}</h1>

                <div class="actions d-flex flex-nowrap">
                    <c-button
                        :tooltip="$t('app.monitoring.refresh_all_arts')"
                        icon="refresh"
                        :loading="loadingRefreshAll"
                        :disabled="loading && !loadingRefreshAll"
                        @click.native="refreshAll"
                    />
                    <div
                        v-tooltip="$t('app.monitoring.add_art_max_arts', { max: user.features.max_monitored_arts })"
                        class="btn-wrap"
                    >
                        <c-button
                            icon="plus"
                            :disabled="loading || limitMonitoredArts"
                            @click.native="openSelectArt"
                        />
                    </div>
                    <div
                        v-if="arts.length"
                        v-tooltip="$t('app.monitoring.off_auto_update_for_all_arts')"
                        class="btn-wrap"
                    >
                        <c-button
                            icon="off"
                            :disabled="loading"
                            @click.native="offAllAutoUpdate"
                        />
                    </div>
                </div>
            </div>

            <draggable
                v-model="arts"
                handle=".handle"
            >
                <transition-group
                    ref="artsGroup"
                    name="el-fade-in"
                    appear
                    tag="div"
                    class="row justify-content-center"
                >
                    <div
                        v-for="art in arts"
                        :key="art.hwmId"
                        class="col-xl-4 col-lg-6 col-md-12 mb-4"
                    >
                        <monitoring-art
                            ref="monitoringArts"
                            :art="art.art"
                            :monitored-art="art"
                            @delete="deleteArt"
                        />
                    </div>
                </transition-group>
            </draggable>

            <div
                v-if="!arts.length"
                class="text-center mt-5"
            >
                <p class="text-warning">
                    {{ $t('app.monitoring.list_of_arts_is_empty') }}
                </p>
            </div>

            <b-modal
                :id="selectArtModalId"
                hide-footer
                :title="$t('app.monitoring.add_art_for_monitoring')"
            >
                <component
                    :is="SelectArtComponent"
                    :skip-empty-category="true"
                    category-type="market"
                    @select-art="onSelectArt"
                />
            </b-modal>
        </div>
    </div>
</template>

<script>
import findIndex from 'lodash/findIndex';
import draggable from 'vuedraggable';
import { mapActions, mapGetters } from 'vuex';

import MonitoringArt from 'JS/app/components/pages/monitoring/MonitoringArt';
import SelectArt from 'JS/app/components/global/SelectArt';

import cache from 'JS/app/utils/cache';
import notify from 'JS/app/utils/notify';
import config from 'JS/app/config';

export default {
    components: {
        MonitoringArt,
        draggable,
    },
    props: {
        monitoringArts: {
            type: Array,
            required: false,
            default: () => [],
        },
    },
    metaInfo() {
        return {
            title: this.$t('seo.monitoring.title'),
            meta: [
                { vmid: 'description', name: 'description', content: this.$t('seo.monitoring.desc') },
            ],
        };
    },
    data() {
        return {
            selectArtModalId: `select-art_${this._uid}`,
            SelectArtComponent: null,
            loadingRefreshAll: false,
        };
    },
    methods: {
        openSelectArt() {
            this.SelectArtComponent = SelectArt;
            this.openModal(this.selectArtModalId);
        },
        onSelectArt(art) {
            this.hideModal(this.selectArtModalId);

            const index = findIndex(this.arts, (item) => item.hwmId === art.hwmId);

            if (index !== -1) {
                notify.warning(this.$t('app.monitoring.art_already_added'));
                return;
            }

            this.addArt(art.hwmId).then(() => {
                notify.success(this.$t('app.monitoring.art_added_for_monitoring'));
                this.updateCache();
            });
        },
        async refreshAll() {
            if (this.loadingRefreshAll) {
                this.loadingRefreshAll = false;
                return;
            }

            this.loadingRefreshAll = true;
            const components = [...this.artComponents];

            this.refreshArtComponent(components);

            this.loadingRefreshAll = true;
        },
        async refreshArtComponent(components) {
            if (!components.length || !this.loadingRefreshAll) {
                return;
            }

            const component = components.shift();
            component.refreshLotList().then(() => {
                this.refreshArtComponent(components);
            });
        },
        deleteArt(component) {
            component.removing = true;
            this.removeArt(component.art.hwmId).then(() => {
                notify.success(this.$t('app.monitoring.art_deleted'));
                this.updateCache();
            }).catch(() => {
                notify.error(this.$t('app.monitoring.error_deleting_art'));
                component.removing = false;
            });
        },
        updateCache() {
            cache.set(config.cache.keys.monitor.arts_sorted, this.arts.map((e) => e.hwmId));
        },
        offAllAutoUpdate() {
            this.artComponents.forEach((component) => {
                component.options.options.autoUpdate = false;
                component.options.changeAutoUpdate();
            });
        },
        ...mapActions('Monitor', [
            'loadArts',
            'updateArtsList',
            'addArt',
            'removeArt',
            'updateArtsPositions',
        ]),
    },
    computed: {
        loading() {
            return this.loadingArts || this.loadingAddArt;
        },
        artComponents() {
            return this.$refs.monitoringArts;
        },
        limitMonitoredArts() {
            return this.arts.length >= this.user.features.max_monitored_arts;
        },
        arts: {
            get() {
                return this.$store.getters['Monitor/getArts'];
            },
            set(data) {
                this.updateArtsPositions(data.map((e) => e.hwmId));
                this.updateCache();
            },
        },
        ...mapGetters('Monitor', {
            loadingArts: 'getLoadingArts',
            loadingAddArt: 'getLoadingAddArt',
            loadingRemoveArt: 'getLoadingRemoveArt',
        }),
        ...mapGetters('User', {
            user: 'getUser',
        }),
    },
    created() {
        this.loadArts().then(() => {
            if (cache.has(config.cache.keys.monitor.arts_sorted)) {
                this.updateArtsPositions(cache.get(config.cache.keys.monitor.arts_sorted));
            }
            if (!this.arts.length) {
                this.openSelectArt();
            }
        });
    },
};
</script>
