<template>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="mb-4">Политика конфиденциальности для HWM Helper</h1>
                <p>На сайте представлены сервисы для онлайн игры <a href="https://www.heroeswm.ru/">heroeswm.ru</a>.</p>
                <p>В {{ $config.app.name }}, доступном из {{ $config.app.url }}, одним из наших главных приоритетов является конфиденциальность наших посетителей. Этот документ Политики конфиденциальности содержит типы информации, которая собирается и регистрируется {{ $config.app.name }}, и способы ее использования.</p>
                <p>Если у вас есть дополнительные вопросы или вам нужна дополнительная информация о нашей Политике конфиденциальности, не стесняйтесь обращаться к нам по электронной почте по адресу {{ $config.app.owner.email }}</p>
                <h3>Лог-файлы</h3>
                <p>{{ $config.app.name }} следует стандартной процедуре использования файлов журнала. Эти файлы регистрируют посетителей, когда они посещают веб-сайты. Все хостинговые компании делают это и часть аналитики хостинговых услуг. Информация, собранная с помощью файлов журнала, включает адреса интернет-протокола (IP), тип браузера, поставщика услуг Интернета (ISP), отметку даты и времени, страницы перехода / выхода и, возможно, количество кликов. Они не связаны с какой-либо информацией, позволяющей установить личность. Целью этой информации является анализ тенденций, администрирование сайта, отслеживание движения пользователей на сайте и сбор демографической информации.</p>
                <h3>Cookies и веб-маяки</h3>
                <p>Как и любой другой веб-сайт, {{ $config.app.name }} использует файлы cookie. Эти файлы cookie используются для хранения информации, включая предпочтения посетителей и страницы на веб-сайте, которые посетитель посещал или посещал. Эта информация используется для оптимизации работы пользователей путем настройки содержимого нашей веб-страницы на основе типа браузера посетителей и / или другой информации.</p>
                <h3>Политика конфиденциальности</h3>
                <p>Сторонние рекламные серверы или рекламные сети используют такие технологии, как файлы cookie, JavaScript или веб-маяки, которые используются в их соответствующих рекламных объявлениях и ссылках, которые появляются в {{ $config.app.name }}, которые отправляются непосредственно пользователям в браузер. Они автоматически получают ваш IP-адрес, когда это происходит. Эти технологии используются для измерения эффективности их рекламных кампаний и / или для персонализации рекламного контента, который вы видите на посещаемых вами веб-сайтах.</p>
                <p>Обратите внимание, что {{ $config.app.name }} не имеет доступа или контроля над этими файлами cookie, которые используются сторонними рекламодателями.</p>
                <h3>Политика конфиденциальности третьих лиц</h3>
                <p>Политики конфиденциальности третьих сторонПолитика конфиденциальности {{ $config.app.name }} не распространяется на другие рекламодатели или веб-сайты. Мы рекомендуем вам ознакомиться с этой политикой конфиденциальности. Это может включать в себя их методы и инструкции. Ссылки на политику конфиденциальности и их ссылки здесь.</p>
                <p>Вы можете отключить куки-файлы в настройках вашего браузера. Чтобы узнать более подробную информацию об управлении cookie-файлами в определенных веб-браузерах, ее можно найти на соответствующих веб-сайтах браузеров. Что такое куки?</p>
                <h3>Дополнительная информация</h3>
                <p>Еще одной частью нашего приоритета является добавление защиты детей при использовании Интернета. Мы призываем родителей и опекунов наблюдать, участвовать и / или отслеживать и направлять их деятельность в Интернете.</p>
                <h3>Только политика конфиденциальности онлайн</h3>
                <p>Настоящая Политика конфиденциальности применяется только к нашей онлайн-деятельности и действительна для посетителей нашего веб-сайта в отношении информации, которую они предоставили и / или собрали в {{ $config.app.name }}. Эта политика не распространяется на любую информацию, собранную в автономном режиме или по каналам, отличным от данного веб-сайта.</p>
                <h3>Cогласие</h3>
                <p>Используя наш сайт, вы тем самым соглашаетесь с нашей Политикой конфиденциальности и соглашаетесь с ее Условиями.</p>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    metaInfo() {
        return {
            title: this.$t('app.main.privacy'),
            meta: [
                { vmid: 'description', name: 'description', content: this.$t('seo.privacy.desc') },
            ],
        };
    },
};
</script>

<style scoped>

</style>
