<template>
    <div class="container-fluid">
        <div class="container d-flex justify-content-between">
            <h1 class="d-inline-block">
                {{ $t('app.main.statictic_market') }}
            </h1>
            <div>
                <c-button
                    icon="info"
                    @click="openModal(infoBlockModalId)"
                />
            </div>
        </div>
        <b-modal
            :id="infoBlockModalId"
            hide-footer
        >
            <keep-alive>
                <div v-html="$t('app.lots.stat_info', { lotsCount: $options.filters.number(meta.maxLotId), localTimezone, diffHours, startDate: meta.minLotStartedAt})" />
            </keep-alive>
        </b-modal>
        <div class="container-fluid mt-4">
            <div class="card">
                <loading
                    :show="loadingLots"
                    type="block"
                />
                <div class="card-body">
                    <filters
                        v-model="filters"
                        class="mb-3"
                        @applied="refreshLots"
                    />
                    <div class="d-flex justify-content-between flex-md-row flex-column mb-3">
                        <div class="d-flex align-items-center">
                            <span class="text-nowrap mr-1">{{ $t('app.main.per_page') }}:</span>
                            <b-select
                                v-model="meta.pagination.limit"
                                :options="perPageValues"
                                class="per-page ml-1"
                                size="sm"
                                @change="setPerPage"
                            />
                            <b-dropdown
                                id="columnVisible"
                                :text="$t('app.main.columns')"
                                class="ml-md-4 ml-0"
                                size="sm"
                            >
                                <b-dropdown-text
                                    v-for="column in columns"
                                    :key="column"
                                >
                                    <b-form-checkbox
                                        v-model="columnsVisible[column]"
                                        switch
                                        @change.native="toggleColumnVisible(column)"
                                    >
                                        {{ $t(`app.lots.columns.${column}`) }}
                                    </b-form-checkbox>
                                </b-dropdown-text>
                            </b-dropdown>
                        </div>
                        <div class="d-flex align-items-center mt-2 mt-md-0">
                            <span v-html="$t('app.main.pagination_showing_page', { fromPage: meta.pagination.offset + 1, toPage: meta.pagination.offset + meta.pagination.limit })" />
                            <b-button-group
                                size="sm"
                                class="ml-2"
                            >
                                <c-button
                                    icon="prev"
                                    :tooltip="$t('app.main.prev_page')"
                                    :disabled="!hasPrevPage"
                                    type="primary"
                                    @click.native="goToPrevPage"
                                />
                                <c-button
                                    icon="next"
                                    :tooltip="$t('app.main.next_page')"
                                    :disabled="!hasNextPage"
                                    type="primary"
                                    @click.native="goToNextPage"
                                />
                            </b-button-group>
                        </div>
                    </div>
                    <full-lots-table
                        ref="statLotsTable"
                        :data="lots"
                    />
                    <div class="d-flex flex-row-reverse">
                        <div class="d-flex align-items-center mt-2 mt-md-0">
                            <span v-html="$t('app.main.pagination_showing_page', { fromPage: meta.pagination.offset + 1, toPage: meta.pagination.offset + meta.pagination.limit })" />
                            <b-button-group
                                size="sm"
                                class="ml-2"
                            >
                                <c-button
                                    icon="prev"
                                    :tooltip="$t('app.main.prev_page')"
                                    :disabled="!hasPrevPage"
                                    type="primary"
                                    @click.native="goToPrevPage"
                                />
                                <c-button
                                    icon="next"
                                    :tooltip="$t('app.main.next_page')"
                                    :disabled="!hasNextPage"
                                    type="primary"
                                    @click.native="goToNextPage"
                                />
                            </b-button-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import merge from 'lodash/merge';
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
import timezone from 'dayjs/plugin/timezone';
import FullLotsTable from 'JS/app/components/lots/FullLotsTable';
import Filters from 'JS/app/components/pages/stat/Filters';
import cache from 'JS/app/utils/cache';
import LotsProblemNotify from '../components/global/LotsProblemNotify.vue';

dayjs.extend(utc);
dayjs.extend(timezone);

export default {
    components: {
        LotsProblemNotify,
        FullLotsTable,
        Filters,
    },
    metaInfo() {
        return {
            title: this.$t('seo.stat.title'),
            meta: [
                { vmid: 'description', name: 'description', content: this.$t('seo.stat.desc') },
            ],
        };
    },
    data() {
        return {
            loadingLots: false,
            showExtraInfo: false,
            lots: [],
            meta: {
                pagination: {
                    limit: 10,
                    offset: 0,
                    hasMore: false,
                },
                maxLotId: 109844203,
                minLotStartedAt: '2007-04-25',
            },
            perPageValues: [10, 25, 50, 100],
            columnsVisible: {},
            filters: {},
            orderBy: 'startedAt',
            orderDesc: false,
            // eslint-disable-next-line no-mixed-operators
            localTimezone: dayjs.tz.guess(),
            diffHours: dayjs().tz('Europe/Moscow').hour() - dayjs().hour(),
            infoBlockModalId: 'info_block',
        };
    },
    methods: {
        ...mapActions('Market', [
            'loadStatLots',
        ]),
        startLoading() {
            this.loadingLots = true;
        },
        endLoading() {
            this.loadingLots = false;
        },
        getQueryParams() {
            const params = {
                limit: this.meta.pagination.limit,
                offset: this.meta.pagination.offset,
                include: 'accorded_filters',
            };

            if (this.orderBy) {
                params.order_by = this.mapColumn(this.orderBy);
            }
            if (this.orderDesc !== null) {
                params.order_desc = this.orderDesc ? 'asc' : 'desc';
            }

            return merge(params, this.filters);
        },
        async refreshLots() {
            this.startLoading();
            try {
                const response = await this.loadStatLots(this.getQueryParams());
                this.setResponse(response);
            } catch (e) {
                //
            }
            this.endLoading();
        },
        setResponse(response) {
            if (response.data) {
                this.lots = response.data;
            }
            if (response.meta) {
                this.meta = response.meta;
            }
        },
        goToPrevPage() {
            if (this.hasPrevPage) {
                this.meta.pagination.offset -= this.meta.pagination.limit;
                this.refreshLots();
            }
        },
        goToNextPage() {
            if (this.hasNextPage) {
                this.meta.pagination.offset += this.meta.pagination.limit;
                this.refreshLots();
            }
        },
        setPerPage(perPage) {
            this.meta.pagination.limit = perPage;
            this.resetPage();
            this.refreshLots();
        },
        resetPage() {
            this.meta.pagination.offset = 0;
        },
        initColumnsVisible() {
            this.$refs.statLotsTable.columns.forEach((column) => {
                this.columnsVisible[column] = true;
            });
            this.columnsVisible = { ...this.columnsVisible };
        },
        toggleColumnVisible(column) {
            if (this.columnsVisible[column]) {
                if (!this.lotsTable.columns.includes(column)) {
                    const index = Object.keys(this.columnsVisible).indexOf(column);
                    this.lotsTable.columns.splice(index, 0, column);
                }
            } else {
                const index = this.lotsTable.columns.indexOf(column);
                if (index !== -1) {
                    this.lotsTable.columns.splice(index, 1);
                }
            }
        },
        loadCache() {
            const options = cache.get(this.$config.cache.keys.stat.options);
            if (!options) {
                return;
            }
            if (Object.prototype.hasOwnProperty.call(options, 'columnsVisible')) {
                Object.keys(options.columnsVisible).forEach((column) => {
                    if (Object.prototype.hasOwnProperty.call(this.columnsVisible, column)) {
                        this.columnsVisible[column] = options.columnsVisible[column];
                    }
                });
            }
            if (Object.prototype.hasOwnProperty.call(options, 'perPage') && this.perPageValues.includes(options.perPage)) {
                this.meta.pagination.limit = Number.parseInt(options.perPage, 10);
            }
            if (Object.prototype.hasOwnProperty.call(options, 'orderBy')) {
                this.orderBy = options.orderBy;
                this.orderDesc = options.orderDesc;
            }
        },
        updateCache() {
            cache.set(this.$config.cache.keys.stat.options, {
                columnsVisible: this.columnsVisible,
                perPage: this.meta.pagination.limit,
                orderBy: this.orderBy,
                orderDesc: this.orderDesc,
            });
        },
        setSorting({ column, ascending }) {
            this.orderBy = column;
            this.orderDesc = ascending;
            this.resetPage();
            this.refreshLots();
        },
        mapColumn(column) {
            const columns = {
                pricePerFight: 'price_per_fight',
                sellerName: 'seller_name',
                startedAt: 'started_at',
                endedAt: 'ended_at',
            };
            return columns[column] || column;
        },
    },
    computed: {
        hasPrevPage() {
            return this.meta.pagination.offset > 0;
        },
        hasNextPage() {
            return this.meta.pagination.hasMore;
        },
        columns() {
            return Object.keys(this.columnsVisible);
        },
        lotsTable() {
            return this.$refs.statLotsTable;
        },
        baseLotsTable() {
            return this.lotsTable.$refs.lotsTable.$refs.clientTable;
        },
        maxFilters() {
            return 20;
        },
    },
    watch: {
        filters() {
            this.resetPage();
        },
        columnsVisible() {
            this.updateCache();
        },
        orderBy() {
            this.updateCache();
        },
        orderDesc() {
            this.updateCache();
        },
    },
    mounted() {
        this.initColumnsVisible();
        this.loadCache();
        if (this.orderBy) {
            this.baseLotsTable.setOrder(this.orderBy, this.orderDesc);
        }
        Object.keys(this.columnsVisible).forEach((column) => {
            this.toggleColumnVisible(column);
        });
        this.refreshLots();

        // handle sorting
        this.baseLotsTable.$on('sorted', this.setSorting);
    },
};
</script>

<style>
    .per-page {
        max-width: 60px;
    }
    #columnVisible .dropdown-menu {
        padding-left: 1rem;
        padding-right: 1rem;
        max-height: 300px;
        overflow: auto;
    }
    .b-dropdown-text {
        padding: 0;
    }
</style>
