<template>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1>Правила и условия</h1>
                <p>Добро пожаловать на {{ $config.app.name }}!</p>
                <p>В этих положениях и условиях изложены правила и положения использования веб-сайта HWH Helper, расположенного по адресу {{ $config.app.url }}.</p>
                <p>Заходя на этот сайт, мы предполагаем, что вы принимаете эти условия. Не продолжайте использовать {{ $config.app.name }}, если вы не согласны принять все условия, изложенные на этой странице.</P>
                <p>Следующая терминология применяется к настоящим Условиям, Заявлению о конфиденциальности и Уведомлению об отказе от ответственности, а также ко всем соглашениям: «Клиент», «Вы» и «Ваш» относится к вам, лицу, входящему на этот веб-сайт, и соответствует условиям Компании и условия. «Компания», «Мы», «Мы», «Наши» и «Мы» относятся к нашей Компании. «Сторона», «Стороны» или «Нас» относится как к Клиенту, так и к нам. Все условия относятся к предложению, принятию и рассмотрению платежа, необходимому для того, чтобы предпринять процесс нашей помощи Клиенту наиболее подходящим способом для явной цели удовлетворения потребностей Клиента в отношении предоставления заявленных услуг Компании в соответствии с и в соответствии с действующим законодательством Нидерландов. Любое использование вышеуказанной терминологии или других слов в единственном числе, множественном числе, с заглавными буквами и / или он / она или они, считаются взаимозаменяемыми и, следовательно, относятся к ним.</P>
                <h3>Cookies</h3>
                <p>Мы используем файлы cookie. Получив доступ к {{ $config.app.domain }}, вы согласились использовать файлы cookie в соответствии с политикой конфиденциальности HWH Helper.</P>
                <p>Большинство интерактивных веб-сайтов используют файлы cookie, чтобы мы могли получать информацию о пользователях для каждого посещения. Файлы cookie используются нашим веб-сайтом, чтобы обеспечить функциональность определенных областей, чтобы облегчить людям посещение нашего веб-сайта. Некоторые из наших аффилированных / рекламных партнеров также могут использовать файлы cookie.</P>
                <h3>Лицензия</h3>
                <p>Если не указано иное, HWH Helper и / или его лицензиары владеют правами интеллектуальной собственности на все материалы в {{ $config.app.domain }}. Все права на интеллектуальную собственность защищены. Вы можете получить к нему доступ из {{ $config.app.domain }} для личного использования с учетом ограничений, установленных в этих условиях.</P>
                <p>Вы не должны:</p>
                    <ul>
                    <li> Повторная публикация материала из {{ $config.app.name }}</li>
                    <li> Продажа, аренда или сублицензирование материалов из {{ $config.app.name }}</li>
                    <li> Воспроизведение, дублирование или копирование материала из {{ $config.app.name }}</li>
                    <li> Перераспределять контент из {{ $config.app.name }}</li>
                    </ul>
                <p>Настоящее Соглашение вступает в силу с даты настоящего Соглашения.</p>
                <p>Отдельные части этого сайта предоставляют пользователям возможность публиковать и обмениваться мнениями и информацией в определенных областях сайта. HWH Helper не фильтрует, не редактирует, не публикует и не просматривает комментарии до их присутствия на сайте. Комментарии не отражают взгляды и мнения HWH Helper, его агентов и / или филиалов. Комментарии отражают взгляды и мнения человека, который публикует свои взгляды и мнения. В пределах, допустимых действующим законодательством, HWH Helper не несет ответственности за Комментарии или за любую ответственность, убытки или расходы, вызванные и / или понесенные в результате любого использования и / или публикации и / или появления Комментариев на этот сайт.</p>
                <p>{{ $config.app.name }} оставляет за собой право отслеживать все комментарии и удалять любые комментарии, которые могут быть сочтены неуместными, оскорбительными или приводящими к нарушению настоящих Условий.</p>
                <p>Вы гарантируете и подтверждаете, что:</p>
                <ul>
                    <li> Вы имеете право размещать комментарии на нашем веб-сайте и иметь для этого все необходимые лицензии и согласия;</li>
                    <li> Комментарии не нарушают права интеллектуальной собственности, включая, помимо прочего, авторское право, патент или товарный знак какой-либо третьей стороны;</li>
                    <li> Комментарии не содержат клеветнических, клеветнических, оскорбительных, непристойных или иных незаконных материалов, которые являются вторжением в личную жизнь</li>
                    <li> Комментарии не будут использоваться для привлечения или продвижения бизнеса или обычаев, а также для представления коммерческой деятельности или незаконной деятельности.</li>
                </ul>
                <p>Настоящим вы предоставляете {{ $config.app.name }} неисключительную лицензию на использование, воспроизведение, редактирование и разрешение другим пользователям использовать, воспроизводить и редактировать любые ваши Комментарии в любых формах, форматах или на любых носителях.</p>
            </div>
        </div>
    </div>
</template>

<script>
import config from 'JS/app/config';

export default {
    metaInfo() {
        return {
            title: this.$t('app.main.terms'),
            meta: [
                { vmid: 'description', name: 'description', content: this.$t('seo.terms.desc') },
            ],
        };
    },
    computed: {
        config() {
            return config;
        },
    },
};
</script>

<style scoped>

</style>
