<template>
    <div class="container">
        <div class="user-settings">
            <div class="mb-4 d-flex justify-content-between flex-sm-row flex-column align-items-center">
                <div class="align-middle">
                    <h1 class="d-inline-block">
                        {{ $t('app.user.account_settings') }}
                    </h1>
                </div>
            </div>

            <b-card no-body>
                <loading
                    type="block"
                    :show="loading"
                />
                <b-tabs
                    v-if="user.email"
                    card
                    lazy
                    justified
                >
                    <b-tab
                        v-for="tab in tabs"
                        :id="tab.id"
                        :key="tab.id"
                        :title="tab.title"
                        :active="tabIsActive('#' + tab.id)"
                        @click="clickOnTab"
                    >
                        <component :is="tab.component" />
                    </b-tab>
                </b-tabs>
            </b-card>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import PersonalTab from 'JS/app/components/pages/settings/PersonalTab';
import PasswordTab from 'JS/app/components/pages/settings/PasswordTab';
import NotificationsTab from 'JS/app/components/pages/settings/NotificationsTab';

export default {
    metaInfo() {
        return {
            title: this.$t('app.user.account_settings'),
        };
    },
    data() {
        return {
            tabs: [
                { id: 'personal', title: this.$t('app.user.settings.base'), component: PersonalTab },
                { id: 'password', title: this.$t('app.user.change_password'), component: PasswordTab },
                { id: 'notifications', title: this.$t('app.main.notifications'), component: NotificationsTab },
            ],
        };
    },
    methods: {
        //
    },
    computed: {
        ...mapGetters('User', {
            user: 'getUser',
            loadingUser: 'getLoadingUser',
            loadingUpdateSettings: 'getLoadingUpdateSettings',
        }),
        loading() {
            return this.loadingUser || this.loadingUpdateSettings;
        },
    },
};
</script>
<style>
.card-header-tabs .nav-link {
    white-space: nowrap;
}
</style>
