.cookiealert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 999;
  border-radius: 0;
  background: $gray-800;
  color: $body-color;
  transform: translateY(100%);
}

.cookiealert.show {
  transition: all 500ms ease-out;
  transform: translateY(0%);
}
.cookiealert.hide {
  transition: all 500ms ease-out;
  transform: translateY(100%);
}