.art-img {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
}
.art-info .card-body {
	padding: .5rem;
}
.list-group-item {
	padding: .5rem .75rem;
    border-color: $gray-700;
}
