@keyframes loader-animation {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}

@mixin loader($size, $type: 'default') {
    $width: 2rem;
    $height: 2rem;
    $block1_color: $green;
    $block2_color: $blue;
    $block2_pos: 4px;
    $block2_size: 8px;
    $border-size: 2px;

    @if ($size == 'small') {
        $width: 1rem;
        $height: 1rem;
        $block2_pos: 3px;
        $block2_size: 6px;
        $border-size: 1px;
    }

    @if ($size == 'large') {
        $width: 3rem;
        $height: 3rem;
        $block2_pos: 6px;
        $block2_size: 12px;
        $border-size: 3px;
    }

    @if ($type == 'default') {
        width: $width;
        height: $height;
    }

    @if ($type == 'block1') {
        width: $width;
        height: $height;
        top: 0;
        left: 0;
        border-color: $block1_color transparent $block1_color transparent;
        border-width: $border-size;
        animation: loader-animation 1s linear infinite;
    }
    @if ($type == 'block2') {
        width: calc(#{$width} - #{$block2_size});
        height: calc(#{$height} - #{$block2_size});
        top: $block2_pos;
        left: $block2_pos;
        border-color: transparent $block2_color transparent $block2_color;
        border-width: $border-size;
        animation: loader-animation 1s linear infinite reverse;
    }
}

.loader {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    backface-visibility: hidden;
    transform-origin: 0 0;
    @include loader('default');

    > div {
        position: absolute;
        border-radius: 50%;
        border: 2px solid #000;
    }

    > div:nth-child(1) {
        @include loader('default', 'block1');
    }
    > div:nth-child(2){
        @include loader('default', 'block2');
    }
}
.loader.small {
    @include loader('small');
    > div:nth-child(1) {
        @include loader('small', 'block1');
    }
    > div:nth-child(2){
        @include loader('small', 'block2');
    }
}
.loader.large {
    @include loader('large');
    > div:nth-child(1) {
        @include loader('large', 'block1');
    }
    > div:nth-child(2){
        @include loader('large', 'block2');
    }
}

.wrapper-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.75);
    text-align: center;
	z-index: 999;

	> div{
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}

    &.fixed {
        position: fixed;
    }
}

.modal-body {
    position: initial;
}
