.multiselect {
	.multiselect__tags {
		min-height: 45px;
		@extend .form-control;
		padding-left: 5px;
	}
	.multiselect__option {
		padding: 5px;
		min-height: 30px;
	}
	.multiselect__single, .multiselect__option {
		@extend .text-truncate;
	}
	.multiselect__single, .multiselect__input {
		min-height: 30px;
		background: $white;
	}
	input.multiselect__input {
		text-align: left;
	}
	.multiselect__placeholder {
		vertical-align: middle;
		margin-bottom: 0;
	}
	.multiselect__content-wrapper {
		background: $white;
		border: none;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
	}
	.multiselect__option.multiselect__option--highlight {
		background: $success;
	}
	.multiselect__spinner {
		top: 50%;
		transform: translateY(-50%);
		background: $white;
	}
}