.socials-blocks {

  & .btn {
    color: inherit;
  }
}

.social-facebook:hover, .social-facebook.active {
  color: #3b5998;
}

.social-google:hover, .social-google.active {
  color: #ea4335;
}

.social-vkontakte:hover, .social-vkontakte.active {
  color: #5181b8;
}

.social-slack:hover, .social-slack.active {
  color: #4a154b;
}

.social-twitter:hover, .social-twitter.active {
  color: #1da1f2;
}

.social-telegram:hover, .social-telegram.active {
  color: #0088cc;
}
