body {
    #toast-container > .toast {
        background-image: none !important;
        margin: 0 0 6px;
        padding: 15px 15px 15px 15px;
        width: 500px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        opacity: 0.85;
        max-height: 400px;
        overflow-y: auto;

        @extend .alert;

        .ul {
            padding: 0;
        }
    }
    @include media-breakpoint-only(xs) {
        #toast-container > .toast {
            width: 300px;
        }
    }

    #toast-container > .toast-error {
        @extend .alert-danger;
    }
    #toast-container > .toast {
        @extend .alert;
    }
    #toast-container .toast-message {
        ul {
            padding-left: 15px;
        }
    }
}
    