<template>
  <div>
  <ul class="list-group mt-4">
    <li
      v-for="item in items"
      :key="item.title"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between mb-1">
        <h5>
          {{ item.title }}
        </h5>
        <div
          :class="{'hover' : item.status !== statuses.wait}"
          @click="item.refreshStatus()"
        >
          <span
            v-if="item.lastChecked"
            class="text-muted"
          >
            <font-awesome-icon icon="clock" /> {{ item.lastChecked.format('HH:mm:ss') }}
          </span>
          <span
            v-if="item.status == statuses.success"
            class="text-success"
          >
            <font-awesome-icon icon="check-circle" size="lg" />
          </span>
          <span
            v-if="item.status == statuses.wait "
            class="text-warning"
          >
            <font-awesome-icon icon="spinner" spin size="lg" />
          </span>
          <span
            v-if="item.status == statuses.fail "
            class="text-danger"
          >
            <font-awesome-icon icon="exclamation-circle" size="lg" />
          </span>
          <span
            v-if="!item.status"
            class="text-muted"
          >
            <font-awesome-icon icon="circle" size="lg" />
          </span>
        </div>
      </div>
      <p
        v-if="item.apiResponse"
        class="small"
        :class="{'text-danger': item.status == statuses.fail, 'text-success': item.status == statuses.success}"
      >
        {{ item.apiResponse }}
      </p>
    </li>
  </ul>

  <div class="card mt-4">
    <div class="card-header">Test Notify</div>
    <div class="card-body d-flex justify-content-between">
        <select class="custom-select" v-model="currentNotifyChannel" style="max-width: 200px">
            <option :value="null">Select channel</option>
            <option v-for="channel in channels" :key="channel" :value="channel">{{ channel }}</option>
        </select>
        <button class="btn btn-primary btn-block ml-4" @click="sendNotify" :disabled="!canSendNotify">Send</button>
    </div>
  </div>
  </div>
</template>

<script>
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
import notify from 'JS/admin/helpers/notify';

dayjs.extend(utc);

const statuses = {
    success: 'Success',
    fail: 'Fail',
    wait: 'Loading',
};

class Item {
    constructor(title, api = '') {
        this.title = title;
        this.api = api;
        this.status = false;
    }

    refreshStatus() {
        if (this.status === statuses.wait) {
            return;
        }

        this.status = statuses.wait;
        global.axios.get(`/api/v1/status/${this.api}`)
            .then((res) => {
                this.lastChecked = dayjs.utc();

                if (res.status === 200) {
                    this.status = statuses.success;
                } else {
                    this.status = statuses.fail;
                }
                this.apiResponse = res.data.message;
            })
            .catch((error) => {
                this.lastChecked = dayjs.utc();

                if (error.response && error.response.status === 400) {
                    this.status = statuses.fail;
                    this.apiResponse = error.response.data.message;
                } else {
                    this.status = '';
                    this.apiResponse = '';
                    console.log(`Error for ${this.api} ${this.title} endpoint. Check console and response of request.`);
                    console.log(error);
                }
            });
    }

    getStatusLiClass() {
        switch (this.status) {
            case statuses.success:
                return 'list-group-item-success';
            case statuses.fail:
                return 'list-group-item-danger';
            case statuses.wait:
                return 'list-group-item-warning';
            default:
                return '';
        }
    }
}

export default {
    data() {
        return {
            refreshInterval: 5 * 60 * 1000, // in miliseconds
            statuses,
            items: [],
            currentNotifyChannel: null,
            channels: ['email', 'telegram', 'browser'],
        };
    },
    mounted() {
        this.defineItems();

        this.refreshAll();

        setInterval(this.refreshAll, this.refreshInterval);
    },
    methods: {
        defineItems() {
            this.items = [
                new Item('Web Site', 'web'),
                new Item('Required Files', 'files'),
                new Item('Parser', 'parser'),
                // new Item('Market Lots', 'marketLots'),
                new Item('API', 'api'),
                // new Item('HWM Bot API', 'botServer'),
                new Item('Websockets Server', 'websocketsServer'),
                new Item('Backups', 'backups'),
                new Item('Redis', 'redis'),
                new Item('Cron Scheduled', 'cron'),
                new Item('Queue', 'queue'),
            ];
        },
        refreshAll() {
            let interval = 0;
            this.items.forEach((item) => {
                setTimeout(() => {
                    item.refreshStatus();
                }, interval);
                interval += item.status ? 1000 : 200;
            });
        },
        sendNotify() {
            if (!this.currentNotifyChannel) {
                return;
            }

            global.axios.get(`/api/v1/status/notify?channel=${this.currentNotifyChannel}`)
                .then(() => {
                    //
                })
                .catch(() => {
                    notify(`Error send notify to ${this.currentNotifyChannel}`);
                });

            notify(`Success send notify to ${this.currentNotifyChannel}`);
            this.currentNotifyChannel = null;
        },
    },
    computed: {
        canSendNotify() {
            return this.currentNotifyChannel;
        },
    },
};
</script>

<style scoped>
.hover {
    cursor: pointer;
}
</style>
