<template>
    <b-modal
      :id="parent.configModalId"
      :title="$t('app.art.settings_for_art', { art: art.title })"
      hide-footer
    >
        <loading type="block" :show="loadingUpdate"/>

        <h6>{{ $t('app.main.columns') }}</h6>
        <div v-if="lotsTable && options.columnsVisible" class="d-flex flex-nowrap overflow-auto pt-2">
            <div v-for="(status, column) in options.columnsVisible" class="text-center mr-2" :key="column">
                <span>{{ lotsTable.table.defaultOptions.headings[column] }}</span>
                <b-form-checkbox
                    v-model="options.columnsVisible[column]"
                    v-tooltip="options.columnsVisible[column] ? $t('app.main.hide') : $t('app.main.show')"
                    @change.native="toggleColumnVisible(column)"
                    switch
                />
            </div>
        </div>
        <hr>

        <div style="height: 30px; vertical-align: middle;">
            <b-form-checkbox
                v-model="options.autoUpdate"
                v-tooltip="options.autoUpdate ? $t('app.main.disable') : $t('app.main.enable')"
                @change.native="changeAutoUpdate"
                switch
            >{{ $t('app.main.autorefresh') }}</b-form-checkbox>

            <transition name="el-fade-in">
                <div v-if="options.autoUpdate" class="d-inline-block ml-4">
                    <label>
                        {{ $t('app.main.period_sec') }}:
                    </label>
                    <number-input
                        class="d-inline-block"
                        classes="form-control form-control-sm"
                        v-model="options.autoUpdateInterval"
                        :min="minAutoUpdateSeconds"
                        :max="9999999"
                        @change="changeAutoUpdate"
                    />
                    <span> = {{ parseInt(options.autoUpdateInterval) | humanizeSeconds }}</span>
                </div>
            </transition>
        </div>

        <hr>

        <div class="d-flex justify-content-between align-items-center">
            <b-form-checkbox
                v-model="activeArt"
                @change.native="changeActive"
                switch
                v-tooltip="$parent.monitoredArt.isActive ? $t('app.main.disable') : $t('app.main.enable')"
            >{{ $t('app.main.activity') }}</b-form-checkbox>
            <c-button
                :text="$t('app.main.refresh')"
                icon="refresh"
                @click="refreshOptions"
                :tooltip="$t('app.art.return_base_settings')"
            />
        </div>
    </b-modal>
</template>

<script>
import cloneDeep from 'lodash/cloneDeep';
import { mapActions, mapGetters } from 'vuex';

import cache from 'JS/app/utils/cache';

export default {
    data() {
        return {
            defaultOptions: {
                autoUpdate: true,
                autoUpdateInterval: 300, // in milliseconds
                columnsVisible: {
                    lot: true,
                    price: true,
                    pricePerFight: true,
                    sellerName: true,
                    endedAt: false,
                },
            },
            options: {},
            minAutoUpdateSeconds: 60,
            maxAutoUpdateSeconds: 36000,
            cacheOptionsKey: '',
            activeArt: false,
        };
    },
    methods: {
        ...mapActions('Monitor', [
            'changeArtState',
        ]),
        changeActive() {
            this.changeArtState({
                artId: this.$parent.monitoredArt.hwmId,
                state: this.activeArt,
            }).then(() => {
                this.parent.refreshLotList();
            });
        },
        initOptions() {
            this.loadOptionsFromCache();
            Object.keys(this.defaultOptions).forEach((key) => {
                if (!Object.prototype.hasOwnProperty.call(this.options, key)) {
                    this.options[key] = this.defaultOptions[key];
                }
            });
            this.updateOptionsCache();

            Object.keys(this.defaultOptions.columnsVisible).forEach((column) => {
                if (!this.options.columnsVisible[column]) {
                    this.toggleColumnVisible(column);
                }
            });
        },
        loadOptionsFromCache() {
            const options = cache.get(this.cacheOptionsKey, {});
            Object.keys(this.defaultOptions).forEach((key) => {
                if (!Object.prototype.hasOwnProperty.call(this.defaultOptions, key)) {
                    delete options[key];
                }
            });
            this.options = options;
            cache.set(this.cacheOptionsKey, this.options);
        },
        updateOptionsCache() {
            cache.set(this.cacheOptionsKey, this.options);
        },
        changeAutoUpdate() {
            if (this.options.autoUpdateInterval < this.minAutoUpdateSeconds) {
                this.options.autoUpdateInterval = this.minAutoUpdateSeconds;
            }

            if (this.options.autoUpdateInterval > this.maxAutoUpdateSeconds) {
                this.options.autoUpdateInterval = this.maxAutoUpdateSeconds;
            }

            this.parent.runAutoUpdateTimer();
            this.updateOptionsCache();
        },
        toggleColumnVisible(column) {
            if (!this.lotsTable) {
                return;
            }

            if (this.options.columnsVisible[column]) {
                if (!this.lotsTable.columns.includes(column)) {
                    const index = Object.keys(this.options.columnsVisible).indexOf(column);
                    this.lotsTable.columns.splice(index, 0, column);
                }
            } else {
                const index = this.lotsTable.columns.indexOf(column);
                if (index !== -1) {
                    this.lotsTable.columns.splice(index, 1);
                }
            }
            this.updateOptionsCache();
        },
        refreshOptions() {
            this.options = cloneDeep(this.defaultOptions);
            this.updateOptionsCache();
        },
    },
    computed: {
        art() {
            return this.$parent.art;
        },
        parent() {
            return this.$parent;
        },
        lotsTable() {
            return this.$parent.$refs.lotsTable;
        },
        ...mapGetters('Monitor', {
            loadingUpdate: 'getLoadingUpdateArt',
        }),
    },
    watch: {
        monitoredArt() {
            this.activeArt = this.$parent.monitoredArt.isActive;
        },
    },
    created() {
        this.cacheOptionsKey = this.$config.cache.keys.monitor.options + this.art.hwmId;

        this.activeArt = this.$parent.monitoredArt.isActive;
    },
};
</script>
