<template>
    <div
        class="card art-card posr"
        :class="'art-card-' + art.hwmId"
    >
        <loading
            type="block"
            :show="removing"
        />
        <b-progress
            v-if="progress.show"
            v-tooltip="textForProgressBar"
            :value="progress.value"
            :max="progress.max"
        />

        <div class="card-header d-flex justify-content-between flex-column flex-sm-row text-center ">
            <div class="posr">
                <a
                    v-tooltip="$t('app.art.open_art_in_hwm')"
                    :href="hwm.link.art(art.hwmId)"
                    target="_blank"
                >
                    <img
                        :src="art.images.small.fullUrl"
                        :alt="art.hwmId"
                        :title="art.title"
                        class="art-img"
                        @error="errorLoadArtImg"
                    >
                </a>
                <h6 class="card-title d-inline-block align-middle text-truncate">
                    <a
                        v-tooltip="$t('app.art.open_market_in_hwm')"
                        :href="hwm.link.market(art.hwmId, art.marketCategoryId)"
                        target="_blank"
                    >
                        {{ art.title }} ({{ lots.length }})
                    </a>
                </h6>

                <icon
                    v-if="failedAttemptsLoadLots > 5"
                    v-tooltip="$t('app.art.info_about_failed_requests', { count: failedAttemptsLoadLots })"
                    name="attention"
                    class="tooltip-target text-danger info"
                />
                <icon
                    v-else-if="lastRequestIsFailed"
                    v-tooltip="$t('app.art.last_request_was_failed')"
                    name="attention"
                    class="tooltip-target text-warning"
                />
            </div>

            <div class="actions d-flex justify-content-between align-items-center mt-sm-0 mt-1">
                <div>
                    <span
                        v-if="meta.lastUpdatedAt"
                        v-tooltip="$t('app.main.last_update') + '<br>' + meta.lastUpdatedAt.format('YYYY-MM-DD HH:mm:ss')"
                        class="ml-1 mr-1"
                        :class="{
                            'text-warning': now.diff(meta.lastUpdatedAt, 'second') > options.options.autoUpdateInterval,
                            'text-muted': now.diff(meta.lastUpdatedAt, 'second') <= options.options.autoUpdateInterval
                        }"
                    >
                        <icon name="time" /> {{ meta.lastUpdatedAt.format('HH:mm:ss') }}
                    </span>
                </div>
                <div>
                    <b-button-group>
                        <c-button
                            class="handle curm d-sm-flex d-none"
                            icon="move"
                            :tooltip="$t('app.main.move')"
                        />
                        <c-button
                            icon="refresh"
                            :tooltip="$t('app.main.refresh')"
                            :loading="loadingLotList"
                            :disabled="loadingLotList || !monitoredArt.isActive"
                            @click="refreshLotList"
                        />
                        <c-button
                            icon="conf"
                            :tooltip="$t('app.main.settings')"
                            @click="openConfig"
                        />
                        <c-button
                            class="text-danger"
                            icon="delete"
                            :tooltip="$t('app.main.delete')"
                            @click="deleteArt"
                        />
                    </b-button-group>
                </div>
            </div>
        </div>
        <div
            v-if="monitoredArt.isActive"
            class="card-body table-responsive posr"
            :class="{'overflow-hidden': loadingLotList}"
        >
            <loading
                type="block"
                :show="loadingLotList && lotsForTable.length > 0"
            />
            <short-lots-table
                :id="'lots_for_' + this.monitoredArt.hwmId"
                ref="lotsTable"
                :data="lotsForTable"
                :art="this.art"
                :save-state="true"
                @created="onLotsTableCreated"
            />
        </div>

        <art-settings ref="options" />
    </div>
</template>

<script>
import dayjs from 'dayjs';
import { mapActions } from 'vuex';

import ArtSettings from 'JS/app/components/pages/monitoring/ArtSettings';
import ShortLotsTable from 'JS/app/components/lots/ShortLotsTable';
import { errorLoadArtImg } from 'JS/app/utils/helpers';

export default {
    components: {
        ShortLotsTable,
        ArtSettings,
    },
    props: {
        art: {
            type: Object,
            required: true,
        },
        monitoredArt: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            progress: {
                value: 0,
                show: false,
                max: 100,
            },
            failedAttemptsLoadLots: 0,
            removing: false,
            lastRequestIsFailed: false,

            autoUpdateTimerHandle: null,
            autoUpdateTimerStartTime: null,
            autoUpdateTimerDelay: null,
            autoUpdateTimerLeftSeconds: null,
        };
    },
    methods: {
        ...mapActions('Market', [
            'loadLotsByArt',
            'loadLotsByArtFromCache',
        ]),
        errorLoadArtImg(event) {
            errorLoadArtImg(event);
        },
        openConfig() {
            this.openModal(this.configModalId);
        },
        async refreshLotList() {
            if (this.loadingLotList) {
                return;
            }

            await this.loadLotsByArt({ artId: this.art.hwmId }).then(() => {
                this.failedAttemptsLoadLots = 0;
                this.lastRequestIsFailed = false;
                this.runAutoUpdateTimer();
            }).catch((e) => {
                console.error(e);
                this.lastRequestIsFailed = true;
                this.failedAttemptsLoadLots += 1;
                this.runAutoUpdateTimer();
            });
        },
        runAutoUpdateTimer() {
            this.progress.show = false;

            if (this.monitoredArt.isActive && this.options.options.autoUpdate && this.failedAttemptsLoadLots <= 5) {
                clearTimeout(this.autoUpdateTimerHandle);
                this.autoUpdateTimerHandle = setTimeout(() => {
                    this.refreshLotList();
                }, this.options.options.autoUpdateInterval * 1000);
                this.autoUpdateTimerDelay = this.options.options.autoUpdateInterval * 1000;
                this.autoUpdateTimerStartTime = dayjs();
                this.progress.show = true;
            } else {
                this.autoUpdateTimerDelay = null;
                this.autoUpdateTimerStartTime = null;
                this.progress.show = false;
            }
        },
        deleteArt() {
            if (window.confirm(this.$t('app.art.are_you_sure_want_to_delete_art_from_monitoring'))) {
                this.$emit('delete', this);
            }
        },
        udpateTimeoutLeftSeconds() {
            if (this.autoUpdateTimerStartTime && this.autoUpdateTimerDelay) {
                const diff = dayjs().diff(this.autoUpdateTimerStartTime, 'second');
                this.autoUpdateTimerLeftSeconds = diff < this.autoUpdateTimerDelay ? Number.parseInt((this.autoUpdateTimerDelay / 1000) - diff, 10) : null;
            } else {
                this.autoUpdateTimerLeftSeconds = null;
            }

            if (this.autoUpdateTimerLeftSeconds) {
                const percents = 100 - ((this.autoUpdateTimerLeftSeconds * 1000 * 100) / this.autoUpdateTimerDelay);
                this.progress.value = percents;
            } else {
                this.progress.show = false;
            }
        },
        onLotsTableCreated() {

        },
    },
    computed: {
        options() {
            return this.$refs.options;
        },
        loadingLotList() {
            return this.$store.getters['Market/getLoadingLotsByArt'](this.art.hwmId);
        },
        lots() {
            return this.$store.getters['Market/getLotsByArt'](this.art.hwmId);
        },
        meta() {
            return this.$store.getters['Market/getMetaByArt'](this.art.hwmId);
        },
        lotsForTable() {
            return this.lots;
        },
        configModalId() {
            return `monitor_config_${this.art.hwmId}_${this._uid}`;
        },
        now() {
            return dayjs();
        },
        textForProgressBar() {
            const diff = this.autoUpdateTimerLeftSeconds > 60
                ? this.$options.filters.humanizeSeconds(this.autoUpdateTimerLeftSeconds, 'second')
                : `${this.autoUpdateTimerLeftSeconds} ${this.$t('app.main.seconds')}`;

            return this.$t('app.monitoring.left_time_to_next_refresh', { diff });
        },
    },
    mounted() {
        this.options.initOptions();
        if (this.monitoredArt.isActive) {
            this.refreshLotList();
        }

        setInterval(this.udpateTimeoutLeftSeconds, 1000);
    },
};
</script>
