<template>
    <div
        v-if="craftObject"
        class="card"
    >
        <div class="card-header d-flex justify-content-between">
            <div v-if="craftObject.type" class="d-flex flex-column flex-sm-row">
                <div>
                    <span>
                        <v-popover>
                            <icon
                                class="tooltip-target small text-muted info"
                                name="info"
                            />
                            <template slot="popover">
                                <div v-if="craftObject && craftObject.isValid()">
                                    <div v-for="mod in Craft.modificators" :key="mod">{{ craftObject.craftDesc()[mod] }}</div>
                                </div>
                                <span v-else>{{ $t('app.calculator.modificator') }}</span>
                            </template>
                        </v-popover>
                    </span>
                    <input
                        v-model="string"
                        type="text"
                        class="form-control form-control-sm d-inline-block"
                        placeholder="I10A10E10"
                        style="width: 150px"
                    >
                </div>
                <div class="ml-0 ml-sm-4">
                    <span>
                        <v-popover>
                            <icon
                                class="tooltip-target small text-muted info"
                                name="info"
                            />
                            <template slot="popover">
                                <span>{{ $t('app.art.cost') }}</span>
                            </template>
                        </v-popover>
                    </span>
                    <number-input
                        v-model="price"
                        class="d-inline-block"
                        :classes="'form-control form-control-sm d-inline-block'"
                        :attrs="{style: 'width: 150px'}"
                        :min="0"
                        :max="99999999"
                    />
                </div>
            </div>
            <div
                class="
                    d-flex
                    justify-content-center
                    flex-sm-row
                    flex-column
                    align-items-sm-start
                    align-items-stretch ml-2
                "
            >
                <c-button
                    :tooltip="$t('app.calculator.refresh_prices')"
                    icon="refresh"
                    @click.native="loadPrices"
                />
                <c-button
                    :tooltip="$t('app.calculator.element_prices')"
                    :icon="!showCraftElements ? 'arrow_down' : 'arrow_up'"
                    @click.native="showCraftElements = ! showCraftElements"
                />
            </div>
        </div>
        <transition
            name="el-zoom-in-top"
            appear
        >
            <div
                v-if="showCraftElements"
                class="d-flex justify-content-start flex-wrap card-body"
            >
                <loading
                    type="block"
                    :show="loadingPrices"
                />
                <div
                    v-for="(title, element) in elements"
                    :key="element"
                    class="text-center mb-2 mr-2"
                    style="width: 65px;"
                >
                    <div v-if="elementPrices[element]">
                        <icon
                            v-tooltip="title + '<br>' + $t('app.main.updated') + ' ' + elementPrices[element].createdAt"
                            :hwm="true"
                            :name="element"
                            class="icon-hwm-lg mb-1"
                        />
                        <number-input
                            classes="form-control form-control-sm w-100"
                            :value="elementPrices[element].minPrice"
                            :attrs="{'data-element': element}"
                            :step="1"
                            :min="1"
                            @native-change="changeAvgPrice"
                        />
                        <span class="badge badge-secondary">{{ craftObject && craftObject.elementsCount[element] ? craftObject.elementsCount[element] : 0 }}</span>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import Craft from 'JS/app/utils/hwm/objects/Craft';

import { mapGetters, mapActions } from 'vuex';

export default {
    name: 'CraftBlock',
    props: ['craftString', 'craftPrice', 'artType'],
    data() {
        return {
            price: 0,
            string: '',
            craftObject: null,
            showCraftElements: true,
        };
    },
    methods: {
        async loadPrices() {
            await this.loadElementPrices();
            this.refreshCraftPrice();
        },
        refreshCraftPrice() {
            this.craftObject.loadPrices(this.elementPrices);
            this.price = this.craftObject.totalPrice;
        },
        changeAvgPrice(event) {
            this.updateElementAvgPrice({
                element: event.target.getAttribute('data-element'),
                price: parseInt(event.target.value, 10),
            });
            this.refreshCraftPrice();
        },
        initCraftObject() {
            this.craftObject.init(this.string);
            this.refreshCraftPrice();
        },
        ...mapActions('Market', [
            'loadElementPrices',
            'updateElementAvgPrice',
        ]),
    },
    watch: {
        string() {
            this.initCraftObject();
            this.$parent.craftString = this.string;

            this.string = this.string.toUpperCase();
        },
        price() {
            this.$parent.craftPrice = this.price;
            this.$parent.calculate();
        },
    },
    computed: {
        ...mapGetters('Market', {
            elementPrices: 'getElementPrices',
            loadingPrices: 'getLoadingPrices',
        }),
        elements() {
            const elements = this.craftObject ? this.craftObject.elements : {};
            const fern = elements.fern_flower;
            delete elements.fern_flower;
            elements.fern_flower = fern;

            return elements;
        },
        Craft() {
            return Craft;
        },
    },
    created() {
        this.string = this.craftString;
        this.craftObject = new Craft(this.string, this.artType);

        this.loadPrices();
    },
};
</script>
