<template>
    <div class="results">
        <div class="text-center">
            <v-popover v-if="$parent.reverseMode" class="align-top">
                <icon class="tooltip-target small text-muted info" name="info"></icon>
                <template slot="popover">
                    {{ $t('app.calculator.info_about_result') }}
                </template>
            </v-popover>
            <h5 class="d-inline-block ml-1">
                {{ $t('app.calculator.result') }}
            </h5>
        </div>
        <div class="table-responsive-md">
            <table class="table light table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{ $t('app.art.master') }}</th>
                        <th v-if="$parent.reverseMode">
                            <strong>{{ $t('app.calculator.optimal_cost') }}</strong>
                        </th>
                        <th>
                            {{ $t('app.art.columns.price_per_fight') }}
                        </th>
                        <th>{{ $t('app.art.strength') }}</th>
                        <th>{{ $t('app.art.number_of_fights') }}</th>
                        <th>{{ $t('app.art.total_cost') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(result, index) in results" :key="index">
                        <td># {{index + 1}}</td>
                        <td v-if="$parent.reverseMode">{{result.optimalPrice}}</td>
                        <td class="text-nowrap">
                            <div v-if="$parent.defaultMode">
                                <strong>{{result.pricePerFight.toFixed(2)}}</strong>
                                <v-popover class="ml-2 d-inline-block" popoverClass="steps-details">
                                    <a href="#" class="tooltip-target text-muted curp" v-tooltip="$t('app.calculator.show_all_iteration')" @click.prevent>
                                        <icon name="level_down"></icon>
                                    </a>

                                    <template slot="popover" >
                                        <span>{{ $t('app.calculator.detailed_statistics') }}</span>
                                        <span v-close-popover class="close">
                                            <icon name="close"></icon>
                                        </span>
                                        <table class="table table-bordered mt-2 text-muted">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>
                                                        <icon name="info" :tooltip="$t('app.art.price_per_fight')"/>
                                                    </th>
                                                    <th>
                                                        <icon name="info" :tooltip="$t('app.art.strength')"/>
                                                    </th>
                                                    <th>
                                                        <icon name="info" :tooltip="$t('app.art.number_of_fights')"/>
                                                    </th>
                                                    <th>
                                                        <icon name="info" :tooltip="$t('app.art.total_cost')"/>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(step, index) in result.steps" :key="index" :class="{'text-white': result.strength === step.strength}">
                                                    <td>:{{step.step}}</td>
                                                    <td>{{step.pricePerFight.toFixed(2)}}</td>
                                                    <td>00/{{step.strength}}</td>
                                                    <td>{{step.fights}}</td>
                                                    <td>{{step.price | hwmNumber}}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </template>
                                </v-popover>
                            </div>
                            <div v-if="$parent.reverseMode">{{result.pricePerFight.toFixed(2)}}</div>
                        </td>
                        <td>00/{{result.strength}}</td>
                        <td>{{result.fights}}</td>
                        <td>{{result.price | hwmNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        results: Array,
        currentMode: Number,
    },
};
</script>
