@import 'darkly/_bootstrap';

@import '~bootstrap-vue';
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import '~noty/src/noty';
@import 'darkly/ui/noty';

@import 'darkly/transitions.css';

@import 'darkly/main';

@import 'darkly/helpers';

@import "darkly/elements/index";

@import "darkly/ui/index";

@import "darkly/pages/index";

// overlay critical css
body {
    [v-cloak] {
        opacity: 0 !important;
    }
    .v-cloak {
        transition: opacity 1s linear;
        opacity: 1;
        display: inherit;
        height: 100%;
    }
    .navbar-nav.v-cloak {
        display: flex;
    }
}
