@import 'darkly/_bootstrap';

@import 'darkly/main';

@import 'darkly/helpers';

@import 'darkly/elements/accept_cookies';
@import 'darkly/elements/loading';
@import 'darkly/ui/form';
@import 'darkly/ui/footer';
@import 'darkly/ui/navbar';
@import 'darkly/pages/error';
@import 'darkly/pages/index_page';

.v-cloak {
    opacity: 0;
}
.navbar > .container {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar-nav.v-cloak {
    display: none;
}
.navbar b-collapse {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
}

// Header
@include media-breakpoint-down(md) {
    //
}
@include media-breakpoint-up(md) {
    #navbarmain > .navbar-nav:first-child {
        min-width: 500px;
    }
}
