@import 'darkly/_variables';
@import "~bootstrap/scss/bootstrap";
@import 'darkly/_bootswatch';
@import 'darkly/ui/navbar';

/* Base */
.im, .im > * {
  color: $body-color !important;
}

/* Typography */
h1, h2, h3, h4, h5, h5, p {
  font-family: $font-family-sans-serif;
  color: $body-color;
}
h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 16px;
  line-height: 1.5em;
}

p.sub {
  font-size: 12px;
}

img {
  max-width: 100%;
}

/* Layout */
body {
  background-color: #fff;
}

.wrapper {
  @extend body;

  background-color: $body-bg;
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-word-break: break-all;
  width: 100% !important;
  -webkit-hyphens: auto;
  -webkit-text-size-adjust: none;
  word-break: break-all;
  word-break: break-word;
  margin: 0;
  padding: 0;
  width: 100%;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
}

.content {
  margin: 0;
  padding: 0;
  width: 100%;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
}

/* Header */

.header {
  padding: 15px 0;
  text-align: center;
  background-color: $light;
}

.header a {
  font-size: 19px;
  color: $body-color;
}

/* Body */

.body {
  margin: 0;
  padding: 0;
  width: 100%;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
}

.inner-body {
  margin: 0 auto;
  padding: 0;
  width: 570px;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  -premailer-width: 570px;
}

/* Subcopy */

.subcopy {
  margin-top: 25px;
  padding-top: 25px;
}

.subcopy p {
  font-size: 12px;
}

/* Footer */
.footer-wrapper {
  background: $light;
}
.footer {
  margin: 0 auto;
  text-align: center;
  width: 570px;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  -premailer-width: 570px;
}

.footer p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 0;
}

/* Tables */

.table table {
  margin: 30px auto;
  width: 100%;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
}

.table th {
  padding-bottom: 8px;
  margin: 0;
}

.table td {
  font-size: 15px;
  line-height: 18px;
  padding: 10px 0;
  margin: 0;
}

.content-cell {
  padding: 35px;
}

/* Buttons */

.action {
  margin: 30px auto;
  padding: 0;
  text-align: center;
  width: 100%;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
}

/* Panels */

.card {
  margin: 0 0 21px;
}

.card-body {
  padding: 16px;
}

.card-item {
  padding: 0;
}

.card-item p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}
