<template>
    <div class="row">
        <loading
            type="block"
            :show="loadingUpdateSettings"
        />
        <div class="col-lg-7 col-12 form-group">
            <div class="card notifications">
                <div class="card-header d-flex align-items-center">
                    {{ $t('app.user.settings.general_notifications') }}
                </div>
                <div class="card-body">
                    <ul class="list-group nofity-list">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="font-weight-bold">{{ $t('app.user.settings.notification_type') }}</span>
                            <div class="notify-channels">
                                <div
                                    v-for="channel in channels"
                                    :key="channel"
                                >
                                    <icon
                                        :name="channel"
                                        size="2x"
                                        :tooltip="$t('app.notifications.channels.' + channel)"
                                    />
                                </div>
                            </div>
                        </li>
                        <li
                            v-for="(value, notify) in settings.notifications"
                            :key="notify"
                            class="list-group-item d-flex justify-content-between align-items-center"
                            :class="notify === 'default' ? 'default bg-secondary' : ''"
                        >
                            <span class="font-weight-bold">
                                <icon
                                    v-if="$te(`app.notifications.types_desc.${notify}`)"
                                    class="mr-1"
                                    name="info"
                                    :tooltip="$t(`app.notifications.types_desc.${notify}`)"
                                />
                                {{ $t(`app.notifications.types.${notify}`) }}
                            </span>
                            <div class="notify-channels">
                                <div
                                    v-for="channel in channels"
                                    :key="channel"
                                >
                                    <b-checkbox
                                        v-model="value[channel]"
                                        v-tooltip="(value[channel] ? $t('app.main.disable') : $t('app.main.enable'))"
                                        switch
                                        :disabled="canChangeNotification(notify, channel)"
                                        :size="notify === 'default' ? 'lg' : ''"
                                        @change.native="changeNotification(notify, channel)"
                                    />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-12 form-group">
            <div class="card">
                <div class="card-header">
                    {{ $t('app.main.telegram') }}
                </div>
                <div class="card-body">
                    <div
                        v-if="user.telegramAccount"
                        class="d-flex justify-content-between"
                    >
                        <span class="text-muted">
                            {{ user.telegramAccount.first_name }} {{ user.telegramAccount.last_name }} <span v-if="user.telegramAccount.username">[@{{ user.telegramAccount.username }}]</span>
                        </span>
                        <div class="text-center d-inline-block ml-2">
                            <c-button
                                type="error"
                                size="sm"
                                :tooltip="$t('app.main.delete')"
                                icon="delete"
                                @click="deleteTelegramIntegration"
                            />
                        </div>
                    </div>
                    <div
                        v-else
                        class="overflow-auto text-center"
                    >
                        <span v-html="$t('app.user.telegram_instruction_1', { link: user.telegramLinkWithUser})" />
                        <div class="text-center mt-2">
                            <c-button
                                icon="telegram"
                                type="primary"
                                :href="user.telegramLinkWithUser"
                                blank
                            >
                                {{ $t('app.main.connect') }}
                            </c-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import cloneDeep from 'lodash/cloneDeep';

import clipboard from 'JS/app/utils/clipboard';
import notify from 'JS/app/utils/notify';
import WebPush from 'JS/app/utils/webPushService';

export default {
    data() {
        return {
            settings: null,
        };
    },
    methods: {
        ...mapActions('User', [
            'updateNotificationSettings',
            'disconnectTelegram',
        ]),
        changeNotification(key, channel) {
            const settings = {};
            settings[key] = {};
            settings[key][channel] = this.settings.notifications[key][channel];

            this.updateNotificationSettings(settings).then(() => {
                notify.success(this.$t('app.main.successfuly_save'));
            });

            if (key === 'default' && channel === 'browser' && settings[key][channel]) {
                this.requestSubscription(true);
            }
        },
        deleteTelegramIntegration() {
            this.disconnectTelegram().then(() => {
                notify.success(this.$t('app.user.succes_delete_telegram_account'));
            });
        },
        copy(text) {
            clipboard(text);
        },
        canChangeNotification(key, channel) {
            if (channel === 'telegram' && !this.user.telegramAccount) {
                return false;
            }

            return key !== 'default' && !this.settings.notifications.default[channel];
        },
        async requestSubscription(force = false) {
            let sub = await WebPush.getSubscription();
            if (!sub) {
                sub = await WebPush.requestForPushSubscription();

                if (sub) {
                    await WebPush.subscribe(sub);
                    return;
                }
            }

            if (sub && force) {
                await WebPush.subscribe(sub);
            }
        },
    },
    computed: {
        ...mapGetters('User', {
            user: 'getUser',
            loadingUpdateSettings: 'getLoadingUpdateSettings',
        }),
        channels() {
            return this.$config.app.notificationChannels;
        },
    },
    watch: {
        user() {
            this.settings = cloneDeep(this.user.settings);
            if (this.settings.notifications.important) delete this.settings.notifications.important;
        },
    },
    created() {
        this.settings = cloneDeep(this.user.settings);

        if (this.settings.notifications.important) delete this.settings.notifications.important;
        if (this.settings.notifications.new_lot) delete this.settings.notifications.new_lot;

        this.requestSubscription();
    },
};
</script>

<style scoped>
.nofity-list .list-group-item.default {
    padding: .75rem;
    font-size: 130%;
}
.notify-channels > * {
    display: inline-block;
    width: 50px;
}
.notify-channels > *:not(:last-child) {
    margin-right: 1rem;
}
.notifications > .card-body {
    overflow-x: auto;
}
.notifications .nofity-list {
    min-width: 500px;
}
</style>
