<template>
    <form :action="route('profile.updatePassword')" class="card form-lock-submit" method="POST">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 mb-md-0 mb-4">
                <label class="required">
                    {{ $t('validation.attributes.old_password') }}
                </label>
                <input
                    type="password"
                    class="form-control form-control-sm"
                    name="old_password"
                    :required="user.hasPassword"
                    :disabled="!user.hasPassword"
                >
            </div>
            <div class="col-md-4 mb-md-0 mb-4">
                <label  class="required">
                    {{ $t('validation.attributes.password') }}
                </label>
                <input
                    type="password"
                    class="form-control form-control-sm"
                    name="password"
                    minlength="6"
                    required
                >
            </div>
            <div class="col-md-4 mb-0">
                <label  class="required">
                    {{ $t('validation.attributes.password_confirmation') }}
                </label>
                <input
                    type="password"
                    class="form-control form-control-sm"
                    name="password_confirmation"
                    minlength="6"
                    required
                >
            </div>
        </div>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary btn-block">{{ $t('app.main.refresh') }}</button>
    </div>
</form>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
    computed: {
        ...mapGetters('User', {
            user: 'getUser',
        }),
    },
};
</script>
