<template>
    <div class="row">
        <div class="col-md-6 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header">
                    {{ $t('app.user.settings.base') }}
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between">
                            <label>{{ $t('validation.attributes.email') }}:</label>
                            <span class="text-muted font-weight-bold ml-2 text-truncate notification-email">{{
                                user.email
                            }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <label class="d-block d-md-inline">{{ $t('app.user.social_networks') }}:</label>
                            <div class="d-inline-block socials-blocks">
                                <a
                                    v-for="provider in user.socialProviders"
                                    :key="provider.provider"
                                    v-tooltip="$t('app.user.' + (provider.active ? 'social_already_connected' : 'connect_social'), { social: provider.title })"
                                    :href="!provider.active ? route('profile.connectSocial') + '/' + provider.provider : '#'"
                                    :class="'btn btn-link social-' + provider.provider + (provider.active ? ' active' : '')"
                                    @click="provider.active ? preventDefault : ''"
                                >
                                    <icon
                                        :name="provider.provider"
                                        size="lg"
                                    />
                                </a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <label
                                v-tooltip="$t('app.user.settings.lang_info')"
                                class="text-nowrap"
                            >
                                {{ $t('app.user.settings.lang') }}:
                            </label>
                            <b-select
                                v-model="user.settings.lang"
                                :options="locales"
                                :text-field="'native'"
                                :value-field="'iso'"
                                class="ml-4 w-auto"
                                size="sm"
                                @change="onChangeLang"
                            />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    {{ $t('app.user.settings.limits') }}
                    <div v-tooltip="'3$/мес - 20/20(артефакты/фильтры)<br/>Задержка нотификаций - 0 сек'">
                        <c-button
                            :text="$t('app.user.settings.request_to_increase')"
                            type="primary"
                            size="sm"
                            @click="requestToIncreaseLimits"
                        />
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ $t('app.user.features.max_monitored_arts') }}
                            <span>
                                <span
                                    v-tooltip="$t('app.user.settings.current_value')"
                                    class="badge badge-secondary mr-2"
                                >{{ user.monitored_arts_count }}</span>
                                <span
                                    v-tooltip="$t('app.user.settings.max_value')"
                                    class="badge badge-primary"
                                >{{ user.features.max_monitored_arts }}</span>
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ $t('app.user.features.max_monitored_filters') }}
                            <span>
                                <span
                                    v-tooltip="$t('app.user.settings.current_value')"
                                    class="badge badge-secondary mr-2"
                                >{{ user.monitored_filters_count }}</span>
                                <span
                                    v-tooltip="$t('app.user.settings.max_value')"
                                    class="badge badge-primary"
                                >{{ user.features.max_monitored_filters }}</span>
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ $t('app.user.features.lot_filters_notify_delay') }}
                            <span>
                                <span
                                    v-tooltip="$t('app.user.settings.current_value')"
                                    class="badge badge-secondary"
                                    :class="{'text-warning': user.features.lot_filters_notify_delay > 0, 'text-success': !user.features.lot_filters_notify_delay}"
                                >{{ user.features.lot_filters_notify_delay }}</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div
                v-if="user.subscriptions && user.subscriptions.length"
                class="card"
            >
                <div class="card-header">
                    {{ $t('app.user.settings.subscriptions') }}
                </div>
                <div class="card-body">
                    <div
                        v-for="sub in user.subscriptions"
                        :key="sub.subscription.id"
                        class="mb-4"
                    >
                        <h5
                            v-b-toggle="'sub-features-' + sub.id"
                            class="text-success"
                        >
                            {{ sub.subscription.name }}
                        </h5>
                        <p>{{ $t('app.user.settings.active_to') }} {{ sub.ended_at|formatDate('YYYY-MM-DD') }} ({{ sub.ended_at|dateHumanize }}) </p>
                        <b-collapse
                            :id="'sub-features-' + sub.id"
                            class="list-group"
                        >
                            <li
                                v-for="item in sub.features"
                                :key="item.key"
                                class="list-group-item d-flex justify-content-between align-items-center"
                            >
                                <span>{{ $t('app.user.features.' + item.key) }}</span>
                                <span
                                    v-if="item.type === 'bool'"
                                    class="badge badge-secondary"
                                >{{ item.value ? $t('app.main.yes') : $t('app.main.no') }}</span>
                                <span
                                    v-else
                                    class="badge badge-secondary"
                                >{{ item.value }}</span>
                            </li>
                        </b-collapse>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    {{ $t('app.user.settings.game_settings') }}
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <label class="text-nowrap">{{ $t('app.user.settings.game_link') }}:</label>
                            <b-select
                                v-model="user.settings.game_link"
                                :options="gameLinks"
                                class="ml-4 w-auto"
                                size="sm"
                                @change="onChangeGameLink"
                            />
                        </li>
                        <li
                            v-if="user.features.can_edit_game_settings"
                            class="list-group-item d-flex justify-content-between align-items-center"
                        >
                            <label class="text-nowrap">{{ $t('app.user.settings.market_sort') }}:</label>
                            <b-select
                                v-model="user.settings.game_settings.link_market_sort"
                                :options="marketSortsVariants"
                                class="ml-4 w-auto"
                                size="sm"
                                @change="onChangeGameSettings"
                            />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
import notify from 'JS/app/utils/notify';
import config from 'JS/app/config';
import forEach from 'lodash/forEach';
import i18n from 'JS/app/utils/localization';

export default {
    data() {
        return {
            gameLinks: [
                'https://my.lordswm.com',
                'https://www.heroeswm.ru',
                'https://www.lordswm.com',
            ],
            marketSortsVariants: [
                { value: 1, text: i18n.t('app.user.settings.sort_old') },
                { value: 2, text: i18n.t('app.user.settings.sort_new') },
                { value: 3, text: i18n.t('app.user.settings.sort_price_desc') },
                { value: 4, text: i18n.t('app.user.settings.sort_price_asc') },
            ],
        };
    },
    computed: {
        ...mapGetters('User', {
            user: 'getUser',
        }),
        locales() {
            const locales = [];

            forEach(config.app.locales, (item, key) => {
                const locale = { ...item };
                locale.iso = key;
                locales.push(locale);
            });

            return locales;
        },
    },
    methods: {
        ...mapActions('User', [
            'updateSettings',
            'setLocale',
        ]),
        requestToIncreaseLimits() {
            this.openModal('feedback_modal');
        },
        preventDefault(event) {
            event.preventDefault();
        },
        onChangeGameLink(value) {
            this.updateSettings({ game_link: value }).then(() => {
                notify.success(this.$t('app.main.successfuly_save'));
            });
        },
        onChangeLang(value) {
            this.setLocale(value).then(() => {
                notify.success(this.$t('app.main.successfuly_save'));

                setTimeout(() => {
                    window.location.reload();
                }, 1000);
            }).catch(() => {
                window.location.reload();
            });
        },
        onChangeGameSettings() {
            this.updateSettings({ game_settings: this.user.settings.game_settings }).then(() => {
                notify.success(this.$t('app.main.successfuly_save'));
            });
        },
    },
};
</script>
