.calculator {
    @include media-breakpoint-only(xs) {
        & {
            margin-top: -2rem;
            // margin-bottom: -2rem;
            padding-right: 0;
            padding-left: 0;
        }
    }
    @media screen and (max-width: 360px) {
        .master > div {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
            margin-bottom: .5rem;
        }
        .card-title {
            margin-bottom: 0.5rem;
        }
    }
    @include media-breakpoint-only(md) {
        .master > div {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
            margin-bottom: .5rem;
        }
    }

    .steps-details {
        .table td, .table th{
            padding: 0.25rem
        }
    }

    @include media-breakpoint-only(xs) {
        .masters label {
            text-align: center;
        }
    }

    .master-repair {
        padding-right: 20px;
        text-align: center;
    }
    .master-repair+.input-group-append {
        @extend .form-control;
        @extend .form-control-sm;
        position: absolute;
        top: 0;
        right: 15px;
        display: inline-block;
        width: auto;
        background: transparent;
    }

    input{
        text-align: center;
    }
}
