// Error Page
.error-page {
	.main {
		display: flex;
		flex-direction: column;
	}
	.error-container {
        padding-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
	}

    h1 {
    	font-size: 10rem;
    }
}
