.page-index {
    margin: -1.5rem 0;
    background: #000000;

    .index-top {
        position: relative;
        overflow: hidden;
        padding: 2rem 0;

        img {
            margin-bottom: 1rem;
        }

        h1 {
            text-align: center;
            font-size: 8rem;
            font-weight: 600;
            margin-bottom: 10rem;
        }

        p {
            position: absolute;
            left: 50%;
            bottom: 5rem;
            transform: translateX(-50%);
            font-size: 2rem;
            width: 100%;
            text-align: center;
        }
    }
    @media (max-width: 767px) {
        .index-top {
            img {
                max-width: 250px;
                max-height: 250px;
                margin-bottom: 2rem;
            }
            h1 {
                font-size: 5rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
    @media (max-width: 575px) {
        .index-top {
            padding: 1rem 0;

            img {
                max-width: 200px;
                max-height: 200px;
            }
            h1 {
                font-size: 3rem;
                margin-bottom: 1rem;
            }
            p {
                font-size: 1.25rem;
            }
        }
    }
}
