.market {
    .sidebar {
        width: 100%;
    }

    .art-info .card-body {
        display: none;
    }

    @include media-breakpoint-up(lg) {
        .sidebar {
            width: 450px;
        }
    }
}

