.monitoring {
    .art-card.auto-update-on {
        box-shadow: 0 0.125rem 1rem rgba($success, 0.3) !important;
    }
    .art-card.auto-update-off {
        box-shadow: none;
    }

    .art-card {
        .card-header {
            padding: 0.5rem 0.75rem;
        }

        .card-body {
            padding: 0;
            max-height: 200px;
            overflow: auto;
            margin-bottom: 0;
        }
        .table {
            margin-bottom: 0;
        }
        .VuePagination, .VueTables__limit {
            display: none;
        }
        .VueTables .table-responsive {
            overflow-x: inherit;
        }
        @media (min-width: 1200px) and (max-width: 1300px) {
            .card-title {
                max-width: 85px;
            }
        }
        @media (min-width: 1300px) and (max-width: 1400px) {
            .card-title {
                max-width: 120px;
            }
        }
        @media (min-width: 1400px) and (max-width: 1500px) {
            .card-title {
                max-width: 150px;
            }
        }
        @media (min-width: 1500px) and (max-width: 1600px) {
            .card-title {
                max-width: 185px;
            }
        }

        @media (min-width: 1600px) and (max-width: 1700px) {
            .card-title {
                max-width: 210px;
            }
        }

        @media (min-width: 1600px) and (max-width: 1800px) {
            .card-title {
                max-width: 240px;
            }
        }
    }
}
