<template>
    <div class="d-flex justify-content-between">
        <b-checkbox
            v-model="yes"
            @input="changeValue('yes')"
        >
            {{ $t('app.lots.filters.yes') }}
        </b-checkbox>
        <b-checkbox
            v-model="no"
            @input="changeValue('no')"
        >
            {{ $t('app.lots.filters.no') }}
        </b-checkbox>
    </div>
</template>

<script>
export default {
    props: ['value'],
    data() {
        return {
            yes: null,
            no: null,
        };
    },
    methods: {
        changeValue(type) {
            if (type === 'no' && this.no) {
                this.yes = false;
            } else if (type === 'yes' && this.yes) {
                this.no = false;
            }
            // eslint-disable-next-line no-nested-ternary
            this.$emit('input', this.yes ? true : (this.no) ? false : null);
        },
        parseValue() {
            if (this.value === true) {
                this.yes = true;
                this.no = false;
            } else if (this.value === false) {
                this.yes = false;
                this.no = true;
            } else {
                this.yes = false;
                this.no = false;
            }
        },
    },
    created() {
        this.parseValue();
    },
};
</script>
