<template>
    <v-date-picker
        v-model="range"
        is-range
        :locale="$i18n.locale"
        :masks="masks"
        :model-config="modelConfig"
        @input="changeValue"
        :max-date="maxDate"
        :min-date="minDate"
    >
        <template v-slot:default="{ inputValue, inputEvents }">
            <div class="d-flex justify-content-center align-items-center">
                <input
                    class="form-control form-control-sm mr-1"
                    :placeholder="$t('app.lots.filters.begin')"
                    :value="inputValue.start"
                    v-on="inputEvents.start"
                    style="width: 80px"
                />
                <input
                    :value="inputValue.end"
                    v-on="inputEvents.end"
                    :placeholder="$t('app.lots.filters.end')"
                    class="form-control form-control-sm"
                    style="width: 80px"
                />
                <icon
                    v-if="range"
                    name="delete"
                    class="ml-1 text-danger curp"
                    size="sm"
                    :tooltip="$t('app.main.clear')"
                    @click.native="range = null; changeValue()"
                />
            </div>
        </template>
    </v-date-picker>
</template>

<script>
import DatePicker from 'v-calendar/lib/components/date-picker.umd';

export default {
    components: {
        'v-date-picker': DatePicker,
    },
    props: {
        value: {
            type: Array,
        },
        maxDate: {
            default: () => new Date(),
        },
        minDate: {},
    },
    data() {
        return {
            range: null,
            masks: {
                input: 'YYYY-MM-DD',
            },
            modelConfig: {
                type: 'string',
                mask: 'YYYY-MM-DD',
            },
        };
    },
    watch: {
        value() {
            if (!this.value.length) {
                this.range = null;
            }
        },
    },
    methods: {
        changeValue() {
            this.$emit('input', this.range && this.range.start && this.range.end ? [this.range.start, this.range.end] : []);
        },
    },
    created() {
        if (this.value && Array.isArray(this.value) && this.value.length === 2) {
            this.range = {};
            this.range.start = this.value[0] || null;
            this.range.end = this.value[1] || null;
        }
    },
};
</script>
