<template>
    <div>
        <multiselect
            v-model="selectValue"
            :options="data"
            :multiple="true"
            @input="changeValue"
            :close-on-select="true"
            :clear-on-select="false"
            :preserve-search="true"
            label="label"
            track-by="label"
            placeholder=""
            select-label=""
            deselect-label=""
            selected-label=""
            style="min-width: 200px"
            class="multiselect-sm mb-2"
        >
            <template
                slot="selection"
                slot-scope="{ values, search, isOpen }"
            >
                <span class="multiselect__single" v-if="isOpen">
                    {{ search }}
                </span>
                <span class="multiselect__single" v-if="!isOpen">
                    {{ $t('app.main.select') }}
                </span>
            </template>
        </multiselect>
        <span
            v-for="(item, index) in selectValue"
            :key="item.value"
            class="badge badge-primary mr-1"
        >
            {{ item.label }}
            <icon name="close" class="ml-1" @click.native="removeValue(index)"></icon>
        </span>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect';

export default {
    components: {
        Multiselect,
    },
    props: {
        data: {
            type: Array,
        },
        value: {
            type: Array,
        },
    },
    data() {
        return {
            selectValue: [],
        };
    },
    methods: {
        changeValue() {
            this.$emit('input', this.selectValue.map((item) => item.value));
        },
        removeValue(index) {
            this.selectValue.splice(index, 1);
            this.changeValue();
        },
    },
    created() {
        if (this.value) {
            this.value.forEach((item) => {
                this.data.forEach((option) => {
                    if (item === option.value) {
                        this.selectValue.push(option);
                    }
                });
            });
        }
    },
};
</script>
