<template>
    <div class="d-flex">
        <b-select v-model="operator" @change="changeValue" :options="operators" size="sm" style="width: 50px" class="mr-1"></b-select>
        <b-input type="number" v-model="currentValue" @input="changeValue" size="sm" :min="min" :max="max" />
    </div>
</template>

<script>
export default {
    props: {
        value: {},
        min: {
            type: Number,
            default: 0,
        },
        max: {
            type: Number,
            default: 10000,
        },
    },
    data() {
        return {
            currentValue: null,
            operator: null,
            operators: [
                '>', '>=', '<', '<=', '==',
            ],
        };
    },
    methods: {
        changeValue() {
            this.$emit('input', this.currentValue ? (this.operator + this.currentValue).replace('==', '') : '');
        },
        parseValue() {
            if (this.value) {
                this.operators.forEach((operator) => {
                    if (this.value.includes(operator)) {
                        this.operator = operator;
                        this.currentValue = this.value.replace(operator, '').trim();
                    }
                });

                if (!this.operator) {
                    this.operator = '==';
                    this.currentValue = this.value.trim();
                }
            } else {
                this.operator = '==';
            }
        },
    },
    created() {
        this.parseValue();
    },
};
</script>
