<template>
    <nav class="navbar navbar-expand-lg navbar-filters m-0 p-0 align-items-center">
        <b-navbar-toggle target="filters-navbar" class="navbar-toggler text-white hover">
            <icon name="filters"></icon> {{ $t('app.main.filters') }}
        </b-navbar-toggle>

        <c-button
            type="primary"
            :text="$t('app.main.apply')"
            size="sm"
            :disabled="!hasUnappliedFilters"
            @click.native="applyFilters"
        />

        <b-collapse id="filters-navbar" is-nav>
            <ul class="navbar-nav mr-auto flex-wrap">
                <li
                    v-for="filter in filters"
                    :key="filter.alias"
                    class="nav-item mr-1"
                >
                    <b-checkbox
                        v-if="filter.type === 'is'"
                        v-model="filtersValues[filter.alias]"
                        @input="changeFilter(filter.alias, $event)"
                        size="sm"
                        button
                    >
                        {{ filter.label }}
                    </b-checkbox>
                    <b-dropdown
                        v-else
                        :id="filter.alias"
                        :text="filter.type === 'selectOne' ? filter.label + ' ' + filtersValues[filter.alias] : filter.label"
                        size="sm"
                        :toggle-class="{'active': filterHasValue(filter.alias)}"
                        :disabled="filterIsDisabled(filter.alias) && !filterHasValue(filter.alias)"
                    >
                        <b-dropdown-text>
                            <b-input
                                v-if="filter.type === 'search'"
                                v-model="filtersValues[filter.alias]"
                                size="sm"
                                :placeholder="filter.label"
                                @update="changeFilter(filter.alias, $event)"
                                number
                            />
                            <b-select
                                v-if="filter.type === 'selectOne' && filter.data.length"
                                v-model="filtersValues[filter.alias]"
                                :options="filter.data"
                                size="sm"
                                @change="changeFilter(filter.alias, $event)"
                            />
                            <multiselect
                                v-if="filter.type === 'select' && filter.data.length"
                                v-model="filtersValues[filter.alias]"
                                @input="changeFilter(filter.alias, $event)"
                                :data="_data[filter.data]"
                            />
                            <number-or-compare
                                v-if="filter.type === 'number_or_compare'"
                                v-model="filtersValues[filter.alias]"
                                @input="changeFilter(filter.alias, $event)"
                            />
                            <datepicker
                                v-if="filter.type === 'date'"
                                v-model="filtersValues[filter.alias]"
                                @input="changeFilter(filter.alias, $event)"
                                :min-date="minDate"
                                :max-date="maxDate"
                            />
                            <bool
                                v-if="filter.type === 'bool'"
                                v-model="filtersValues[filter.alias]"
                                @input="changeFilter(filter.alias, $event)"
                            />
                        </b-dropdown-text>
                    </b-dropdown>
                </li>
            </ul>
        </b-collapse>

        <div>
            <c-button
                icon="refresh"
                size="sm"
                :tooltip="$t('app.main.refresh')"
                @click="$parent.refreshLots"
                :loading="$parent.loadingLots"
                :disabled="$parent.loadingLots"
            />
            <c-button
                size="sm"
                icon="delete"
                type="error"
                :tooltip="$t('app.main.clear')"
                :disabled="!hasNewFilters"
                @click.native="clearFilters"
            />
        </div>
    </nav>
</template>

<script>
// import Multiselect from 'vue-multiselect';
import isEqual from 'lodash/isEqual';
import cloneDeep from 'lodash/cloneDeep';

import { mapGetters, mapActions } from 'vuex';
import Multiselect from 'JS/app/components/lots/filters/Multiselect';
import NumberOrCompare from 'JS/app/components/lots/filters/NumberOrCompare';
import Datepicker from 'JS/app/components/lots/filters/Datepicker';
import Bool from 'JS/app/components/lots/filters/Bool';
import dayjs from 'dayjs';

import cache from 'JS/app/utils/cache';

const startedAt = [];
startedAt.push(dayjs().month(0).date(1).format('YYYY-MM-DD'));
startedAt.push(dayjs().format('YYYY-MM-DD'));

export default {
    props: ['value'],
    components: {
        NumberOrCompare,
        Bool,
        Multiselect,
        Datepicker,
    },
    data() {
        return {
            maxFilters: 10,
            filters: [
                { alias: 'lot_id', label: null, type: 'search' },
                { alias: 'lot_type', type: 'select', data: 'lotTypes' },
                { alias: 'entity_type', type: 'select', data: 'entityTypes' },
                { alias: 'entity_id', type: 'select', data: 'artsForFilter' },
                // { alias: 'entity_title', type: 'search' },
                { alias: 'current_strength', type: 'number_or_compare' },
                { alias: 'base_strength', type: 'number_or_compare' },
                { alias: 'price_per_fight', type: 'number_or_compare' },
                { alias: 'price', type: 'number_or_compare' },
                { alias: 'seller_name', type: 'search' },
                { alias: 'seller_id', type: 'search' },
                { alias: 'started_at', type: 'date' },
                // { alias: 'ended_at', type: 'date' },
                { alias: 'is_buyed', type: 'bool' },
                { alias: 'craft', type: 'bool' },
                // { alias: 'is_active', type: 'bool' },
            ],
            appliedFiltersValue: {},
            filtersValues: {
                lot_id: '',
                lot_type: ['sale'],
                entity_id: [],
                entity_type: ['art'],
                entity_title: '',
                craft: null,
                current_strength: '',
                base_strength: '',
                price_per_fight: '',
                price: '',
                seller_name: '',
                seller_id: '',
                started_at: startedAt,
                ended_at: [],
                is_buyed: null,
                is_active: null,
            },
            lotTypes: [{ value: 'sale' }, { value: 'auction' }, { value: 'blitz' }],
            entityTypes: [
                { value: 'art' },
                { value: 'element' },
                { value: 'resource' },
                { value: 'art_part' },
                { value: 'certificate' },
                { value: 'house' },
                { value: 'object_share' },
            ],
            artsForFilter: [],
            initFiltersValue: {},
            minDate: null,
            maxDate: null,
        };
    },
    methods: {
        ...mapActions('Arts', [
            'loadArts',
        ]),
        changeFilter(filterAlias, value) {
            this.$set(this.filtersValues, filterAlias, value);
            this.emitValue();
        },
        applyFilters() {
            if (this.hasUnappliedFilters) {
                this.$emit('applied');
                this.copyFiltersValueToApplied();
                this.updateCache();
            }
        },
        copyFiltersValueToApplied() {
            this.appliedFiltersValue = cloneDeep(this.filtersValues);
        },
        clearFilters() {
            if (window.confirm(this.$t('app.lots.are_you_want_clear_filters'))) {
                this.filtersValues = cloneDeep(this.initFiltersValue);
                this.emitValue();
                this.applyFilters();
            }
        },
        getActiveFilters() {
            const filters = {};
            Object.keys(this.filtersValues).forEach((key) => {
                const value = this.filtersValues[key];
                if (!value && typeof value !== 'boolean') {
                    return;
                }
                if (Array.isArray(value)) {
                    if (value.length) {
                        filters[key] = value.join(',');
                    }
                } else {
                    // eslint-disable-next-line no-nested-ternary
                    filters[key] = value === true ? 1 : (value === false ? 0 : value);
                }
            });
            return filters;
        },
        emitValue() {
            this.$emit('input', this.getActiveFilters());
        },
        loadCache() {
            const filters = cache.get(this.$config.cache.keys.stat.filters);
            if (filters) {
                this.filtersValues = filters;
            }
        },
        updateCache() {
            cache.set(this.$config.cache.keys.stat.filters, this.filtersValues);
        },
        filterHasValue(alias) {
            // eslint-disable-next-line no-nested-ternary
            return !!(Array.isArray(this.filtersValues[alias])
                ? this.filtersValues[alias].length
                : (typeof this.filtersValues[alias] === 'boolean' ? true : this.filtersValues[alias]));
        },
        filterIsDisabled(alias) {
            if (Object.keys(this.getActiveFilters()).length >= this.maxFilters) {
                return true;
            }
            if (alias === 'current_strength'
                || alias === 'base_strength'
                || alias === 'craft'
                || alias === 'price_per_fight'
                || alias === 'entity_id') {
                if (!this.filtersValues.entity_type.includes('art')) {
                    return true;
                }
            }

            return false;
        },
        initTrans() {
            this.filters.map((filter) => {
                filter.label = this.$t(`app.lots.filters.${filter.alias}`);
                return filter;
            });
            this.lotTypes.map((type) => {
                type.label = this.$t(`app.lots.lot_types.${type.value}`);
                return type;
            });
            this.entityTypes.map((type) => {
                type.label = this.$t(`app.lots.entity_types.${type.value}`);
                return type;
            });
        },
    },
    computed: {
        ...mapGetters('Arts', {
            arts: 'getArts',
        }),
        hasUnappliedFilters() {
            return !isEqual(this.appliedFiltersValue, this.filtersValues);
        },
        hasNewFilters() {
            return !isEqual(this.initFiltersValue, this.filtersValues);
        },
    },
    created() {
        this.loadCache();
        this.initFiltersValue = cloneDeep(this.filtersValues);
        this.emitValue();
        this.copyFiltersValueToApplied();
        this.initTrans();

        this.loadArts().then(() => {
            this.artsForFilter = this.arts.map((art) => ({
                label: art.title,
                value: art.hwmId,
            }));
        });
    },
};
</script>

<style lang="scss">
    .navbar #filters-navbar {
        position: static;
        background: transparent;
        box-shadow: none;
        text-align: left;
        border-bottom: none;

        .dropdown-menu {
            padding: .5rem;
        }

        li > p.b-dropdown-text {
            margin-bottom: 0;
            padding: 0;
        }
    }
    @media (min-width: 992px) {
        .navbar #filters-navbar {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
    .multiselect-sm {
        height: calc(1.5em + .5rem + 2px);
        min-height: calc(1.5em + .5rem + 2px);
        font-size: .8203125rem;

        .multiselect__select {
            width: 18px;
            height: calc(1.5em + .5rem);
            padding: 2px 4px;
            top: 1px;
        }

        .multiselect__tags {
            min-height: calc(1.5em + .5rem + 2px);
            height: calc(1.5em + .5rem + 2px);
            padding: .25rem .5rem;
            font-size: .8203125rem;
            padding-right: .85rem;
        }

        .multiselect__tag {
            padding: 3px 20px 3px 8px;
            margin-right: 5px;
        }

        .multiselect__tag-icon {
            width: 16px;
            margin-left: 5px;
            line-height: 19px;
        }
        .multiselect__single, .multiselect__input {
            font-size: inherit;
            min-height: initial;
        }
    }
</style>
