.close {
	cursor: pointer;
	font-size: inherit;
}
.info {
	cursor: help;
}
.curp {
	cursor: pointer;
}
.curm {
	cursor: move;
}
.text-base {
    font-size: 1rem;
    font-weight: 400;
}
.flex-justify-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-muted {
	background-color: $gray-600 !important;
}

.posr {
	position: relative;
}

.posri {
    position: relative;
    z-index: 1;
}

.posal {
	position: absolute;
	top: 50%;
	left: -0.25rem;
	transform: translate(-100%, -50%);
}

.last-mb-0:last-child {
	margin-bottom: 0 !important;
}

.bg-half-transparent {
    background-color: rgba(0, 0, 0, .75);
}

.bg-dark {
    background-color: $dark !important;
}

.color-bg:before, .color-bg:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.color-bg:before {
    top: 0;
    background: linear-gradient(0deg, rgba(0,188,140,0.2049194677871149) 0%, rgba(26,26,26,0) 10%);
}
.color-bg:after {
    bottom: 0;
    background: linear-gradient(0deg, rgba(26,26,26,0) 90%, rgba(55,90,127,0.19931722689075626) 100%);
}

.h-100 {
    height: 100%;
}
.logo-link {
    background: -webkit-linear-gradient($blue, $green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    img {
        transform: rotate(0deg);
        transition: transform .3s ease-in-out;
    }
}
a.logo-link:hover, a.logo-link:active {
    background: -webkit-linear-gradient($green, $blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background .15s ease-in-out;

    img {
        transform: rotate(90deg);
    }
}
