@import '_reset';

html {
  overflow-y: scroll;
}
body {
    background-image: url("/images/bg/16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.page-wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.main {
    padding-top: $navbar-height;
	flex: 1;
}
.content .v-cloak {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.min-height-100vh {
    min-height: calc(100vh - #{$navbar-height});
}


// scrollbar
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $dark;
}

::-webkit-scrollbar
{
    width: 15px;
}

::-webkit-scrollbar-thumb
{
    background-color: $light;
    border: solid 2px $dark;
}
