<template>
    <a
        v-tooltip="tooltip"
        :class="classes"
        :href="href"
        :disabled="disabled"
        :target="blank ? '_blank' : '_self'"
        @click="click"
    >
        <icon
            v-if="loading"
            name="loading"
            :size="size"
        />
        <slot v-else-if="hasSlot" ></slot>
        <span v-if="!loading && !hasSlot && text" v-html="text"></span>
        <icon v-if="!loading && icon" :name="icon" :size="size" />
    </a>
</template>

<script>
const types = ['default', 'success', 'error', 'info', 'warn', 'link', 'primary'];
const sizes = ['default', 'sm', 'lg'];

export default {
    name: 'CButton',
    props: {
        text: {
            type: String,
            default: '',
        },
        href: {
            type: String,
            default: '#',
        },
        type: {
            type: String,
            default: 'default',
            validator: (value) => types.indexOf(value) !== -1,
        },
        size: {
            type: String,
            default: 'default',
            validator: (value) => sizes.indexOf(value) !== -1,
        },
        icon: {
            type: String,
            required: false,
        },
        tooltip: {
            type: String,
            required: false,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        outline: {
            type: Boolean,
            default: false,
        },
        blank: {
            type: Boolean,
            default: false,
        },
        block: {
            type: Boolean,
            default: false,
        },
        loading: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            typeClasses: {
                default: 'btn-secondary',
                success: 'btn-success',
                error: 'btn-danger',
                warn: 'btn-warning',
                info: 'btn-info',
                link: 'btn-link',
                primary: 'btn-primary',
            },
            sizeClasses: {
                small: 'btn-sm',
                sm: 'btn-sm',
                default: '',
                large: 'btn-lg',
                lg: 'btn-lg',
            },
        };
    },
    computed: {
        hasSlot() {
            return !!this.$slots.default;
        },
        classes() {
            let classes = 'btn';

            if (this.typeClasses[this.type]) {
                classes += ` ${this.typeClasses[this.type]}`;
            }

            if (this.outline) {
                classes = classes.replace('btn-', 'btn-outline-');
            }

            if (this.sizeClasses[this.size]) {
                classes += ` ${this.sizeClasses[this.size]}`;
            }

            if (this.disabled) {
                classes += ' disabled';
            }

            if (this.block) {
                classes += ' btn-block';
            }

            return classes;
        },
    },
    methods: {
        click(evt) {
            if (!this.disabled && !this.loading) {
                if (this.href === '#') {
                    evt.preventDefault();
                }

                this.$emit('click', evt);
            }

            if (this.$el) {
                this.$el.blur();
            }
        },
    },
};
</script>
