<template>
    <font-awesome-icon
        v-if="type && icon && type !== 'hwm' && type !== 'close'"
        :icon="[type, icon]"
        :size="handleSize"
        :spin="spin"
        :pulse="pulse"
        v-tooltip="tooltip"
    ></font-awesome-icon>
    <i v-else-if="type === 'hwm'" :class="icon"></i>
    <button v-else-if="type === 'close'" type="button" class="close">×</button>
</template>

<script>
import has from 'lodash/has';
import icons from '../../../../icons.json';

const sizes = {
    small: 'sm',
    default: null,
    large: 'lg',
    sm: 'sm',
    lg: 'lg',
};

const types = {
    fas: 'solid',
    far: 'regular',
    fal: 'light',
    fad: 'duotone',
    fab: 'brands',
};

export default {
    props: {
        name: {
            type: String,
            required: true,
        },
        size: {
            type: String,
            default: null,
        },
        tooltip: {
            type: String,
            default: null,
        },
    },
    data() {
        return {
            type: null,
            icon: null,
            spin: false,
            pulse: false,
            sizeClasses: {
                small: 'fa-sm',
                sm: 'fa-sm',
                default: null,
                large: 'fa-lg',
                lg: 'fa-lg',
            },
        };
    },
    methods: {
        handleIconName() {
            if (this.name === 'close') {
                this.type = 'close';
                this.icon = 'close';

                return;
            }

            const name = has(icons, this.name) ? icons[this.name] : icons.default;
            // eslint-disable-next-line prefer-const
            const parts = name.split(' ');
            let type = parts[0];
            let icon = parts[1];

            if (!has(types, type)) {
                icon = type;
                type = 'hwm';
            }

            this.spin = parts.includes('fa-spin');
            this.pulse = parts.includes('fa-pulse');

            icon = icon.replace('fa-', '');

            icon = icon.replace(' ', '');
            this.icon = icon;
            this.type = type;
        },
    },
    watch: {
        name() {
            this.handleIconName();
        },
    },
    computed: {
        handleSize() {
            return sizes[this.size] || (this.size ? this.size.replace('default', '') : this.size) || null;
        },
    },
    created() {
        this.handleIconName();
    },
};
</script>
