<template>
    <transition name="el-fade-in">
        <div v-if="show" class="d-inline-block" :class="{'wrapper-loader': type === 'block', 'fixed': fixed}">
            <div class="loader" :class="{'small': type === 'icon'}">
                <div></div>
                <div></div>
            </div>
        </div>
    </transition>
</template>

<script>
const types = ['icon', 'block'];

export default {
    props: {
        type: {
            type: String,
            default: 'icon',
            validator: (value) => types.indexOf(value) !== -1,
        },
        fixed: {
            type: Boolean,
            default: false,
        },
        show: {
            type: Boolean,
            default: true,
        },
    },
};
</script>
