<template>
    <div class="row">
        <div class="col">
            <number-input
                classes="form-control form-control-sm"
                v-model="csInner"
                :min="0"
                :max="9999999"
                @blur="changeCurrentStrength()"
                @change="changeCurrentStrength()"
                ref="currentStrength"
            />
        </div>
        <div class="col align-self-center flex-grow-0 p-0 m-0">
            <span class="">/</span>
        </div>
        <div class="col">
            <number-input
                classes="form-control form-control-sm"
                v-model="bsInner"
                :min="0"
                :max="9999999"
                @blur="changeBaseStrength();"
                @change="changeBaseStrength()"
                ref="baseStrength"
            />
        </div>
    </div>
</template>

<script>
export default {
    props: {
        cs: {
            type: Number,
        },
        bs: {
            type: Number,
        },
    },
    data() {
        return {
            csInner: 0,
            bsInner: 0,
        };
    },
    methods: {
        change() {
            this.$emit('change');
        },
        changeBaseStrength() {
            this.$emit('changeBaseStrength', this.bsInner);

            this.change();
        },
        changeCurrentStrength() {
            this.$emit('changeCurrentStrength', this.csInner);

            this.change();
        },
    },
    watch: {
        cs() {
            this.csInner = this.cs;
        },
        bs() {
            this.bsInner = this.bs;
        },
    },
    created() {
        this.csInner = this.cs;
        this.bsInner = this.bs;
    },
};
</script>
