<template>
    <LineChartGenerator
        :chart-data="data"
        :chart-options="options"
        :chart-id="_uid.toString()"
        :dataset-id-key="datasetIdKey"
        :class="classes"
    />
</template>
<script>
import { Line as LineChartGenerator } from 'vue-chartjs/legacy';
import {
    Chart as ChartJS,
    Title,
    Tooltip,
    Legend,
    LineElement,
    LinearScale,
    CategoryScale,
    PointElement,
} from 'chart.js';

ChartJS.register(
    Title,
    Tooltip,
    Legend,
    LineElement,
    LinearScale,
    CategoryScale,
    PointElement,
);

export default {
    components: { LineChartGenerator },
    props: {
        data: {
            type: Object,
            required: true,
        },
        options: {
            type: Object,
            default: () => {
            },
        },
        datasetIdKey: {
            type: String,
            default: 'label',
        },
    },
    data() {
        return {
            classes: 'bg-secondary p-3 text-base',
        };
    },
};
</script>
