<template>
    <div class="card art-info">
        <div class="card-body">
            <a :href="hwm.link.art(art.hwmId)" target="_blank" v-tooltip="$t('app.art.open_art_in_hwm')">
                <img :src="art.images.small.fullUrl" :alt="art.hwmId" :title="art.title" class="art-img" @error="errorLoadArtImg">
            </a>
            <h6 class="card-title d-inline-block">
                <a :href="hwm.link.market(art.hwmId, art.marketCategoryId)" target="_blank" v-tooltip="$t('app.art.open_market_in_hwm')">{{art.title}}
                </a>
            </h6>
            <icon name="close" size="sm" class="close" @click.native="close"></icon>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ $t('app.art.columns.base_strength') }}: <strong>{{art.strength}}/{{art.strength}}</strong></li>
            <li class="list-group-item">{{ $t('app.art.repair_cost') }}: <strong>{{art.repair}}</strong></li>
            <li v-if="art.fromShop" class="list-group-item">{{ $t('app.art.base_price') }}: <strong>{{art.shopPrice}}</strong></li>
            <li v-if="art.fromShop" class="list-group-item">{{ $t('app.art.base_price_per_fight') }}: <strong>{{art.pricePerFight}}</strong></li>
        </ul>
    </div>
</template>

<script>
import { errorLoadArtImg } from 'JS/app/utils/helpers';

export default {
    props: {
        art: Object,
    },
    methods: {
        errorLoadArtImg(event) {
            errorLoadArtImg(event);
        },
        close() {
            this.$emit('close');
        },
    },
};
</script>
