<template>
    <div class="bg-stars">
        <div class='stars'></div>
        <div class='stars2'></div>
        <div class='stars3'></div>
    </div>
</template>

<script>
export default {
    //
};
</script>

<style lang="scss">
.bg-stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 400px 91px #FFF , 1561px 148px #FFF , 1407px 375px #FFF , 219px 556px #FFF , 1312px 703px #FFF , 974px 1286px #FFF , 1066px 51px #FFF , 1118px 690px #FFF , 677px 1587px #FFF , 1185px 645px #FFF , 223px 729px #FFF , 1848px 1599px #FFF , 1789px 1576px #FFF , 408px 733px #FFF , 1922px 1727px #FFF , 1773px 187px #FFF , 1950px 60px #FFF , 1411px 203px #FFF , 337px 1997px #FFF , 1864px 62px #FFF , 37px 790px #FFF , 860px 154px #FFF , 308px 1344px #FFF , 1029px 737px #FFF , 40px 1111px #FFF , 1888px 1906px #FFF , 287px 775px #FFF , 914px 1442px #FFF , 1673px 63px #FFF , 531px 306px #FFF , 733px 736px #FFF , 1480px 1245px #FFF , 470px 935px #FFF , 1919px 334px #FFF , 353px 802px #FFF , 1610px 879px #FFF , 678px 1658px #FFF , 627px 1059px #FFF , 1827px 555px #FFF , 893px 1659px #FFF , 1477px 1023px #FFF , 1691px 339px #FFF , 1923px 1712px #FFF , 1131px 1190px #FFF , 192px 1053px #FFF , 1355px 772px #FFF , 1801px 418px #FFF , 1612px 860px #FFF , 417px 14px #FFF , 1550px 1443px #FFF , 521px 986px #FFF , 238px 190px #FFF , 1201px 1416px #FFF , 1666px 1830px #FFF , 30px 1401px #FFF , 931px 1162px #FFF , 1722px 1565px #FFF , 174px 1261px #FFF , 227px 623px #FFF , 1132px 525px #FFF , 170px 1067px #FFF , 1658px 899px #FFF , 1581px 277px #FFF , 27px 1812px #FFF , 1280px 1197px #FFF , 1548px 1383px #FFF , 202px 41px #FFF , 1920px 908px #FFF , 646px 76px #FFF , 1641px 1971px #FFF , 628px 902px #FFF , 1283px 1526px #FFF , 1522px 1704px #FFF , 313px 765px #FFF , 999px 1828px #FFF , 636px 118px #FFF , 755px 1818px #FFF , 1018px 1783px #FFF , 833px 985px #FFF , 6px 534px #FFF , 1656px 1008px #FFF , 131px 309px #FFF , 99px 1000px #FFF , 1638px 214px #FFF , 248px 1738px #FFF , 1298px 1080px #FFF , 1137px 1001px #FFF , 1767px 1061px #FFF , 1433px 1322px #FFF , 701px 1845px #FFF , 1471px 1410px #FFF , 84px 374px #FFF , 772px 1024px #FFF , 875px 417px #FFF , 1103px 1840px #FFF , 1301px 1090px #FFF , 1088px 969px #FFF , 1656px 1207px #FFF , 1240px 541px #FFF , 984px 137px #FFF , 1357px 246px #FFF , 1285px 728px #FFF , 201px 969px #FFF , 1301px 414px #FFF , 176px 987px #FFF , 1848px 1337px #FFF , 169px 1124px #FFF , 816px 1100px #FFF , 1179px 1336px #FFF , 634px 653px #FFF , 1265px 1702px #FFF , 1494px 323px #FFF , 1123px 52px #FFF , 91px 445px #FFF , 1482px 1989px #FFF , 971px 1701px #FFF , 369px 614px #FFF , 1325px 1716px #FFF , 1550px 1401px #FFF , 622px 1480px #FFF , 1661px 442px #FFF , 1937px 60px #FFF , 54px 1148px #FFF , 780px 1674px #FFF , 520px 1864px #FFF , 291px 1747px #FFF , 359px 1628px #FFF , 803px 42px #FFF , 1940px 1385px #FFF , 1091px 215px #FFF , 1873px 848px #FFF , 1913px 1695px #FFF , 1793px 264px #FFF , 1271px 1598px #FFF , 1526px 1134px #FFF , 1065px 624px #FFF , 970px 1768px #FFF , 109px 1172px #FFF , 1736px 1846px #FFF , 1739px 733px #FFF , 1591px 1437px #FFF , 1515px 1103px #FFF , 718px 390px #FFF , 698px 1398px #FFF , 1267px 1646px #FFF , 394px 1611px #FFF , 1805px 704px #FFF , 426px 1700px #FFF , 585px 1910px #FFF , 1032px 736px #FFF , 1848px 925px #FFF , 211px 1962px #FFF , 1857px 524px #FFF , 555px 837px #FFF , 593px 1422px #FFF , 695px 1984px #FFF , 274px 1646px #FFF , 1819px 93px #FFF , 597px 1353px #FFF , 1526px 513px #FFF , 1857px 1261px #FFF , 1309px 251px #FFF , 541px 996px #FFF , 1315px 960px #FFF , 471px 1610px #FFF , 1311px 693px #FFF , 1658px 1604px #FFF , 1693px 1355px #FFF , 883px 1222px #FFF , 462px 1410px #FFF , 829px 1956px #FFF , 1775px 613px #FFF , 488px 1725px #FFF , 1687px 1447px #FFF , 1160px 1122px #FFF , 1024px 317px #FFF , 1022px 151px #FFF , 38px 1338px #FFF , 612px 1329px #FFF , 901px 1050px #FFF , 358px 1168px #FFF , 834px 237px #FFF , 1891px 106px #FFF , 1252px 1737px #FFF , 225px 1477px #FFF , 1202px 1456px #FFF , 1936px 683px #FFF , 1581px 645px #FFF , 1485px 1416px #FFF , 424px 942px #FFF , 1200px 1739px #FFF , 557px 1389px #FFF , 15px 1786px #FFF , 1616px 351px #FFF , 1564px 1285px #FFF , 176px 1652px #FFF , 638px 1729px #FFF , 673px 1265px #FFF , 810px 1329px #FFF , 425px 722px #FFF , 1672px 342px #FFF , 1369px 947px #FFF , 779px 1735px #FFF , 1550px 331px #FFF , 1386px 1577px #FFF , 1553px 1626px #FFF , 1112px 1811px #FFF , 1699px 1208px #FFF , 1982px 1000px #FFF , 990px 1349px #FFF , 643px 1848px #FFF , 1612px 202px #FFF , 1160px 446px #FFF , 601px 553px #FFF , 652px 1601px #FFF , 1578px 456px #FFF , 1198px 464px #FFF , 1860px 1148px #FFF , 1631px 704px #FFF , 1010px 299px #FFF , 1384px 199px #FFF , 1346px 1462px #FFF , 1206px 232px #FFF , 964px 1676px #FFF , 392px 1747px #FFF , 1003px 65px #FFF , 677px 150px #FFF , 347px 1806px #FFF , 1554px 1979px #FFF , 1619px 1402px #FFF , 642px 1762px #FFF , 1251px 1577px #FFF , 1733px 672px #FFF , 1118px 1441px #FFF , 1013px 67px #FFF , 1313px 909px #FFF , 1726px 1687px #FFF , 1254px 1375px #FFF , 1859px 102px #FFF , 1648px 970px #FFF , 726px 1820px #FFF , 1262px 1071px #FFF , 800px 1118px #FFF , 411px 1778px #FFF , 1296px 689px #FFF , 1741px 683px #FFF , 324px 591px #FFF , 74px 1316px #FFF , 599px 1328px #FFF , 1321px 738px #FFF , 1673px 713px #FFF , 1917px 591px #FFF , 35px 711px #FFF , 633px 1278px #FFF , 381px 678px #FFF , 1018px 110px #FFF , 1461px 620px #FFF , 1131px 37px #FFF , 648px 1999px #FFF , 1449px 591px #FFF , 1063px 1145px #FFF , 621px 1409px #FFF , 1968px 64px #FFF , 977px 38px #FFF , 1655px 325px #FFF , 981px 716px #FFF , 1163px 319px #FFF , 1285px 973px #FFF , 900px 207px #FFF , 97px 583px #FFF , 167px 1171px #FFF , 1967px 1110px #FFF , 786px 37px #FFF , 292px 1735px #FFF , 298px 794px #FFF , 1614px 377px #FFF , 1397px 1950px #FFF , 1541px 1875px #FFF , 947px 848px #FFF , 356px 1312px #FFF , 1650px 580px #FFF , 21px 122px #FFF , 242px 756px #FFF , 1939px 429px #FFF , 1062px 1006px #FFF , 1369px 1669px #FFF , 170px 246px #FFF , 1306px 316px #FFF , 1662px 782px #FFF , 1743px 245px #FFF , 1489px 550px #FFF , 1401px 122px #FFF , 1089px 1879px #FFF , 1222px 1642px #FFF , 1644px 1362px #FFF , 1781px 996px #FFF , 207px 1923px #FFF , 1597px 151px #FFF , 25px 1161px #FFF , 1019px 212px #FFF , 1609px 446px #FFF , 668px 1022px #FFF , 769px 898px #FFF , 1374px 355px #FFF , 1386px 443px #FFF , 282px 591px #FFF , 1465px 1630px #FFF , 1742px 310px #FFF , 60px 1284px #FFF , 1744px 688px #FFF , 1153px 888px #FFF , 1997px 1350px #FFF , 1343px 80px #FFF , 745px 1034px #FFF , 1004px 1105px #FFF , 180px 705px #FFF , 1551px 1490px #FFF , 249px 39px #FFF , 857px 1153px #FFF , 1680px 1531px #FFF , 1757px 287px #FFF , 947px 679px #FFF , 520px 1034px #FFF , 1116px 1538px #FFF , 122px 1810px #FFF , 153px 1068px #FFF , 933px 401px #FFF , 1855px 867px #FFF , 1819px 243px #FFF , 1552px 1180px #FFF , 1093px 545px #FFF , 1315px 321px #FFF , 1171px 1428px #FFF , 1362px 678px #FFF , 104px 1014px #FFF , 999px 1267px #FFF , 1036px 973px #FFF , 1487px 1522px #FFF , 1684px 659px #FFF , 80px 603px #FFF , 599px 1005px #FFF , 336px 1984px #FFF , 1371px 1506px #FFF , 1363px 1772px #FFF , 402px 946px #FFF , 164px 624px #FFF , 1875px 1068px #FFF , 984px 1980px #FFF , 1407px 772px #FFF , 760px 1535px #FFF , 1646px 471px #FFF , 569px 276px #FFF , 19px 1416px #FFF , 1417px 1198px #FFF , 564px 271px #FFF , 1548px 1689px #FFF , 1598px 141px #FFF , 1115px 538px #FFF , 705px 292px #FFF , 1401px 456px #FFF , 209px 810px #FFF , 633px 64px #FFF , 1250px 1751px #FFF , 225px 176px #FFF , 961px 355px #FFF , 1504px 1863px #FFF , 965px 152px #FFF , 1884px 375px #FFF , 735px 1767px #FFF , 1131px 413px #FFF , 1580px 1658px #FFF , 188px 1618px #FFF , 728px 440px #FFF , 214px 1732px #FFF , 634px 1450px #FFF , 140px 27px #FFF , 30px 1395px #FFF , 1749px 536px #FFF , 150px 1911px #FFF , 1100px 1712px #FFF , 1229px 677px #FFF , 1783px 512px #FFF , 190px 607px #FFF , 1695px 1344px #FFF , 1488px 3px #FFF , 1793px 536px #FFF , 486px 246px #FFF , 1671px 1876px #FFF , 425px 1852px #FFF , 1962px 1085px #FFF , 1179px 1826px #FFF , 1794px 1937px #FFF , 609px 242px #FFF , 1590px 56px #FFF , 1463px 247px #FFF , 447px 163px #FFF , 1880px 919px #FFF , 1077px 1046px #FFF , 74px 1064px #FFF , 1928px 963px #FFF , 1058px 653px #FFF , 114px 2px #FFF , 1317px 131px #FFF , 1362px 1434px #FFF , 1871px 165px #FFF , 1426px 1077px #FFF , 453px 434px #FFF , 1854px 1875px #FFF , 1174px 121px #FFF , 178px 1104px #FFF , 1486px 163px #FFF , 1165px 1273px #FFF , 621px 27px #FFF , 1256px 1215px #FFF , 1256px 1072px #FFF , 34px 1170px #FFF , 1155px 142px #FFF , 1112px 881px #FFF , 1221px 1661px #FFF , 1652px 348px #FFF , 1702px 590px #FFF , 1837px 1532px #FFF , 809px 616px #FFF , 1741px 827px #FFF , 528px 1922px #FFF , 100px 1639px #FFF , 356px 302px #FFF , 1821px 1158px #FFF , 1617px 1407px #FFF , 1861px 10px #FFF , 1216px 1003px #FFF , 1219px 992px #FFF , 1360px 1657px #FFF , 269px 682px #FFF , 1039px 257px #FFF , 1098px 1854px #FFF , 982px 1279px #FFF , 1500px 1861px #FFF , 715px 1467px #FFF , 1585px 1280px #FFF , 233px 1496px #FFF , 286px 30px #FFF , 666px 1040px #FFF , 1246px 1774px #FFF , 1107px 1196px #FFF , 508px 181px #FFF , 203px 1086px #FFF , 1556px 1192px #FFF , 20px 746px #FFF , 176px 1301px #FFF , 1194px 789px #FFF , 1496px 807px #FFF , 869px 1593px #FFF , 832px 422px #FFF , 1941px 62px #FFF , 1578px 33px #FFF , 1598px 812px #FFF , 1553px 604px #FFF , 42px 297px #FFF , 1664px 1976px #FFF , 565px 1737px #FFF , 411px 695px #FFF , 749px 724px #FFF , 167px 343px #FFF , 666px 1754px #FFF , 1719px 1700px #FFF , 1787px 1241px #FFF , 1260px 27px #FFF , 1395px 903px #FFF , 758px 1372px #FFF , 1699px 1889px #FFF , 1452px 18px #FFF , 645px 484px #FFF , 1673px 562px #FFF , 1825px 123px #FFF , 1851px 753px #FFF , 727px 855px #FFF , 961px 125px #FFF , 1296px 271px #FFF , 770px 1112px #FFF , 719px 641px #FFF , 1024px 715px #FFF , 601px 1610px #FFF , 529px 507px #FFF , 296px 1584px #FFF , 1892px 1295px #FFF , 1267px 580px #FFF , 1679px 1329px #FFF , 931px 372px #FFF , 1125px 539px #FFF , 1317px 1822px #FFF , 901px 1736px #FFF , 110px 1295px #FFF , 1857px 30px #FFF , 1037px 1026px #FFF , 1485px 1428px #FFF , 70px 1766px #FFF , 582px 423px #FFF , 1726px 527px #FFF , 1749px 517px #FFF , 1804px 795px #FFF , 795px 1591px #FFF , 247px 1447px #FFF , 1083px 1726px #FFF , 686px 140px #FFF , 353px 1401px #FFF , 648px 491px #FFF , 746px 779px #FFF , 838px 521px #FFF , 1125px 1428px #FFF , 169px 989px #FFF , 1662px 765px #FFF , 1512px 59px #FFF , 1801px 197px #FFF , 373px 309px #FFF , 637px 1988px #FFF , 1351px 403px #FFF , 1195px 1584px #FFF , 1441px 1558px #FFF , 1303px 1449px #FFF , 1193px 60px #FFF , 458px 1093px #FFF , 1787px 1292px #FFF , 1172px 663px #FFF , 1459px 603px #FFF , 1115px 1115px #FFF , 509px 1995px #FFF , 1078px 1453px #FFF , 14px 742px #FFF , 1129px 129px #FFF , 1230px 105px #FFF , 1693px 1194px #FFF , 1801px 1811px #FFF , 1827px 1635px #FFF , 799px 1332px #FFF , 817px 1365px #FFF , 809px 309px #FFF , 1049px 1313px #FFF , 1747px 1625px #FFF , 1842px 1434px #FFF , 403px 783px #FFF , 1876px 36px #FFF , 1218px 1566px #FFF , 532px 206px #FFF , 1696px 142px #FFF , 1970px 553px #FFF , 840px 234px #FFF , 969px 142px #FFF , 1846px 1054px #FFF , 760px 1905px #FFF , 1885px 1244px #FFF , 1036px 1160px #FFF , 1151px 524px #FFF , 988px 1050px #FFF , 888px 1839px #FFF , 1207px 1308px #FFF , 493px 1247px #FFF , 804px 429px #FFF , 1330px 270px #FFF , 1786px 1496px #FFF , 822px 1954px #FFF , 638px 1633px #FFF , 916px 370px #FFF , 372px 1181px #FFF , 278px 108px #FFF , 1393px 385px #FFF , 1201px 1956px #FFF , 1957px 1173px #FFF , 1722px 177px #FFF , 66px 1509px #FFF , 840px 426px #FFF , 1893px 228px #FFF , 122px 1467px #FFF , 1874px 660px #FFF , 1546px 344px #FFF , 1706px 646px #FFF , 532px 674px #FFF , 695px 523px #FFF , 322px 273px #FFF , 199px 958px #FFF , 282px 882px #FFF , 380px 283px #FFF , 1776px 222px #FFF , 1297px 715px #FFF , 275px 1666px #FFF , 1899px 7px #FFF , 460px 550px #FFF , 996px 466px #FFF , 4px 1206px #FFF , 845px 50px #FFF , 980px 10px #FFF , 241px 984px #FFF , 1884px 1971px #FFF , 1882px 534px #FFF , 841px 1104px #FFF , 389px 178px #FFF , 104px 1984px #FFF , 1517px 1449px #FFF , 314px 682px #FFF , 1671px 279px #FFF , 497px 1203px #FFF , 376px 631px #FFF , 857px 1585px #FFF , 809px 1549px #FFF , 1213px 484px #FFF , 1223px 745px #FFF , 1778px 307px #FFF , 1510px 1445px #FFF , 1361px 90px #FFF , 1388px 1358px #FFF , 258px 624px #FFF , 1254px 1404px #FFF , 708px 668px #FFF , 899px 160px #FFF , 1013px 501px #FFF , 820px 875px #FFF , 1891px 334px #FFF , 1247px 469px #FFF , 1006px 155px #FFF , 1689px 722px #FFF , 203px 1177px #FFF , 362px 1581px #FFF , 615px 1133px #FFF , 338px 1664px #FFF , 300px 106px #FFF , 1122px 14px #FFF , 1098px 1434px #FFF , 281px 1952px #FFF , 527px 394px #FFF , 1230px 390px #FFF , 1647px 336px #FFF , 625px 1070px #FFF , 870px 1506px #FFF , 1803px 919px #FFF , 762px 834px #FFF , 328px 160px #FFF , 1311px 1125px #FFF , 101px 1167px #FFF , 1781px 1212px #FFF , 1640px 363px #FFF , 800px 1067px #FFF , 833px 1726px #FFF , 1266px 1582px #FFF , 280px 1663px #FFF , 376px 1027px #FFF , 1965px 1122px #FFF , 1342px 617px #FFF , 417px 784px #FFF , 372px 1263px #FFF , 296px 49px #FFF , 60px 226px #FFF , 197px 1179px #FFF , 1673px 1018px #FFF , 527px 249px #FFF , 432px 1289px #FFF , 1199px 458px #FFF , 1440px 294px #FFF , 438px 1188px #FFF , 726px 1514px #FFF , 103px 665px #FFF , 1309px 104px #FFF , 766px 1316px #FFF , 1060px 986px #FFF , 783px 1239px #FFF , 1290px 919px #FFF , 1595px 1246px #FFF , 885px 940px #FFF , 33px 588px #FFF , 463px 1217px #FFF , 1715px 1986px #FFF , 1717px 439px #FFF , 396px 142px #FFF , 67px 144px #FFF , 655px 361px #FFF , 842px 180px #FFF , 530px 932px #FFF , 1863px 561px #FFF , 386px 315px #FFF , 1265px 387px #FFF , 1116px 1547px #FFF , 836px 863px #FFF , 1834px 990px #FFF , 1332px 1062px #FFF , 916px 119px #FFF , 984px 1661px #FFF , 245px 1386px #FFF , 1078px 72px #FFF , 1843px 1602px #FFF , 502px 227px #FFF , 616px 1506px #FFF , 1656px 1101px #FFF , 1078px 789px #FFF , 1402px 261px #FFF , 642px 1281px #FFF , 1034px 1551px #FFF , 381px 1823px #FFF , 1248px 1507px #FFF , 830px 1327px #FFF , 1090px 1549px #FFF , 351px 1385px #FFF;
    animation: animStar 100s linear infinite;
}
.stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 400px 91px #FFF , 1561px 148px #FFF , 1407px 375px #FFF , 219px 556px #FFF , 1312px 703px #FFF , 974px 1286px #FFF , 1066px 51px #FFF , 1118px 690px #FFF , 677px 1587px #FFF , 1185px 645px #FFF , 223px 729px #FFF , 1848px 1599px #FFF , 1789px 1576px #FFF , 408px 733px #FFF , 1922px 1727px #FFF , 1773px 187px #FFF , 1950px 60px #FFF , 1411px 203px #FFF , 337px 1997px #FFF , 1864px 62px #FFF , 37px 790px #FFF , 860px 154px #FFF , 308px 1344px #FFF , 1029px 737px #FFF , 40px 1111px #FFF , 1888px 1906px #FFF , 287px 775px #FFF , 914px 1442px #FFF , 1673px 63px #FFF , 531px 306px #FFF , 733px 736px #FFF , 1480px 1245px #FFF , 470px 935px #FFF , 1919px 334px #FFF , 353px 802px #FFF , 1610px 879px #FFF , 678px 1658px #FFF , 627px 1059px #FFF , 1827px 555px #FFF , 893px 1659px #FFF , 1477px 1023px #FFF , 1691px 339px #FFF , 1923px 1712px #FFF , 1131px 1190px #FFF , 192px 1053px #FFF , 1355px 772px #FFF , 1801px 418px #FFF , 1612px 860px #FFF , 417px 14px #FFF , 1550px 1443px #FFF , 521px 986px #FFF , 238px 190px #FFF , 1201px 1416px #FFF , 1666px 1830px #FFF , 30px 1401px #FFF , 931px 1162px #FFF , 1722px 1565px #FFF , 174px 1261px #FFF , 227px 623px #FFF , 1132px 525px #FFF , 170px 1067px #FFF , 1658px 899px #FFF , 1581px 277px #FFF , 27px 1812px #FFF , 1280px 1197px #FFF , 1548px 1383px #FFF , 202px 41px #FFF , 1920px 908px #FFF , 646px 76px #FFF , 1641px 1971px #FFF , 628px 902px #FFF , 1283px 1526px #FFF , 1522px 1704px #FFF , 313px 765px #FFF , 999px 1828px #FFF , 636px 118px #FFF , 755px 1818px #FFF , 1018px 1783px #FFF , 833px 985px #FFF , 6px 534px #FFF , 1656px 1008px #FFF , 131px 309px #FFF , 99px 1000px #FFF , 1638px 214px #FFF , 248px 1738px #FFF , 1298px 1080px #FFF , 1137px 1001px #FFF , 1767px 1061px #FFF , 1433px 1322px #FFF , 701px 1845px #FFF , 1471px 1410px #FFF , 84px 374px #FFF , 772px 1024px #FFF , 875px 417px #FFF , 1103px 1840px #FFF , 1301px 1090px #FFF , 1088px 969px #FFF , 1656px 1207px #FFF , 1240px 541px #FFF , 984px 137px #FFF , 1357px 246px #FFF , 1285px 728px #FFF , 201px 969px #FFF , 1301px 414px #FFF , 176px 987px #FFF , 1848px 1337px #FFF , 169px 1124px #FFF , 816px 1100px #FFF , 1179px 1336px #FFF , 634px 653px #FFF , 1265px 1702px #FFF , 1494px 323px #FFF , 1123px 52px #FFF , 91px 445px #FFF , 1482px 1989px #FFF , 971px 1701px #FFF , 369px 614px #FFF , 1325px 1716px #FFF , 1550px 1401px #FFF , 622px 1480px #FFF , 1661px 442px #FFF , 1937px 60px #FFF , 54px 1148px #FFF , 780px 1674px #FFF , 520px 1864px #FFF , 291px 1747px #FFF , 359px 1628px #FFF , 803px 42px #FFF , 1940px 1385px #FFF , 1091px 215px #FFF , 1873px 848px #FFF , 1913px 1695px #FFF , 1793px 264px #FFF , 1271px 1598px #FFF , 1526px 1134px #FFF , 1065px 624px #FFF , 970px 1768px #FFF , 109px 1172px #FFF , 1736px 1846px #FFF , 1739px 733px #FFF , 1591px 1437px #FFF , 1515px 1103px #FFF , 718px 390px #FFF , 698px 1398px #FFF , 1267px 1646px #FFF , 394px 1611px #FFF , 1805px 704px #FFF , 426px 1700px #FFF , 585px 1910px #FFF , 1032px 736px #FFF , 1848px 925px #FFF , 211px 1962px #FFF , 1857px 524px #FFF , 555px 837px #FFF , 593px 1422px #FFF , 695px 1984px #FFF , 274px 1646px #FFF , 1819px 93px #FFF , 597px 1353px #FFF , 1526px 513px #FFF , 1857px 1261px #FFF , 1309px 251px #FFF , 541px 996px #FFF , 1315px 960px #FFF , 471px 1610px #FFF , 1311px 693px #FFF , 1658px 1604px #FFF , 1693px 1355px #FFF , 883px 1222px #FFF , 462px 1410px #FFF , 829px 1956px #FFF , 1775px 613px #FFF , 488px 1725px #FFF , 1687px 1447px #FFF , 1160px 1122px #FFF , 1024px 317px #FFF , 1022px 151px #FFF , 38px 1338px #FFF , 612px 1329px #FFF , 901px 1050px #FFF , 358px 1168px #FFF , 834px 237px #FFF , 1891px 106px #FFF , 1252px 1737px #FFF , 225px 1477px #FFF , 1202px 1456px #FFF , 1936px 683px #FFF , 1581px 645px #FFF , 1485px 1416px #FFF , 424px 942px #FFF , 1200px 1739px #FFF , 557px 1389px #FFF , 15px 1786px #FFF , 1616px 351px #FFF , 1564px 1285px #FFF , 176px 1652px #FFF , 638px 1729px #FFF , 673px 1265px #FFF , 810px 1329px #FFF , 425px 722px #FFF , 1672px 342px #FFF , 1369px 947px #FFF , 779px 1735px #FFF , 1550px 331px #FFF , 1386px 1577px #FFF , 1553px 1626px #FFF , 1112px 1811px #FFF , 1699px 1208px #FFF , 1982px 1000px #FFF , 990px 1349px #FFF , 643px 1848px #FFF , 1612px 202px #FFF , 1160px 446px #FFF , 601px 553px #FFF , 652px 1601px #FFF , 1578px 456px #FFF , 1198px 464px #FFF , 1860px 1148px #FFF , 1631px 704px #FFF , 1010px 299px #FFF , 1384px 199px #FFF , 1346px 1462px #FFF , 1206px 232px #FFF , 964px 1676px #FFF , 392px 1747px #FFF , 1003px 65px #FFF , 677px 150px #FFF , 347px 1806px #FFF , 1554px 1979px #FFF , 1619px 1402px #FFF , 642px 1762px #FFF , 1251px 1577px #FFF , 1733px 672px #FFF , 1118px 1441px #FFF , 1013px 67px #FFF , 1313px 909px #FFF , 1726px 1687px #FFF , 1254px 1375px #FFF , 1859px 102px #FFF , 1648px 970px #FFF , 726px 1820px #FFF , 1262px 1071px #FFF , 800px 1118px #FFF , 411px 1778px #FFF , 1296px 689px #FFF , 1741px 683px #FFF , 324px 591px #FFF , 74px 1316px #FFF , 599px 1328px #FFF , 1321px 738px #FFF , 1673px 713px #FFF , 1917px 591px #FFF , 35px 711px #FFF , 633px 1278px #FFF , 381px 678px #FFF , 1018px 110px #FFF , 1461px 620px #FFF , 1131px 37px #FFF , 648px 1999px #FFF , 1449px 591px #FFF , 1063px 1145px #FFF , 621px 1409px #FFF , 1968px 64px #FFF , 977px 38px #FFF , 1655px 325px #FFF , 981px 716px #FFF , 1163px 319px #FFF , 1285px 973px #FFF , 900px 207px #FFF , 97px 583px #FFF , 167px 1171px #FFF , 1967px 1110px #FFF , 786px 37px #FFF , 292px 1735px #FFF , 298px 794px #FFF , 1614px 377px #FFF , 1397px 1950px #FFF , 1541px 1875px #FFF , 947px 848px #FFF , 356px 1312px #FFF , 1650px 580px #FFF , 21px 122px #FFF , 242px 756px #FFF , 1939px 429px #FFF , 1062px 1006px #FFF , 1369px 1669px #FFF , 170px 246px #FFF , 1306px 316px #FFF , 1662px 782px #FFF , 1743px 245px #FFF , 1489px 550px #FFF , 1401px 122px #FFF , 1089px 1879px #FFF , 1222px 1642px #FFF , 1644px 1362px #FFF , 1781px 996px #FFF , 207px 1923px #FFF , 1597px 151px #FFF , 25px 1161px #FFF , 1019px 212px #FFF , 1609px 446px #FFF , 668px 1022px #FFF , 769px 898px #FFF , 1374px 355px #FFF , 1386px 443px #FFF , 282px 591px #FFF , 1465px 1630px #FFF , 1742px 310px #FFF , 60px 1284px #FFF , 1744px 688px #FFF , 1153px 888px #FFF , 1997px 1350px #FFF , 1343px 80px #FFF , 745px 1034px #FFF , 1004px 1105px #FFF , 180px 705px #FFF , 1551px 1490px #FFF , 249px 39px #FFF , 857px 1153px #FFF , 1680px 1531px #FFF , 1757px 287px #FFF , 947px 679px #FFF , 520px 1034px #FFF , 1116px 1538px #FFF , 122px 1810px #FFF , 153px 1068px #FFF , 933px 401px #FFF , 1855px 867px #FFF , 1819px 243px #FFF , 1552px 1180px #FFF , 1093px 545px #FFF , 1315px 321px #FFF , 1171px 1428px #FFF , 1362px 678px #FFF , 104px 1014px #FFF , 999px 1267px #FFF , 1036px 973px #FFF , 1487px 1522px #FFF , 1684px 659px #FFF , 80px 603px #FFF , 599px 1005px #FFF , 336px 1984px #FFF , 1371px 1506px #FFF , 1363px 1772px #FFF , 402px 946px #FFF , 164px 624px #FFF , 1875px 1068px #FFF , 984px 1980px #FFF , 1407px 772px #FFF , 760px 1535px #FFF , 1646px 471px #FFF , 569px 276px #FFF , 19px 1416px #FFF , 1417px 1198px #FFF , 564px 271px #FFF , 1548px 1689px #FFF , 1598px 141px #FFF , 1115px 538px #FFF , 705px 292px #FFF , 1401px 456px #FFF , 209px 810px #FFF , 633px 64px #FFF , 1250px 1751px #FFF , 225px 176px #FFF , 961px 355px #FFF , 1504px 1863px #FFF , 965px 152px #FFF , 1884px 375px #FFF , 735px 1767px #FFF , 1131px 413px #FFF , 1580px 1658px #FFF , 188px 1618px #FFF , 728px 440px #FFF , 214px 1732px #FFF , 634px 1450px #FFF , 140px 27px #FFF , 30px 1395px #FFF , 1749px 536px #FFF , 150px 1911px #FFF , 1100px 1712px #FFF , 1229px 677px #FFF , 1783px 512px #FFF , 190px 607px #FFF , 1695px 1344px #FFF , 1488px 3px #FFF , 1793px 536px #FFF , 486px 246px #FFF , 1671px 1876px #FFF , 425px 1852px #FFF , 1962px 1085px #FFF , 1179px 1826px #FFF , 1794px 1937px #FFF , 609px 242px #FFF , 1590px 56px #FFF , 1463px 247px #FFF , 447px 163px #FFF , 1880px 919px #FFF , 1077px 1046px #FFF , 74px 1064px #FFF , 1928px 963px #FFF , 1058px 653px #FFF , 114px 2px #FFF , 1317px 131px #FFF , 1362px 1434px #FFF , 1871px 165px #FFF , 1426px 1077px #FFF , 453px 434px #FFF , 1854px 1875px #FFF , 1174px 121px #FFF , 178px 1104px #FFF , 1486px 163px #FFF , 1165px 1273px #FFF , 621px 27px #FFF , 1256px 1215px #FFF , 1256px 1072px #FFF , 34px 1170px #FFF , 1155px 142px #FFF , 1112px 881px #FFF , 1221px 1661px #FFF , 1652px 348px #FFF , 1702px 590px #FFF , 1837px 1532px #FFF , 809px 616px #FFF , 1741px 827px #FFF , 528px 1922px #FFF , 100px 1639px #FFF , 356px 302px #FFF , 1821px 1158px #FFF , 1617px 1407px #FFF , 1861px 10px #FFF , 1216px 1003px #FFF , 1219px 992px #FFF , 1360px 1657px #FFF , 269px 682px #FFF , 1039px 257px #FFF , 1098px 1854px #FFF , 982px 1279px #FFF , 1500px 1861px #FFF , 715px 1467px #FFF , 1585px 1280px #FFF , 233px 1496px #FFF , 286px 30px #FFF , 666px 1040px #FFF , 1246px 1774px #FFF , 1107px 1196px #FFF , 508px 181px #FFF , 203px 1086px #FFF , 1556px 1192px #FFF , 20px 746px #FFF , 176px 1301px #FFF , 1194px 789px #FFF , 1496px 807px #FFF , 869px 1593px #FFF , 832px 422px #FFF , 1941px 62px #FFF , 1578px 33px #FFF , 1598px 812px #FFF , 1553px 604px #FFF , 42px 297px #FFF , 1664px 1976px #FFF , 565px 1737px #FFF , 411px 695px #FFF , 749px 724px #FFF , 167px 343px #FFF , 666px 1754px #FFF , 1719px 1700px #FFF , 1787px 1241px #FFF , 1260px 27px #FFF , 1395px 903px #FFF , 758px 1372px #FFF , 1699px 1889px #FFF , 1452px 18px #FFF , 645px 484px #FFF , 1673px 562px #FFF , 1825px 123px #FFF , 1851px 753px #FFF , 727px 855px #FFF , 961px 125px #FFF , 1296px 271px #FFF , 770px 1112px #FFF , 719px 641px #FFF , 1024px 715px #FFF , 601px 1610px #FFF , 529px 507px #FFF , 296px 1584px #FFF , 1892px 1295px #FFF , 1267px 580px #FFF , 1679px 1329px #FFF , 931px 372px #FFF , 1125px 539px #FFF , 1317px 1822px #FFF , 901px 1736px #FFF , 110px 1295px #FFF , 1857px 30px #FFF , 1037px 1026px #FFF , 1485px 1428px #FFF , 70px 1766px #FFF , 582px 423px #FFF , 1726px 527px #FFF , 1749px 517px #FFF , 1804px 795px #FFF , 795px 1591px #FFF , 247px 1447px #FFF , 1083px 1726px #FFF , 686px 140px #FFF , 353px 1401px #FFF , 648px 491px #FFF , 746px 779px #FFF , 838px 521px #FFF , 1125px 1428px #FFF , 169px 989px #FFF , 1662px 765px #FFF , 1512px 59px #FFF , 1801px 197px #FFF , 373px 309px #FFF , 637px 1988px #FFF , 1351px 403px #FFF , 1195px 1584px #FFF , 1441px 1558px #FFF , 1303px 1449px #FFF , 1193px 60px #FFF , 458px 1093px #FFF , 1787px 1292px #FFF , 1172px 663px #FFF , 1459px 603px #FFF , 1115px 1115px #FFF , 509px 1995px #FFF , 1078px 1453px #FFF , 14px 742px #FFF , 1129px 129px #FFF , 1230px 105px #FFF , 1693px 1194px #FFF , 1801px 1811px #FFF , 1827px 1635px #FFF , 799px 1332px #FFF , 817px 1365px #FFF , 809px 309px #FFF , 1049px 1313px #FFF , 1747px 1625px #FFF , 1842px 1434px #FFF , 403px 783px #FFF , 1876px 36px #FFF , 1218px 1566px #FFF , 532px 206px #FFF , 1696px 142px #FFF , 1970px 553px #FFF , 840px 234px #FFF , 969px 142px #FFF , 1846px 1054px #FFF , 760px 1905px #FFF , 1885px 1244px #FFF , 1036px 1160px #FFF , 1151px 524px #FFF , 988px 1050px #FFF , 888px 1839px #FFF , 1207px 1308px #FFF , 493px 1247px #FFF , 804px 429px #FFF , 1330px 270px #FFF , 1786px 1496px #FFF , 822px 1954px #FFF , 638px 1633px #FFF , 916px 370px #FFF , 372px 1181px #FFF , 278px 108px #FFF , 1393px 385px #FFF , 1201px 1956px #FFF , 1957px 1173px #FFF , 1722px 177px #FFF , 66px 1509px #FFF , 840px 426px #FFF , 1893px 228px #FFF , 122px 1467px #FFF , 1874px 660px #FFF , 1546px 344px #FFF , 1706px 646px #FFF , 532px 674px #FFF , 695px 523px #FFF , 322px 273px #FFF , 199px 958px #FFF , 282px 882px #FFF , 380px 283px #FFF , 1776px 222px #FFF , 1297px 715px #FFF , 275px 1666px #FFF , 1899px 7px #FFF , 460px 550px #FFF , 996px 466px #FFF , 4px 1206px #FFF , 845px 50px #FFF , 980px 10px #FFF , 241px 984px #FFF , 1884px 1971px #FFF , 1882px 534px #FFF , 841px 1104px #FFF , 389px 178px #FFF , 104px 1984px #FFF , 1517px 1449px #FFF , 314px 682px #FFF , 1671px 279px #FFF , 497px 1203px #FFF , 376px 631px #FFF , 857px 1585px #FFF , 809px 1549px #FFF , 1213px 484px #FFF , 1223px 745px #FFF , 1778px 307px #FFF , 1510px 1445px #FFF , 1361px 90px #FFF , 1388px 1358px #FFF , 258px 624px #FFF , 1254px 1404px #FFF , 708px 668px #FFF , 899px 160px #FFF , 1013px 501px #FFF , 820px 875px #FFF , 1891px 334px #FFF , 1247px 469px #FFF , 1006px 155px #FFF , 1689px 722px #FFF , 203px 1177px #FFF , 362px 1581px #FFF , 615px 1133px #FFF , 338px 1664px #FFF , 300px 106px #FFF , 1122px 14px #FFF , 1098px 1434px #FFF , 281px 1952px #FFF , 527px 394px #FFF , 1230px 390px #FFF , 1647px 336px #FFF , 625px 1070px #FFF , 870px 1506px #FFF , 1803px 919px #FFF , 762px 834px #FFF , 328px 160px #FFF , 1311px 1125px #FFF , 101px 1167px #FFF , 1781px 1212px #FFF , 1640px 363px #FFF , 800px 1067px #FFF , 833px 1726px #FFF , 1266px 1582px #FFF , 280px 1663px #FFF , 376px 1027px #FFF , 1965px 1122px #FFF , 1342px 617px #FFF , 417px 784px #FFF , 372px 1263px #FFF , 296px 49px #FFF , 60px 226px #FFF , 197px 1179px #FFF , 1673px 1018px #FFF , 527px 249px #FFF , 432px 1289px #FFF , 1199px 458px #FFF , 1440px 294px #FFF , 438px 1188px #FFF , 726px 1514px #FFF , 103px 665px #FFF , 1309px 104px #FFF , 766px 1316px #FFF , 1060px 986px #FFF , 783px 1239px #FFF , 1290px 919px #FFF , 1595px 1246px #FFF , 885px 940px #FFF , 33px 588px #FFF , 463px 1217px #FFF , 1715px 1986px #FFF , 1717px 439px #FFF , 396px 142px #FFF , 67px 144px #FFF , 655px 361px #FFF , 842px 180px #FFF , 530px 932px #FFF , 1863px 561px #FFF , 386px 315px #FFF , 1265px 387px #FFF , 1116px 1547px #FFF , 836px 863px #FFF , 1834px 990px #FFF , 1332px 1062px #FFF , 916px 119px #FFF , 984px 1661px #FFF , 245px 1386px #FFF , 1078px 72px #FFF , 1843px 1602px #FFF , 502px 227px #FFF , 616px 1506px #FFF , 1656px 1101px #FFF , 1078px 789px #FFF , 1402px 261px #FFF , 642px 1281px #FFF , 1034px 1551px #FFF , 381px 1823px #FFF , 1248px 1507px #FFF , 830px 1327px #FFF , 1090px 1549px #FFF , 351px 1385px #FFF;
}

.stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 38px 1798px #FFF , 1104px 1731px #FFF , 1185px 937px #FFF , 1452px 654px #FFF , 1170px 1256px #FFF , 437px 335px #FFF , 228px 787px #FFF , 526px 1526px #FFF , 271px 1426px #FFF , 374px 1682px #FFF , 1859px 1431px #FFF , 1981px 1362px #FFF , 986px 328px #FFF , 493px 1575px #FFF , 726px 1418px #FFF , 396px 1839px #FFF , 439px 701px #FFF , 242px 1246px #FFF , 504px 476px #FFF , 1061px 622px #FFF , 693px 1140px #FFF , 104px 1396px #FFF , 773px 1452px #FFF , 1165px 1405px #FFF , 1487px 1796px #FFF , 1487px 865px #FFF , 508px 233px #FFF , 923px 1785px #FFF , 1290px 1227px #FFF , 1289px 286px #FFF , 1412px 597px #FFF , 292px 1385px #FFF , 512px 171px #FFF , 439px 1895px #FFF , 1955px 1379px #FFF , 381px 1336px #FFF , 665px 117px #FFF , 385px 1415px #FFF , 1159px 914px #FFF , 1475px 1860px #FFF , 794px 1484px #FFF , 437px 1031px #FFF , 478px 341px #FFF , 975px 1735px #FFF , 1567px 1419px #FFF , 1149px 688px #FFF , 783px 867px #FFF , 464px 999px #FFF , 1460px 1066px #FFF , 491px 1200px #FFF , 221px 143px #FFF , 1149px 988px #FFF , 1432px 984px #FFF , 572px 882px #FFF , 263px 1797px #FFF , 1451px 895px #FFF , 1707px 717px #FFF , 1915px 1243px #FFF , 1719px 831px #FFF , 742px 1715px #FFF , 1603px 945px #FFF , 18px 1025px #FFF , 917px 1303px #FFF , 147px 758px #FFF , 1823px 1352px #FFF , 1028px 1144px #FFF , 415px 1661px #FFF , 529px 1754px #FFF , 1424px 1868px #FFF , 701px 275px #FFF , 1488px 1699px #FFF , 217px 1815px #FFF , 1730px 1639px #FFF , 42px 1556px #FFF , 296px 1106px #FFF , 1959px 1112px #FFF , 492px 1840px #FFF , 1409px 207px #FFF , 531px 266px #FFF , 603px 333px #FFF , 929px 351px #FFF , 1698px 679px #FFF , 1434px 931px #FFF , 1021px 1156px #FFF , 1586px 1247px #FFF , 770px 1908px #FFF , 1519px 1185px #FFF , 204px 1361px #FFF , 376px 1576px #FFF , 357px 251px #FFF , 46px 18px #FFF , 646px 1851px #FFF , 31px 295px #FFF , 153px 1078px #FFF , 1405px 1123px #FFF , 687px 960px #FFF , 40px 727px #FFF , 766px 1140px #FFF , 788px 546px #FFF , 59px 19px #FFF , 1839px 1876px #FFF , 1397px 1786px #FFF , 258px 1758px #FFF , 1547px 1472px #FFF , 1866px 1822px #FFF , 1918px 5px #FFF , 965px 428px #FFF , 1598px 868px #FFF , 1551px 1477px #FFF , 981px 470px #FFF , 1821px 536px #FFF , 14px 988px #FFF , 124px 1420px #FFF , 529px 199px #FFF , 366px 312px #FFF , 544px 830px #FFF , 272px 67px #FFF , 483px 587px #FFF , 1440px 630px #FFF , 1308px 1806px #FFF , 851px 1248px #FFF , 563px 1105px #FFF , 1108px 510px #FFF , 294px 1163px #FFF , 1430px 1148px #FFF , 624px 947px #FFF , 220px 373px #FFF , 813px 1478px #FFF , 146px 1654px #FFF , 544px 885px #FFF , 48px 1758px #FFF , 1496px 547px #FFF , 1558px 915px #FFF , 1048px 823px #FFF , 1649px 510px #FFF , 536px 45px #FFF , 1184px 1842px #FFF , 1796px 46px #FFF , 139px 768px #FFF , 1201px 1467px #FFF , 773px 1677px #FFF , 1109px 969px #FFF , 72px 753px #FFF , 1915px 1408px #FFF , 1130px 1948px #FFF , 391px 233px #FFF , 381px 1907px #FFF , 122px 1593px #FFF , 899px 153px #FFF , 1729px 120px #FFF , 71px 1558px #FFF , 1562px 1150px #FFF , 1725px 273px #FFF , 1493px 824px #FFF , 1789px 777px #FFF , 1537px 1794px #FFF , 880px 209px #FFF , 670px 1252px #FFF , 1963px 1026px #FFF , 1157px 200px #FFF , 777px 1965px #FFF , 118px 1517px #FFF , 1745px 117px #FFF , 1483px 427px #FFF , 76px 584px #FFF , 1398px 1965px #FFF , 1660px 460px #FFF , 1484px 709px #FFF , 320px 1362px #FFF , 99px 1238px #FFF , 1642px 1769px #FFF , 333px 1901px #FFF , 1891px 566px #FFF , 512px 999px #FFF , 1695px 1117px #FFF , 1408px 1918px #FFF , 705px 1820px #FFF , 36px 1561px #FFF , 1639px 1275px #FFF , 983px 1434px #FFF , 1659px 1539px #FFF , 1654px 533px #FFF , 1064px 1098px #FFF , 727px 774px #FFF , 848px 1496px #FFF , 1958px 360px #FFF , 848px 760px #FFF , 1941px 1171px #FFF , 1026px 564px #FFF , 1479px 1623px #FFF , 1995px 35px #FFF , 731px 1558px #FFF , 736px 1861px #FFF , 13px 1809px #FFF , 1384px 1871px #FFF , 1683px 923px #FFF , 471px 582px #FFF , 112px 1902px #FFF , 854px 1401px #FFF , 536px 636px #FFF;
    animation: animStar 200s linear infinite;
}
.stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 38px 1798px #FFF , 1104px 1731px #FFF , 1185px 937px #FFF , 1452px 654px #FFF , 1170px 1256px #FFF , 437px 335px #FFF , 228px 787px #FFF , 526px 1526px #FFF , 271px 1426px #FFF , 374px 1682px #FFF , 1859px 1431px #FFF , 1981px 1362px #FFF , 986px 328px #FFF , 493px 1575px #FFF , 726px 1418px #FFF , 396px 1839px #FFF , 439px 701px #FFF , 242px 1246px #FFF , 504px 476px #FFF , 1061px 622px #FFF , 693px 1140px #FFF , 104px 1396px #FFF , 773px 1452px #FFF , 1165px 1405px #FFF , 1487px 1796px #FFF , 1487px 865px #FFF , 508px 233px #FFF , 923px 1785px #FFF , 1290px 1227px #FFF , 1289px 286px #FFF , 1412px 597px #FFF , 292px 1385px #FFF , 512px 171px #FFF , 439px 1895px #FFF , 1955px 1379px #FFF , 381px 1336px #FFF , 665px 117px #FFF , 385px 1415px #FFF , 1159px 914px #FFF , 1475px 1860px #FFF , 794px 1484px #FFF , 437px 1031px #FFF , 478px 341px #FFF , 975px 1735px #FFF , 1567px 1419px #FFF , 1149px 688px #FFF , 783px 867px #FFF , 464px 999px #FFF , 1460px 1066px #FFF , 491px 1200px #FFF , 221px 143px #FFF , 1149px 988px #FFF , 1432px 984px #FFF , 572px 882px #FFF , 263px 1797px #FFF , 1451px 895px #FFF , 1707px 717px #FFF , 1915px 1243px #FFF , 1719px 831px #FFF , 742px 1715px #FFF , 1603px 945px #FFF , 18px 1025px #FFF , 917px 1303px #FFF , 147px 758px #FFF , 1823px 1352px #FFF , 1028px 1144px #FFF , 415px 1661px #FFF , 529px 1754px #FFF , 1424px 1868px #FFF , 701px 275px #FFF , 1488px 1699px #FFF , 217px 1815px #FFF , 1730px 1639px #FFF , 42px 1556px #FFF , 296px 1106px #FFF , 1959px 1112px #FFF , 492px 1840px #FFF , 1409px 207px #FFF , 531px 266px #FFF , 603px 333px #FFF , 929px 351px #FFF , 1698px 679px #FFF , 1434px 931px #FFF , 1021px 1156px #FFF , 1586px 1247px #FFF , 770px 1908px #FFF , 1519px 1185px #FFF , 204px 1361px #FFF , 376px 1576px #FFF , 357px 251px #FFF , 46px 18px #FFF , 646px 1851px #FFF , 31px 295px #FFF , 153px 1078px #FFF , 1405px 1123px #FFF , 687px 960px #FFF , 40px 727px #FFF , 766px 1140px #FFF , 788px 546px #FFF , 59px 19px #FFF , 1839px 1876px #FFF , 1397px 1786px #FFF , 258px 1758px #FFF , 1547px 1472px #FFF , 1866px 1822px #FFF , 1918px 5px #FFF , 965px 428px #FFF , 1598px 868px #FFF , 1551px 1477px #FFF , 981px 470px #FFF , 1821px 536px #FFF , 14px 988px #FFF , 124px 1420px #FFF , 529px 199px #FFF , 366px 312px #FFF , 544px 830px #FFF , 272px 67px #FFF , 483px 587px #FFF , 1440px 630px #FFF , 1308px 1806px #FFF , 851px 1248px #FFF , 563px 1105px #FFF , 1108px 510px #FFF , 294px 1163px #FFF , 1430px 1148px #FFF , 624px 947px #FFF , 220px 373px #FFF , 813px 1478px #FFF , 146px 1654px #FFF , 544px 885px #FFF , 48px 1758px #FFF , 1496px 547px #FFF , 1558px 915px #FFF , 1048px 823px #FFF , 1649px 510px #FFF , 536px 45px #FFF , 1184px 1842px #FFF , 1796px 46px #FFF , 139px 768px #FFF , 1201px 1467px #FFF , 773px 1677px #FFF , 1109px 969px #FFF , 72px 753px #FFF , 1915px 1408px #FFF , 1130px 1948px #FFF , 391px 233px #FFF , 381px 1907px #FFF , 122px 1593px #FFF , 899px 153px #FFF , 1729px 120px #FFF , 71px 1558px #FFF , 1562px 1150px #FFF , 1725px 273px #FFF , 1493px 824px #FFF , 1789px 777px #FFF , 1537px 1794px #FFF , 880px 209px #FFF , 670px 1252px #FFF , 1963px 1026px #FFF , 1157px 200px #FFF , 777px 1965px #FFF , 118px 1517px #FFF , 1745px 117px #FFF , 1483px 427px #FFF , 76px 584px #FFF , 1398px 1965px #FFF , 1660px 460px #FFF , 1484px 709px #FFF , 320px 1362px #FFF , 99px 1238px #FFF , 1642px 1769px #FFF , 333px 1901px #FFF , 1891px 566px #FFF , 512px 999px #FFF , 1695px 1117px #FFF , 1408px 1918px #FFF , 705px 1820px #FFF , 36px 1561px #FFF , 1639px 1275px #FFF , 983px 1434px #FFF , 1659px 1539px #FFF , 1654px 533px #FFF , 1064px 1098px #FFF , 727px 774px #FFF , 848px 1496px #FFF , 1958px 360px #FFF , 848px 760px #FFF , 1941px 1171px #FFF , 1026px 564px #FFF , 1479px 1623px #FFF , 1995px 35px #FFF , 731px 1558px #FFF , 736px 1861px #FFF , 13px 1809px #FFF , 1384px 1871px #FFF , 1683px 923px #FFF , 471px 582px #FFF , 112px 1902px #FFF , 854px 1401px #FFF , 536px 636px #FFF;
}

.stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 263px 1663px #FFF , 1893px 125px #FFF , 1891px 619px #FFF , 1081px 1070px #FFF , 1666px 994px #FFF , 1756px 584px #FFF , 767px 531px #FFF , 1555px 508px #FFF , 1388px 1287px #FFF , 1569px 599px #FFF , 924px 412px #FFF , 84px 1950px #FFF , 610px 468px #FFF , 1993px 1077px #FFF , 239px 1154px #FFF , 1679px 770px #FFF , 1668px 1472px #FFF , 1277px 1506px #FFF , 609px 1853px #FFF , 77px 450px #FFF , 496px 721px #FFF , 923px 27px #FFF , 1396px 1589px #FFF , 178px 1980px #FFF , 84px 1184px #FFF , 147px 830px #FFF , 1269px 1410px #FFF , 1857px 1808px #FFF , 336px 1715px #FFF , 1112px 1675px #FFF , 1747px 1473px #FFF , 526px 1120px #FFF , 657px 1178px #FFF , 1056px 644px #FFF , 538px 753px #FFF , 428px 974px #FFF , 59px 1019px #FFF , 1050px 1394px #FFF , 517px 525px #FFF , 839px 525px #FFF , 567px 65px #FFF , 628px 655px #FFF , 1781px 939px #FFF , 863px 223px #FFF , 1035px 141px #FFF , 881px 1735px #FFF , 405px 1854px #FFF , 432px 244px #FFF , 1406px 1440px #FFF , 1366px 1607px #FFF , 122px 785px #FFF , 1693px 1082px #FFF , 896px 272px #FFF , 1650px 1527px #FFF , 329px 1112px #FFF , 1721px 1610px #FFF , 284px 1327px #FFF , 1672px 431px #FFF , 1191px 1125px #FFF , 1387px 695px #FFF , 1453px 1083px #FFF , 470px 1283px #FFF , 487px 687px #FFF , 1594px 601px #FFF , 1965px 1350px #FFF , 261px 244px #FFF , 121px 1920px #FFF , 157px 784px #FFF , 180px 984px #FFF , 1994px 1871px #FFF , 1872px 850px #FFF , 377px 186px #FFF , 3px 389px #FFF , 637px 836px #FFF , 1560px 1900px #FFF , 183px 786px #FFF , 1369px 1007px #FFF , 1369px 1913px #FFF , 515px 1518px #FFF , 1596px 192px #FFF , 225px 602px #FFF , 295px 115px #FFF , 797px 399px #FFF , 1036px 245px #FFF , 1810px 697px #FFF , 659px 1742px #FFF , 1753px 1637px #FFF , 1045px 450px #FFF , 1093px 1552px #FFF , 1349px 42px #FFF , 1675px 1509px #FFF , 1947px 653px #FFF , 1256px 1654px #FFF , 26px 1634px #FFF , 1265px 1787px #FFF , 152px 216px #FFF , 1138px 1034px #FFF , 997px 1946px #FFF , 1102px 77px #FFF , 877px 1657px #FFF;
    animation: animStar 300s linear infinite;
}
.stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 263px 1663px #FFF , 1893px 125px #FFF , 1891px 619px #FFF , 1081px 1070px #FFF , 1666px 994px #FFF , 1756px 584px #FFF , 767px 531px #FFF , 1555px 508px #FFF , 1388px 1287px #FFF , 1569px 599px #FFF , 924px 412px #FFF , 84px 1950px #FFF , 610px 468px #FFF , 1993px 1077px #FFF , 239px 1154px #FFF , 1679px 770px #FFF , 1668px 1472px #FFF , 1277px 1506px #FFF , 609px 1853px #FFF , 77px 450px #FFF , 496px 721px #FFF , 923px 27px #FFF , 1396px 1589px #FFF , 178px 1980px #FFF , 84px 1184px #FFF , 147px 830px #FFF , 1269px 1410px #FFF , 1857px 1808px #FFF , 336px 1715px #FFF , 1112px 1675px #FFF , 1747px 1473px #FFF , 526px 1120px #FFF , 657px 1178px #FFF , 1056px 644px #FFF , 538px 753px #FFF , 428px 974px #FFF , 59px 1019px #FFF , 1050px 1394px #FFF , 517px 525px #FFF , 839px 525px #FFF , 567px 65px #FFF , 628px 655px #FFF , 1781px 939px #FFF , 863px 223px #FFF , 1035px 141px #FFF , 881px 1735px #FFF , 405px 1854px #FFF , 432px 244px #FFF , 1406px 1440px #FFF , 1366px 1607px #FFF , 122px 785px #FFF , 1693px 1082px #FFF , 896px 272px #FFF , 1650px 1527px #FFF , 329px 1112px #FFF , 1721px 1610px #FFF , 284px 1327px #FFF , 1672px 431px #FFF , 1191px 1125px #FFF , 1387px 695px #FFF , 1453px 1083px #FFF , 470px 1283px #FFF , 487px 687px #FFF , 1594px 601px #FFF , 1965px 1350px #FFF , 261px 244px #FFF , 121px 1920px #FFF , 157px 784px #FFF , 180px 984px #FFF , 1994px 1871px #FFF , 1872px 850px #FFF , 377px 186px #FFF , 3px 389px #FFF , 637px 836px #FFF , 1560px 1900px #FFF , 183px 786px #FFF , 1369px 1007px #FFF , 1369px 1913px #FFF , 515px 1518px #FFF , 1596px 192px #FFF , 225px 602px #FFF , 295px 115px #FFF , 797px 399px #FFF , 1036px 245px #FFF , 1810px 697px #FFF , 659px 1742px #FFF , 1753px 1637px #FFF , 1045px 450px #FFF , 1093px 1552px #FFF , 1349px 42px #FFF , 1675px 1509px #FFF , 1947px 653px #FFF , 1256px 1654px #FFF , 26px 1634px #FFF , 1265px 1787px #FFF , 152px 216px #FFF , 1138px 1034px #FFF , 997px 1946px #FFF , 1102px 77px #FFF , 877px 1657px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
</style>
