<template>
    <span v-if="craftObject">
        [<span
            v-for="mod in Object.keys(craftObject.craftObject)"
            :class="'craft craft-mod-' + mod"
            :key="_uid + mod"
            v-tooltip="craftObject.craftDesc()[mod]"
        >{{ mod }}{{ craftObject.craftObject[mod] }}</span>]
    </span>
</template>

<script>
import Craft from 'JS/app/utils/hwm/objects/Craft';

export default {
    props: ['craft'],
    data() {
        return {
            craftObject: null,
        };
    },
    created() {
        if (this.craft) {
            this.craftObject = new Craft(this.craft);
            if (!this.craftObject.isValid()) {
                this.craftObject = null;
            }
        }
    },
};
</script>

<style>
    .craft-mod-I {
        color: #a7a200;
    }
    .craft-mod-E {
        color: #804806;
    }
    .craft-mod-A {
        color: #4d4e81;
    }
    .craft-mod-W {
        color: #5dbcd2;
    }
    .craft-mod-F {
        color: #8c2414;
    }
    .craft-mod-D {
        color: #b8b78a;
    }
    .craft-mod-N {
        color: #1b5e16;
    }
</style>
