<template>
    <div class="feedback">
        <loading
            type="block"
            :show="loading"
        />
        <form
            ref="form"
            action="#"
            method="POST"
        >
            <div class="form-group">
                <input
                    v-model="name"
                    type="text"
                    class="form-control"
                    :placeholder="$t('validation.attributes.name')"
                    maxlength="255"
                >
            </div>
            <div class="form-group">
                <input
                    v-model="email"
                    type="email"
                    class="form-control"
                    :placeholder="$t('validation.attributes.email')"
                    maxlength="255"
                >
                <small class="form-text text-muted">{{ $t('app.feedback.for_callback') }}</small>
            </div>
            <div class="form-group">
                <textarea
                    v-model="message"
                    class="form-control"
                    :class="{'is-invalid': !message.length, 'is-valid': message.length}"
                    rows="5"
                    :placeholder="$t('app.feedback.message_placeholder')"
                    maxlength="10000"
                    name="message"
                />
                <small
                    v-if="!message.length"
                    class="form-text"
                    :class="{'text-danger': !message.length, 'text-success': message.length}"
                    v-html="'* ' + $t('validation.required', { attribute: ''})"
                />
            </div>
            <div class="form-group">
                <b-form-file
                    multiple
                    accept="image/jpeg, image/png, image/gif"
                    :browse-text="$t('app.main.browse')"
                    :disabled="attachments.length >= maxAttachments"
                    @input="setAttachments"
                >
                    <div slot="placeholder">
                        {{ $t('app.feedback.attach_files') }}
                    </div>
                    <div slot="file-name">
                        <span>{{ attachments.length >= maxAttachments ? $t('app.feedback.max_count_files', { max: maxAttachments}) : $t('app.feedback.attach_files') }}</span>
                    </div>
                    <div slot="drop-placeholder">
                        {{ $t('app.feedback.attach_files') }}
                    </div>
                </b-form-file>
                <div v-if="attachments.length">
                    <p
                        v-b-toggle.feedbackAttachments
                        class="mt-2 mb-1 d-flex justify-content-between"
                    >
                        <span>{{ $t('app.feedback.selected_files_with_size', { files: attachments.length, size: totalSize(attachments) | formatBytes}) }}</span>
                        <span class="when-opened">
                            <icon name="arrow_up" />
                        </span>
                        <span class="when-closed">
                            <icon name="arrow_down" />
                        </span>
                    </p>

                    <b-collapse
                        id="feedbackAttachments"
                        role="tabpanel"
                    >
                        <ul class="list-group">
                            <li
                                v-for="(file, index) in attachments"
                                :key="file.name"
                                class="list-group-item"
                                :class="{'bg-secondary': ! (index % 2)}"
                            >
                                {{ file.name }}, {{ file.size | formatBytes }}
                                <icon
                                    name="close"
                                    @click.native="removeFile(index)"
                                />
                            </li>
                        </ul>
                    </b-collapse>
                </div>
            </div>
        </form>
        <hr>
        <c-button
            type="primary"
            block
            :text="$t('app.main.sent')"
            :disabled="!canSendRequest"
            @click.native="sendRequest"
        />
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
import { BFormFile } from 'bootstrap-vue';
import find from 'lodash/find';
import notify from 'JS/app/utils/notify';

export default {
    components: {
        'b-form-file': BFormFile,
    },
    data() {
        return {
            maxAttachments: 10,
            maxFileSize: 3000000,
            loading: false,
            name: null,
            email: null,
            message: '',
            attachments: [],
        };
    },
    mounted() {
        if (this.user && !this.email) {
            this.email = this.user.email;
        }
    },
    methods: {
        ...mapActions('User', [
            'sendFeedback',
        ]),
        removeFile(index) {
            this.attachments.splice(index, 1);
        },
        sendRequest() {
            if (!this.canSendRequest) {
                return;
            }

            const params = {
                name: this.name,
                email: this.email,
                message: this.message,
                attachments: this.attachments,
                user_id: this.user ? this.user.id : null,
                cookie_userid: this.$config.app.userid,
                source_page: window.location.href,
            };

            this.loading = true;
            this.sendFeedback(params).then(() => {
                this.loading = false;
                notify.success(this.$t('app.main.successfuly_sent'));
                this.clearFields();
                this.$emit('submit');
            }).catch(() => {
                this.loading = false;
            });
        },
        setAttachments(files) {
            files.forEach((file) => {
                if (!find(this.attachments, (item) => item.name === file.name
                        && item.size === file.size
                        && item.lastModified === file.lastModified)) {
                    if (file.size > this.maxFileSize) {
                        notify.warning(this.$t('app.feedback.max_file_size', { size: this.$options.filters.formatBytes(this.maxFileSize) }), this.$t('app.feedback.file_is_so_big', { file: file.name }));
                        return;
                    }
                    this.attachments.push(file);
                }
            });
            if (this.attachments.length > this.maxAttachments) {
                this.attachments = files.splice(0, this.maxAttachments);
            }
        },
        clearFields() {
            this.name = null;
            this.email = null;
            this.message = '';
            this.attachments = [];
        },
        totalSize(files) {
            let bytes = 0;
            files.forEach((file) => {
                bytes += file.size;
            });
            return bytes;
        },
    },
    computed: {
        ...mapGetters('User', {
            user: 'getUser',
        }),
        canSendRequest() {
            return this.message.length && this.attachments.length <= this.maxAttachments;
        },
    },
};
</script>
<style lang="scss">
    .feedback {
        .collapsed > .when-opened,
        :not(.collapsed) > .when-closed {
            display: none;
        }
        .custom-file-label {
            cursor: pointer;
        }
        .custom-file-label:after {
            background-color: #375a7f;
            border-color: #375a7f;
            color: #f2f2f2;
        }
    }
</style>
