<template>
    <b-alert
        variant="warning"
        show
        dismissible
        class="font-lg"
    >
        <span v-html="$t('app.lots_not_working_reason', {link, lots: $t('app.main.statictic_market'), filters: $t('app.main.filters')})" />
        <span v-html="$t('app.lots_not_working_admin')" />
    </b-alert>
</template>

<script>
export default {
    data() {
        return {
            link: 'https://my.lordswm.com/forum_messages.php?tid=2979717',
        };
    },
};
</script>

<style scoped>
.alert {
  text-align: center;
  font-size: 1rem;
}

.alert span {
  display: block;
}
</style>
