<template>
    <icon v-if="props.sortable" :name="icon" size="sm" class="fa-pull-right curp ml-1" style="margin-top: 4px"/>
</template>

<script>
export default {
    name: 'VtSortControl',
    props: ['props'],
    computed: {
        icon() {
            // sortStatus = { sorted: Boolean, asc: Boolean }
            // if not sorted return base icon
            if (!this.props.sortStatus.sorted) return 'sort';

            // return sort direction icon
            return this.props.sortStatus.asc ? 'sort_up' : 'sort_down';
        },
    },
};
</script>
