<template>
    <div class="select-art">
        <multiselect
            v-model="resource"
            :options="filteredResources"
            :loading="isLoading"
            label="title"
            :placeholder="$t('app.lots.entity_types.resource')"
            select-label=""
            deselect-label=""
            selected-label=""
            :max-height="400"
            :allow-empty="true"
            @input="onSelect"
        >
            <template
                slot="singleLabel"
                slot-scope="props"
            >
                <img
                    class="option__image art-img"
                    :src="props.option.image"
                    :alt="props.option.hwmId"
                >
                <span class="option__desc">
                        <span class="option__title">{{ props.option.title }}</span>
                    </span>
            </template>
            <template
                slot="option"
                slot-scope="props"
            >
                <img
                    class="option__image art-img"
                    :src="props.option.image"
                    :alt="props.option.hwmId"
                />
                <span
                    v-if="props.option.hwmId"
                    class="option__desc"
                >
                        <span class="option__title">{{ props.option.title }}</span>
                </span>
            </template>
        </multiselect>
    </div>
</template>

<script>
// Multiselect
import Multiselect from 'vue-multiselect';
import { mapGetters } from 'vuex';

export default {
    components: {
        Multiselect,
    },
    props: {
        hwmId: {
            type: String,
            default: null,
        },
        onlyMarket: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            resource: null,
            isLoading: false,
            marketResources: ['wood', 'ore', 'mercury', 'sulfur', 'crystal', 'gem'],
        };
    },
    methods: {
        onSelect() {
            if (this.resource && this.resource.hwmId) {
                this.$emit('select', this.resource);
            } else {
                this.resource = null;
            }
        },
        setResourceByHwmId(hwmId) {
            const [firstResource] = this.resources.filter((res) => res.hwmId === hwmId);

            if (firstResource) {
                this.resource = firstResource;
            }
        },
    },
    computed: {
        ...mapGetters('Hwm', {
            resources: 'getResources',
        }),
        filteredResources() {
            if (this.onlyMarket) {
                return this.resources.filter((res) => this.marketResources.includes(res.hwmId));
            }

            return this.resources;
        },
    },
    created() {
        if (this.hwmId) {
            this.setResourceByHwmId(this.hwmId);
        }
    },
};
</script>
