<template>
    <div class="select-art">
        <multiselect
            v-model="element"
            :options="elements"
            :loading="isLoading"
            label="title"
            :placeholder="$t('app.lots.entity_types.element')"
            select-label=""
            deselect-label=""
            selected-label=""
            :max-height="400"
            :allow-empty="true"
            @input="onSelectElement"
        >
            <template
                slot="singleLabel"
                slot-scope="props"
            >
                <img
                    class="option__image art-img"
                    :src="props.option.image"
                    :alt="props.option.hwmId"
                >
                <span class="option__desc">
                        <span class="option__title">{{ props.option.title }}</span>
                    </span>
            </template>
            <template
                slot="option"
                slot-scope="props"
            >
                <img
                    class="option__image art-img"
                    :src="props.option.image"
                    :alt="props.option.hwmId"
                />
                <span
                    v-if="props.option.hwmId"
                    class="option__desc"
                >
                        <span class="option__title">{{ props.option.title }}</span>
                </span>
            </template>
        </multiselect>
    </div>
</template>

<script>
// Multiselect
import Multiselect from 'vue-multiselect';
import { mapGetters } from 'vuex';

export default {
    components: {
        Multiselect,
    },
    props: {
        hwmId: {
            type: String,
            default: null,
        },
    },
    data() {
        return {
            element: null,
            isLoading: false,
        };
    },
    methods: {
        onSelectElement() {
            if (this.element && this.element.hwmId) {
                this.$emit('select', this.element);
            } else {
                this.element = null;
            }
        },
        setElementByHwmId(hwmId) {
            const [firstElement] = this.elements.filter((element) => element.hwmId === hwmId);

            if (firstElement) {
                this.element = firstElement;
            }
        },
    },
    computed: {
        ...mapGetters('Hwm', {
            elements: 'getElements',
        }),
    },
    mounted() {
        if (this.hwmId) {
            this.setElementByHwmId(this.hwmId);
        }
    },
};
</script>
