<template>
    <div class="select-art">
        <select
            v-model="mapArea"
            class="custom-select custom-select-sm w-auto"
        >
            <option :value="null">
                {{ $i18n.t('app.main.all') }}
            </option>
            <option
                v-for="mapArea in mapAreas"
                :key="mapArea.hwmId"
                :value="mapArea.hwmId"
            >
                {{ mapArea.title }}
            </option>
        </select>
    </div>
</template>

<script>
// Multiselect
import { mapGetters } from 'vuex';

export default {
    props: {
        hwmId: {
            type: String,
            default: null,
        },
    },
    data() {
        return {
            mapArea: null,
            isLoading: false,
        };
    },
    watch: {
        mapArea() {
            this.$emit('select', this.mapArea);
        },
    },
    methods: {
        setAreaByHwmId(hwmId) {
            const [firstElement] = this.mapAreas.filter((mapArea) => mapArea.hwmId === hwmId);

            if (firstElement) {
                this.mapArea = firstElement;
            }
        },
    },
    computed: {
        ...mapGetters('Hwm', {
            mapAreas: 'getMapAreas',
        }),
    },
    mounted() {
        if (this.hwmId) {
            this.setAreaByHwmId(this.hwmId);
        }
    },
};
</script>
