<template>
    <b-nav-item-dropdown
        v-if="selectedLocale"
        id="selectLocale"
    >
        <template v-slot:button-content>
            <span v-tooltip="selectedLocale.native">
                <img
                    :src="'/images/icons/flags/' + selectedLocale.iso + '.svg'"
                    :alt="selectedLocale.name"
                    width="21"
                    height="14"
                >
            </span>
        </template>
        <b-dropdown-item
            v-for="locale in localesWithoutCurrent"
            :key="locale.iso"
            v-tooltip="locale.name"
            :href="'#' + locale.iso"
            @click.native.prevent="changeLocale(locale)"
        >
            <img
                :src="'/images/icons/flags/' + locale.iso + '.svg'"
                :alt="locale.name"
                width="21"
                height="14"
            >
            <span class="align-middle">{{ locale.native }}</span>
        </b-dropdown-item>
    </b-nav-item-dropdown>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import forEach from 'lodash/forEach';
import find from 'lodash/find';
import config from 'JS/app/config';

export default {
    data() {
        return {
            selectedLocale: null,
            locales: [],
        };
    },
    methods: {
        ...mapActions('User', [
            'setLocale',
        ]),
        changeLocale(locale) {
            this.selectedLocale = locale;

            this.setLocale(locale.iso).then(() => {
                window.location.reload();
            });
        },
    },
    computed: {
        ...mapGetters('User', {
            user: 'getUser',
        }),
        localesWithoutCurrent() {
            return this.locales.filter((locale) => this.selectedLocale && locale.iso !== this.selectedLocale.iso);
        },
    },
    created() {
        this.locales = [];
        forEach(config.app.locales, (item, key) => {
            const locale = { ...item };
            locale.iso = key;
            this.locales.push(locale);
        });

        this.selectedLocale = find(this.locales, (locale) => locale.iso === config.app.locale);
    },
};
</script>
