<template>
    <div class="select-art">
        <div v-if="type === 'select'">
            <multiselect
                v-model="targetArt"
                :options="handleArts"
                :loading="loadingArts || loadingMarketCategories"
                group-values="arts"
                group-label="category"
                :group-select="false"
                label="title"
                :placeholder="$t('app.art.enter_art_name')"
                select-label=""
                deselect-label=""
                selected-label=""
                :max-height="500"
                :allow-empty="true"
                @input="inputSelectedArt"
            >
                <template
                    slot="singleLabel"
                    slot-scope="props"
                >
                    <img
                        class="option__image art-img"
                        @error="errorLoadArtImg"
                        :src="props.option.images.small.fullUrl"
                        :alt="props.option.hwmId"
                    >
                    <span class="option__desc">
                        <span class="option__title">{{ props.option.title }}</span>
                    </span>
                </template>
                <template
                    slot="option"
                    slot-scope="props"
                >
                    <div
                        v-if="props.option.hwmId"
                        :class="' mr-2 art-img art-img-bg art_small-default art_small-' + props.option.hwmId"
                        :title="props.option.title"
                    />
                    <span
                        v-if="props.option.hwmId"
                        class="option__desc"
                    >
                        <span class="option__title">{{ props.option.title }}</span>
                    </span>
                    <div
                        v-if="!props.option.hwmId"
                        class="text-center"
                    >
                        {{ props.option.$groupLabel }}
                    </div>
                </template>
            </multiselect>
        </div>
        <div
            v-if="type === 'list'"
            class="arts-list-accordion"
        >
            <div class="list-group accordion">
                <a
                    v-for="item in handleArts"
                    :key="item.categoryId"
                    v-b-toggle="'category-' + item.categoryId"
                    class="list-group-item list-group-item-action"
                    href="#"
                    @click.prevent
                >
                    {{ item.category }} ({{ item.arts.length }})
                    <b-collapse
                        :id="'category-' + item.categoryId"
                        :ref="'collapse-category-' + item.categoryId"
                        :accordion="'accordion-' + _uid"
                        class="list-group"
                    >
                        <a
                            v-for="art in item.arts"
                            :key="art.hwmId"
                            href="#"
                            class="btn btn-link text-left"
                            :class="{'disabled': targetArt && art.hwmId === targetArt.hwmId}"
                            :disabled="targetArt && art.hwmId === targetArt.hwmId"
                            @click.prevent="selectArtFromList(art, item.categoryId)"
                        >
                            <div
                                :class="' mr-2 art-img art-img-bg art_small-default art_small-' + art.hwmId"
                            />
                            {{ art.title }}
                        </a>
                    </b-collapse>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
// Multiselect
import first from 'lodash/first';
import Multiselect from 'vue-multiselect';
import { mapActions, mapGetters } from 'vuex';

import config from 'JS/app/config';
import { addStyleToDocument, errorLoadArtImg } from 'JS/app/utils/helpers';

export default {
    components: {
        Multiselect,
    },
    props: {
        art: {
            required: false,
        },
        type: {
            type: String,
            default: 'select',
        },
        categoryType: {
            type: String,
            default: 'art',
        },
        onlyWithCategory: {
            type: Boolean,
            default: false,
        },
        skipEmptyCategory: {
            type: Boolean,
            default: false,
        },
        clearAfterSelect: {
            type: Boolean,
            default: false,
        },
        artHwmId: {
            type: String,
            default: null,
        },
        marketCategoryId: {
            type: String,
            default: null,
        },
    },
    data() {
        return {
            targetArt: null,
            categoryAlias: '',
            category: '',
        };
    },
    methods: {
        ...mapActions('Arts', [
            'loadArts',
            'loadCategories',
        ]),
        errorLoadArtImg(event) {
            errorLoadArtImg(event);
        },
        inputSelectedArt() {
            if (this.targetArt && this.targetArt.hwmId) {
                this.$emit('select-art', this.targetArt);
                if (this.clearAfterSelect) {
                    this.targetArt = null;
                }
            } else {
                this.targetArt = null;
            }
        },
        selectArtFromList(art) {
            if (this.targetArt && art.hwmId === this.targetArt.hwmId) {
                return;
            }

            this.targetArt = art;

            this.inputSelectedArt();
        },
        openSelectedListFromAccordion() {
            if (this.targetArt && this.targetArt.categoryId) {
                // open list
                const element = first(this.$refs[`collapse-category-${this.targetArt.categoryId}`]);
                if (element) {
                    element.show = true;
                }
            }
        },
    },
    computed: {
        handleArts() {
            const groupedArts = [];
            let categories = this[this.category];

            if (this.categoryType === 'market' && this.marketCategoryId && categories[this.marketCategoryId]) {
                categories = {
                    [this.marketCategoryId]: categories[this.marketCategoryId],
                };
            }

            Object.keys(categories).forEach((catId) => {
                groupedArts.push({
                    category: categories[catId],
                    categoryId: catId,
                    arts: this.arts.filter((art) => art[this.categoryAlias] === catId),
                });
            });
            if (!this.skipEmptyCategory) {
                // Push uncategories arts
                groupedArts.push({
                    category: this.$t('app.art.no_category'),
                    categoryId: null,
                    arts: this.arts.filter((art) => !art[this.categoryAlias]),
                });
            }

            return groupedArts.filter((group) => group.arts.length);
        },
        ...mapGetters('Arts', {
            arts: 'getArts',
            marketCategories: 'getMarketCategories',
            categories: 'getCategories',
            loadingArts: 'getLoadingArts',
            loadingMarketCategories: 'getLoadingMarketCategories',
        }),
    },
    watch: {
        art() {
            this.targetArt = this.art;
        },
        targetArt() {
            this.openSelectedListFromAccordion();
        },
    },
    created() {
        addStyleToDocument(`/storage/sprite_small.css?${config.app.sprite_key}`);

        if (this.categoryType === 'market') {
            this.category = 'marketCategories';
            this.categoryAlias = 'marketCategoryId';
        } else {
            this.category = 'categories';
            this.categoryAlias = 'categoryId';
        }

        this.loadCategories(this.category);

        this.loadArts().then(() => {
            this.targetArt = this.art;

            if (!this.targetArt && this.artHwmId) {
                this.targetArt = this.arts.filter((art) => art.hwmId === this.artHwmId)[0] || null;
            }
        });
    },
};
</script>
