<template />

<script>
export default {
    data() {
        return {
            link: 'https://my.lordswm.com/forum_messages.php?tid=2979717',
        };
    },
};
</script>

<style scoped>
.alert {
  text-align: center;
  font-size: 1rem;
}

.alert span {
  display: block;
}
</style>
