<template>
    <v-popover class="align-top" v-cloak>
       <a href="#" @click.prevent class="tooltip-target" v-tooltip="$t('app.main.examples_of_using')">
           <icon name="video"></icon>
       </a>
        <template slot="popover">
            <p v-for="item in video_guides" :key="item.link">
                {{ item.desc }}&nbsp;&nbsp;
                <a :href="item.link" target="_blank" v-tooltip="$t('app.main.watch_video')"><icon name="link"></icon></a>
            </p>
       </template>
    </v-popover>
</template>
<script>
import { videoGuides } from 'JS/app/utils/hwm/static';

export default {
    data() {
        return {
            video_guides: videoGuides,
        };
    },
};
</script>
