<template>
    <section :class="gradient + ' ' + direction">
        <div class="container">
            <div class="head" ref="head">
                <h2 class="mb-4">{{ title}}</h2>
                <p v-if="desc">{{ desc }}</p>
            </div>
            <div class="body">
                <div class="row" :class="{'flex-row-reverse': direction === 'right'}">
                    <div :class="'col-lg-' + lSize" ref="text">
                        <slot name="text"></slot>
                        <router-link :to="link" class="font-weight-bold">
                            {{ $t('app.main.go_to_link') | capitalize }}
                        </router-link>
                    </div>
                    <div class="images" :class="'col-lg-' + rSize" ref="images">
                        <slot name="images"></slot>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import AOS from 'aos';
import 'aos/dist/aos.css';

export default {
    props: {
        direction: {
            type: String,
            default: 'left',
        },
        title: {
            type: String,
            required: true,
        },
        desc: {
            type: String,
            default: null,
        },
        link: {
            type: String,
            default: null,
        },
        gradient: {
            type: String,
            default: null,
        },
        rightSize: {
            type: Number,
            default: 5,
        },
    },
    data() {
        return {
            rSize: this.rightSize,
            lSize: 12 - this.rightSize,
        };
    },
    mounted() {
        this.$refs.head.setAttribute('data-aos', 'fade-in');
        this.$refs.head.setAttribute('data-aos-offset', '200');
        this.$refs.text.setAttribute('data-aos', 'fade-right');
        this.$refs.text.setAttribute('data-aos-offset', '250');
        this.$refs.text.setAttribute('data-aos-delay', '500');
        this.$refs.images.setAttribute('data-aos', 'fade-left');

        if (this.direction === 'right') {
            this.$refs.text.setAttribute('data-aos', 'fade-left');
            this.$refs.images.setAttribute('data-aos', 'fade-right');
        }

        AOS.init({
            once: true,
        });
    },
};
</script>

<style lang="scss">
    section {
        justify-content: center;
        align-items: center;
        padding: 4rem 0 4.5rem;
        font-size: 1.125rem;
        overflow: hidden;

        .head {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 4rem;
            h2 {
                font-size: 2.75rem;
            }
            p {
                font-size: 1.375rem;
                max-width: 50ch;
                margin-bottom: 0;
            }
        }
        .row {
            align-items: center;
            margin-bottom: 2rem;

            p:last-child {
                margin-bottom: 1rem!important;
            }
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                margin-bottom: .625rem;
                line-height: 1.25;
            }
            li:last-child {
                margin-bottom: 0;
            }

            margin-bottom: 1rem;
        }
        &.left .images {
            padding-left: 4rem;
        }
        &.right .images {
            padding-right: 4rem;
        }
        .images {
            img {
                max-width: 100%;
                height: auto;
            }

            .img-1 {
                transform: scale(1.2);
            }
            .img-2 {

            }
            .img-3 {
                position: relative;
                top: 15px;
                left: -20px;
                transform: scale(1.2);
            }
            .img-4 {

            }
            .img-5 {
                transform: scale(1.2) rotate(-6deg);
                position: relative;
                left: 40px;
            }
        }
    }

    @media (max-width: 992px) {
        section {
            .row {
                > div {
                    margin-bottom: 1rem;
                    text-align: justify;
                }
                .images {
                    padding: 0 !important;
                    text-align: center;
                }
                img {
                    position: static !important;
                    transform: scale(1) !important;
                }
            }
        }
    }
    .gradient-1, .gradient-3, .gradient-5 {
        background-image: linear-gradient(to bottom, #000000 0%, #162433 5%, #273f59 20%, #325172 35%, #375a7f 50%, #325172 65%, #273f59 80%, #162433 95%, #000000 100%);
    }
    .gradient-2, .gradient-4 {
        background-image: linear-gradient(to bottom, #000000 0%, #00261c 5%, #00382a 20%, #004b38 35%, #005e46 50%, #004b38 65%, #00382a 80%, #00261c 95%, #000000 100%);
    }
    .gradient-5 {
        background-image: linear-gradient(to bottom, #000000 0%, #21364c 5%, #273f59 20%, #2c4866 35%, #325172 50%, #2c4866 65%, #21364c 80%, #162433 87%, #101b26 100%);
    }
</style>
